{% extends "layout.html" %}
{% block content %}
{% macro display_bounty_list(bounty_list, status) -%}
<table class="table table-dark table-hover">
  <thead>
  <tr>
    <th scope="col">Player</th>
    <th scope="col">Skills</th>
    <th scope="col">Coach</th>
    <th scope="col">League</th>
    <th scope="col" class="text-center">Spp</th>
  </tr>
  </thead>
  <tbody>
  {% for bounty in bounty_list %}
  {% if bounty.status == status %}
  <tr>
    <th scope="row">
      <div class="media">
        {% if bounty.race %}
        <img src="static/spike_resources/img/pictos/{{bounty.race}}.png" class="align-self-center mr-3" style="max-height:40px;">
        {% endif %}
        <div class="media-body">
          {{bounty.name}}
          <div class="text-muted"><small>{{bounty.player_type}}</small></div>
        </div>
      </div>
    </th>
    <td>
      {% if bounty.skills %}
      {% for skill in bounty.skills %}
      <img src="static/spike_resources/img/skillicons/{{skill}}.png" style="width:20px;"/>
      {% if loop.index % 4 == 0 and loop.index != bounty.skills|length%}
      <br>
      {% endif %}
      {% endfor %}
      {% endif %}
    </td>
    <td>
      {{bounty.coach_name}}
      <div class="text-muted"><small>{{bounty.team_name}}</small></div>
    </td>
    <td>
      {{bounty.league_name}}
      <div class="text-muted"><small>{{bounty.competition_name}}</small></div>
    </td>
    <td class="text-center">
      {% if bounty.spp %}
      {{bounty.spp}}
      {% endif %}
    </td>
  </tr>
  {% endif %}
  {% endfor %}
  </tbody>
</table>
{%- endmacro %}
<div class="content-section">
  <legend class="border-bottom mb-4">Bounty</legend>
  {% if bounty_list %}
  {{ display_bounty_list(bounty_list, 0) }}
  {% else %}
  <br><p class="text-center">You don't have any active bounty.</p>
  <p class="text-center">You can add bounty with spike bot on discord by clicking on <img src="static/spike_resources/img/misc/bounty.png" style="width:20px; height:20px;"/> reaction on team and match report.</p>
  {% endif%}
</div>
{% endblock content %}