{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <legend class="border-bottom mb-4">An error occurred</legend>

    {% if error_code %}
        <p class="text-justify">{{ error_description }}</p>
    {% else %}
        <p class="text-center">Unknown error</p>
    {% endif %}
</div>
{% endblock content %}