{% extends "layout.html" %}
{% block content %}

<div class="content-section">
    <legend class="border-bottom mb-4"><h1>Spike!</h1></legend>
    <p class="text-justify">Spike is a Blood Bowl 2 discord bot, you can <a class="link-white" href="https://discordapp.com/oauth2/authorize?client_id=466883259607941150&scope=bot&permissions=268958793">invite
        Spike</a> on your server and join his discord server too.</p>
    <p class="text-justify">Spike can automatically generate match report for all your leagues/competitions, it allows you to display team overview and scheduled match directly in discord.
        If you want you can join the project, Spike bot is open source on <a class="link-white" href="https://bitbucket.org/Poncho_dlv/spike"><i class="fab fa-bitbucket"></i> Bitbucket</a> feel free to fork, contribute or what you want.
    </p>

    <p class="text-justify">Spike was created by Poncho dlv, and you can support the project on <a class="link patreon-color" href="https://www.patreon.com/spikebot" rel="noopener" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Support Spike! project"><i class="fab fa-patreon"></i> Patreon</a></p>

    <p><a href="https://discord.gg/8AJh4hx" class="link-white font-weight-bold discord-color" target="_blank"><i class="fab fa-discord"></i> Join the project</a>
    </p>
    <a class="link-white" href="https://discordapp.com/oauth2/authorize?client_id=466883259607941150&scope=bot&permissions=268958793"><i class="fab fa-discord"></i> invite Spike</a>
    <div class="d-flex flex-row-reverse bd-highlight">
        <img src="{{ url_for('static', filename='spike_resources/img/misc/spike.png') }}" style="height: 100px;">
    </div>
</div>
{% endblock content %}
