<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="spike, blood bowl, spikebot, spike bot, spikeweb, naf, Spike, Blood Bowl, Games Workshop, Blood Bowl 2, Spike Bot" />
    <meta name="description" content="Spike is a Blood Bowl 2 discord bot and website, you can invite Spike on your server and join his discord server too.">
    <meta name="author" content="Poncho dlv">

    {% if title %}
    <title>Spike! - {{ title }}</title>
    {% else %}
    <title>Spike! Blood Bowl 2 Bot & Website</title>
    {% endif %}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">

    <!-- Flags -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/flag-icon.css') }}">

    <!-- Personal CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">

    <!-- Spike logo -->
    <!--<link rel="icon" type="image/png" href="{{ url_for('static', filename='spike_resources/img/misc/spike.png') }}"/>-->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='spike_resources/img/flags/4x3/ua.svg') }}"/>

    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:creator" content="@PonchoDlv">
    <meta name="twitter:title" content="Spike">
    <meta name="twitter:description" content="Spike is a Blood Bowl 2 discord bot and website.">
    <meta name="twitter:image" content="{{ url_for('static', filename='spike_resources/img/flags/4x3/ua.svg') }}">

    <!-- Common -->
    <meta name="og:type" content="website">
    <meta name="og:title" content="Spike!">
    <meta name="og:url" content="https://spike.ovh">
    <meta name="og:image" content="{{ url_for('static', filename='spike_resources/img/flags/4x3/ua.svg') }}">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="264">
    <meta property="og:image:height" content="258">
    <meta name="og:description" content="
    Spike is a Blood Bowl 2 discord bot and website, you can invite Spike on your server and join his discord server too.
    Spike can automatically generate match report for all your leagues/competitions, it allow you to display team overview and scheduled match directly in discord.
    If you want you can join the project, Spike bot is open source on Bitbucket feel free to fork, contribute or what you want.
    Spike was created by Poncho dlv and you can support the project on Patreon.">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Matomo -->
    <script type="text/javascript">
        let _paq = window._paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
        _paq.push(["setCookieDomain", "*.spike.ovh"]);
        _paq.push(["setDomains", ["*.spike.ovh"]]);
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            const u = "https://matomo.spike.ovh/";
            _paq.push(['setTrackerUrl', u+'matomo.php']);
            _paq.push(['setSiteId', '1']);
            let d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
    <noscript><p><img src="https://matomo.spike.ovh/matomo.php?idsite=1&amp;rec=1" style="border:0;" alt="" /></p></noscript>
    <!-- End Matomo Code -->
</head>

<body>

<nav class="navbar navbar-expand navbar-dark bg-steel flex-column flex-md-row">
    <a class="navbar-brand mr-0 mr-md-2" href="/" aria-label="Spike">
        <img src="{{ url_for('static', filename='spike_resources/img/flags/1x1/ua.svg') }}" style="height:45px; border-radius: 50%;" alt="Підтримка українського народу">
    </a>

    <ul class="navbar-nav bd-navbar-nav flex-row">
        <li class="nav-item dropdown">
            <a class="nav-item nav-link nav-reduce dropdown-toggle mr-md-2" href="#" id="dd-search" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search"></i>
                Search
            </a>
            <div class="dropdown-menu" aria-labelledby="dd-search">
                <a class="dropdown-item" href="/coach"><i class="fas fa-user"></i> Coaches</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/league">Leagues</a>
                <a class="dropdown-item" href="/competition">Competitions</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-item nav-link nav-reduce dropdown-toggle mr-md-2" href="#" id="dd-ccl" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-trophy"></i>
                CCL
            </a>
            <div class="dropdown-menu" aria-labelledby="dd-ccl">
                <a class="dropdown-item" href="/league?league_id=1&platform_id=1"><i class="fas fa-desktop desktop-color"></i> Home</a>
                <a class="dropdown-item" href="/ranked_ladder?platform_id=1"><i class="fas fa-desktop desktop-color"></i> Ranked ladder</a>
                <a class="dropdown-item" href="/ranked_playoffs_prediction?platform_id=1"><i class="fas fa-desktop desktop-color"></i> Predictions</a>
                <a class="dropdown-item" href="/ranked_playoffs?platform_id=1"><i class="fas fa-desktop desktop-color"></i> Playoffs</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/league?league_id=1&platform_id=2"><i class="fab fa-playstation playstation-color"></i> Home</a>
                <a class="dropdown-item" href="/ranked_ladder?platform_id=2"><i class="fab fa-playstation playstation-color"></i> Ranked ladder</a>
                <a class="dropdown-item" href="/ranked_playoffs_prediction?platform_id=2"><i class="fab fa-playstation playstation-color"></i> Predictions</a>
                <a class="dropdown-item" href="/ranked_playoffs?platform_id=2"><i class="fab fa-playstation playstation-color"></i> Playoffs</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/league?league_id=3&platform_id=3"><i class="fab fa-xbox xbox-color"></i> Home</a>
                <a class="dropdown-item" href="/ranked_ladder?platform_id=3"><i class="fab fa-xbox xbox-color"></i> Ranked ladder</a>
                <a class="dropdown-item" href="/ranked_playoffs?platform_id=3"><i class="fab fa-xbox xbox-color"></i> Playoffs</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-item nav-link nav-reduce dropdown-toggle mr-md-2" href="#" id="dd-naf" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="{{ url_for('static', filename='spike_resources/img/misc/naf.png') }}" style="height: 20px;">
                NAF
            </a>
            <div class="dropdown-menu" aria-labelledby="dd-naf">
                <div class="dropdown-submenu">
                    <a href="#" class="dropdown-item" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-trophy"></i> Tournaments</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/tournaments/606c825379cee9864c3eab7e">NAFC</a></li>
                        <li><a class="dropdown-item" href="/tournaments/5ff63e7933b956c3f3585964">Waterbowl</a></li>
                        <li><a class="dropdown-item" href="/tournaments/5f717ded53e62ea1d2f476ac">Burdigala’s Cup</a></li>
                        <li><a class="dropdown-item" href="/welsh">Welsh</a></li>
                    </ul>
                </div>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="https://discord.gg/9Q6dtj"><i class="fab fa-discord"></i> Join NAF</a>
                <a class="dropdown-item" href="https://www.thenaf.net"><i class="fas fa-external-link-alt text-light"></i> Website</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-item nav-link nav-reduce dropdown-toggle mr-md-2" href="#" id="dd-about" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-info"></i>
                Information
            </a>
            <div class="dropdown-menu" aria-labelledby="dd-about">
                <a class="dropdown-item" href="/servers"><i class="fas fa-server"></i> Servers</a>
                <a class="dropdown-item" href="/link"><i class="fas fa-external-link-alt"></i> Links</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="https://discord.gg/8AJh4hx"><i class="fab fa-discord"></i> Join Spike!</a>
                <a class="dropdown-item" href="https://wiki.spike.ovh/bin/view/Main" target="_blank" rel="noopener"><i class="fas fa-question"></i> Help</a>
            </div>
        </li>

        <li class="nav-item ml-3">
            <a class="nav-link nav-reduce patreon-color" href="https://www.patreon.com/spikebot" rel="noopener" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Support Spike! project on patreon.">
                <i class="fab fa-patreon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://twitter.com/PonchoDlv" rel="noopener" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Follow Spike! on Twitter">
                <i class="fab fa-twitter twitter-color"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link discord-color" href="https://discordapp.com/oauth2/authorize?client_id=466883259607941150&scope=bot&permissions=268958793" data-toggle="tooltip" data-placement="bottom" title="Invite Spike! on your discord.">
                <i class="fab fa-discord"></i>
            </a>
        </li>
        <li class="nav-item">
            <div id="cyanide_api_status" class="mt-2 ml-2"></div>
        </li>
    </ul>

    <!-- Navbar Right Side -->
    <ul class="navbar-nav ml-md-auto">
        {% if current_user.is_authenticated %}
        <li class="nav-item dropdown">
            <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="dd-profile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="{{current_user.avatar_url}}" style="height:45px;">
                {{current_user.username}}
            </a>
            <div class="dropdown-menu" aria-labelledby="dd-profile">
                <a class="dropdown-item" href="/profile"><i class="fas fa-user-circle"></i> Profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/myleagues">Leagues</a>
                <a class="dropdown-item" href="/mybounty">Bounty</a>
                <a class="dropdown-item" href="/myscheds">Scheduled</a>
                {% if current_user.is_tournament_director() %}
                <a class="dropdown-item" href="/admin_tournaments">Tournaments</a>
                {% endif %}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/logout"><i class="fas fa-sign-out-alt"></i> Log out</a>
            </div>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="/login"><i class="fas fa-sign-in-alt"></i> Login</a>
        </li>
        {% endif %}
    </ul>
</nav>

<button onclick="topFunction()" id="topButton" title="Go to top" class="btn btn-default top-button">
    <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-arrow-up-square-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 8.354a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 6.207V11a.5.5 0 0 1-1 0V6.207L5.354 8.354z"/>
    </svg>
</button>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
{% if category in ['success', 'danger'] %}
<div class="alert alert-{{ category }} alert-dismissible fade show w-auto" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}
{% endfor %}
{% endif %}
{% endwith %}

{% block content %}{% endblock %}

<script type="text/javascript" src="{{ url_for('static', filename='scripts/main.js') }}"></script>

</body>
</html>
