{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <legend class="border-bottom mb-4">Link account</legend>

    {% if status %}
    <p class="text-justify">{{ description }}</p>
    {% else %}
    <p class="text-center">Unknown error</p>
    {% endif %}
</div>
{% endblock content %}