{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <legend class="border-bottom mb-4">Links</legend>
    <div class="ml-3">
        <div class="card mr-3 mb-3">
            <div class="card-header">Website</div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <img src="static/spike_resources/img/misc/A$.png" style="width:32px;">
                        <a class="link" href="https://www.bbesportas.com/" target="_blank" rel="noopener">BB e-Sport Association</a>
                    </li>
                    <li class="list-group-item">
                        <img src="static/spike_resources/img/misc/goblin_spy.png" style="width:32px;">
                        <a class="link" href="http://www.mordrek.com/gspy" target="_blank" rel="noopener">Goblin Spy</a>
                    </li>
                    <li class="list-group-item">
                        <img src="https://cdn2.rebbl.net/images/rebbl.png" style="width:32px;">
                        <a class="link" href="https://rebbl.net/" target="_blank" rel="noopener">REBBL</a>
                    </li>
                    <li class="list-group-item">
                        <img src="static/spike_resources/img/misc/nufflytics.png" style="width:32px;">
                        <a class="link" href="https://nufflytics.com/" target="_blank" rel="noopener">Nufflytics</a>
                    </li>
                    <li class="list-group-item">
                        <img src="static/spike_resources/img/misc/BB2_2.png" style="width:32px;">
                        <a class="link" href="http://www.elyoukey.com/sac/" target="_blank" rel="noopener">Samba Action Calculator</a>
                    </li>
                    <li class="list-group-item">
                        <img src="static/spike_resources/img/misc/BB2_2.png" style="width:32px;">
                        <a class="link" href="http://onesandskulls.com/" target="_blank" rel="noopener">Ones and Skulls</a>
                    </li>
                    <li class="list-group-item">
                        <img src="static/spike_resources/img/misc/BB2_2.png" style="width:32px;">
                        <a class="link" href="https://www.worldtimebuddy.com/" target="_blank" rel="noopener">Time converter</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card mr-3 mb-3">
            <div class="card-header">Bot</div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <img src="static/spike_resources/img/misc/BB2_2.png" style="width:32px;">
                        <a class="link" href="https://discordapp.com/oauth2/authorize?client_id=406223597363789845&scope=bot" target="_blank" rel="noopener">ExtraArmsBot</a>
                    </li>
                    <li class="list-group-item">
                        <img src="static/spike_resources/img/misc/spike.png" style="width:32px;">
                        <a class="link" href="https://discordapp.com/oauth2/authorize?client_id=466883259607941150&scope=bot&permissions=268958793" target="_blank" rel="noopener">Spike Bot</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card mr-3 mb-3">
            <div class="card-header">Tools</div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <img src="static/spike_resources/img/misc/BB2_2.png" style="width:32px;">
                        <a class="link" href="http://www.bb2replayer.com/" target="_blank" rel="noopener">BB 2 Replayer</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card mr-3 mb-3">
            <div class="card-header">Twitch</div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <img src="static/spike_resources/img/misc/BB2_2.png" style="width:32px;">
                        <a class="link" href="https://www.twitch.tv/directory/game/Blood%20Bowl%202" target="_blank" rel="noopener">Blood Bowl 2</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}
