{% extends "layout.html" %}
{% block content %}
{% macro teams_stat_line(name, field_0, field_1) -%}
{% if (field_0 + field_1) > 0 %}
<tr>
    <th scope="row">
        <div class="progress progress-left">
            <div class="progress-bar bg-success" role="progressbar" style="width: {{field_0 / (field_0 + field_1) * 100}}%"></div>
        </div>
    </th>
    <td>{{field_0}}</td>
    <td>{{name}}</td>
    <td>{{field_1}}</td>
    <td>
        <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" style="width: {{field_1 / (field_0 + field_1) * 100}}%"></div>
        </div>
    </td>
</tr>
{% endif %}
{%- endmacro %}

{% macro team_info(match, team, coach) -%}
<div class="d-flex justify-content-between mt-3 ml-3">
    <img src="static/spike_resources/img/logos/Logo_{{ team.get_logo()}}.png" class="align-self-center mr-3" style="height:150px;">
    <div class="text-center align-self-center">
        <h1>{{ team.get_name() }}</h1>
        {% if team.get_motto() %}
        <div class="text-muted"><i>"{{team.get_motto()}}"</i></div>
        {% endif %}
        <div class="text-muted">Coach: <a href="/coach?coach_id={{coach.get_id()}}&platform_id={{match.get_platform_id()}}" class="link">{{ coach.get_name() }}</a></div>
    </div>
    <img src="static/spike_resources/img/pictos/{{ team.get_race() }}.png" class="align-self-center mr-3" style="height:150px;">
</div>
<span class="d-block p-2 information-block text-white mt-3">
    <ul class="list-inline text-center mb-0">
        <li class="list-inline-item text-info">TV: {{ team.get_team_value() }}</li>
        <li class="list-inline-item text-muted"><small>::</small></li>
        <li class="list-inline-item text-info">Fan Factor: {{ team.get_popularity() }}</li>
        <li class="list-inline-item text-muted"><small>::</small></li>
        <li class="list-inline-item text-info">Cash: {{ (team.get_cash() / 1000)|int }}K</li>
        <li class="list-inline-item text-muted"><small>::</small></li>
        <li class="list-inline-item text-info">Cheerleaders: {{ team.get_nb_cheerleaders() }}</li>
        <li class="list-inline-item text-muted"><small>::</small></li>
        <li class="list-inline-item text-info">Apo: {{ team.get_apothecary() }}</li>
        <li class="list-inline-item text-muted"><small>::</small></li>
        <li class="list-inline-item text-info">RR: {{ team.get_nb_rerolls() }}</li>
        <li class="list-inline-item text-muted"><small>::</small></li>
        <li class="list-inline-item text-info">Assistant: {{ team.get_nb_assistant() }}</li>
        <li class="list-inline-item text-muted"><small>::</small></li>
        <li class="list-inline-item text-info">Players: {{ team.get_nb_player() }}</li>
    </ul>
</span>
<table class="table table-dark table-hover">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Lvl</th>
        <th scope="col">Name</th>
        <th scope="col">MA</th>
        <th scope="col">ST</th>
        <th scope="col">AG</th>
        <th scope="col">AV</th>
        <th scope="col">Skills</th>
        <th scope="col">SPP</th>
    </tr>
    </thead>
    <tbody>
    {% for player in team.get_players() %}
    <tr>
        <th scope="row">{{player.get_number()}}</th>
        <td>
            {% if player.is_champion() %}
            <img class="p-0" src="static/spike_resources/img/misc/StarPlayer.png" style="width:25px;" title="Star Player"/>
            {% else %}
            {% if player.is_levelling_up() %}
            <img class="p-0" src="static/spike_resources/img/misc/LvlUp.png" style="width:25px;" title="Level up"/>
            {% else %}
            <img class="p-0" src="static/spike_resources/img/misc/Lvl{{player.get_level()}}.png" style="width:25px;" title="Level {{player.get_level()}}"/>
            {% endif %}
            {% endif %}
        </td>
        <td>
            {{player.get_name()}}
            {% if player.is_mvp() %}
            <img class="p-0" src="static/spike_resources/img/skillicons/MVPCondition.png" style="height:30px;" title="MVP"/>
            {% endif %}
            {% for i in range(0 , player.get_nb_touchdowns()) %}
            <img class="p-0" src="static/spike_resources/img/misc/Ball.png" style="height:40px;" title="Touchdown"/>
            {% endfor %}
            {% for cas in player.get_casualties_sustained_label() %}
            <img class="p-0" src="static/spike_resources/img/injuries/{{cas}}.png" style="height:40px;" title="{{cas}}"/>
            {% endfor %}
            <br><div class="text-muted"><small>{{player.get_type()}}</small></div>
        </td>

        <td {% if player.get_ma_modification() > 0 %} class="text-success" {% elif player.get_ma_modification() < 0 %} class="text-danger" {% endif %}>{{player.get_base_ma()}}</td>
        <td {% if player.get_st_modification() > 0 %} class="text-success" {% elif player.get_st_modification() < 0 %} class="text-danger" {% endif %}>{{player.get_base_st()}}</td>
        <td {% if player.get_ag_modification() > 0 %} class="text-success" {% elif player.get_ag_modification() < 0 %} class="text-danger" {% endif %}>{{player.get_base_ag()}}</td>
        <td {% if player.get_av_modification() > 0 %} class="text-success" {% elif player.get_av_modification() < 0 %} class="text-danger" {% endif %}>{{player.get_base_av()}}</td>
        <td>
            {% for skill in player.get_skills() %}
            <img class="p-0" src="static/spike_resources/img/skillicons/{{skill}}.png" style="width:25px;" title="{{skill}}"/>
            {% endfor %}
            {% for cas in player.get_casualties_state_label() %}
            <img class="p-0" src="static/spike_resources/img/injuries/Skill_{{cas}}.png" style="height:25px;" title="{{cas}}"/>
            {% endfor %}
        </td>
        <td>{{player.get_spp() + player.get_spp_gain()}}/{{player.get_next_lvl()}} {% if player.get_spp_gain() > 0 %}(<b class="text-success">+{{player.get_spp_gain()}}</b>){% endif %}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{%- endmacro %}
<div style="min-width:600px;">
    <div class="card-header">
        <div class="d-flex justify-content-between">
            <div>
                <img src="https://cdn.discordapp.com/emojis/{{match_model.get_competition_logo()}}.png" style="max-height:60px;"/>
                <a class="link-white" href="/competition?competition={{ match_model.get_competition_id() }}&platform={{ match_model.get_platform_id()}}">{{ match_model.get_competition_name() }}</a>
                {% if match_model.get_platform_id() == 1 %}
                <i class="fas fa-desktop desktop-color coach-media-ico" data-toggle="tooltip" data-placement="bottom" title="Blood Bowl 2 Desktop"></i>
                {% elif match_model.get_platform_id() == 2 %}
                <i class="fab fa-playstation playstation-color coach-media-ico" data-toggle="tooltip" data-placement="bottom" title="Blood Bowl 2 Playstation 4"></i>
                {% elif match_model.get_platform_id() == 3 %}
                <i class="fab fa-xbox xbox-color coach-media-ico" data-toggle="tooltip" data-placement="bottom" title="Blood Bowl 2 Xbox one"></i>
                {% endif %}
            </div>
            {% if match_model.get_start_datetime() == match_model.get_finish_datetime() %}
            <h3 class="text-danger">ADMIN RESULT</h3>
            {% endif %}
            <div>
                <a class="link-white" href="/league?league={{match_model.get_league_id()}}&platform={{match_model.get_platform_id()}}">{{ match_model.get_league_name() }}</a>
                <img src="static/spike_resources/img/logos/Logo_{{match_model.get_league_logo()}}.png" style="max-height:60px;"/>
            </div>
        </div>
        <ul class="list-inline text-center mb-0">
            <li class="list-inline-item text-info">Referee: Mr. Goblina</li>
            <li class="list-inline-item text-muted"><small>::</small></li>
            <li class="list-inline-item text-info">Stadium: {{ match_model.get_team_home().get_stadium_name() }}</li>
            <li class="list-inline-item text-muted"><small>::</small></li>
            <li class="list-inline-item text-info">Supporters: {{ match_model.get_supporter_home() + match_model.get_supporter_away() }}</li>
            <li class="list-inline-item text-muted"><small>::</small></li>
            <li class="list-inline-item text-info">Date: {{ match_model.get_start_datetime('%d/%m/%Y %H:%M') }}</li>
        </ul>
    </div>
    <div class="card-body" style="background-color: #36393F;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-5">
                    <div class="media">
                        <img src="static/spike_resources/img/logos/Logo_{{ match_model.get_team_home().get_logo() }}.png" style="height:90px;">
                        <div class="media-body">
                            <h5 class="mt-0 text-right"><a href="/team?team_id={{match_model.get_team_home().get_id()}}&platform={{match_model.get_platform_id()}}" class="link-white">{{ match_model.get_team_home().get_name() }}</a></h5>
                            <div class="text-muted text-right"><a href="/coach?coach_id={{ match_model.get_coach_home().get_id()}}&platform_id={{ match_model.get_platform_id() }}" class="link">{{ match_model.get_coach_home().get_name() }}</a></div>
                            <div class="text-muted text-right">{{ match_model.get_team_home().get_race_label() }}</div>
                            <div class="text-muted text-right">{{ match_model.get_team_home().get_team_value() }}</div>
                        </div>
                    </div>
                    {% if match_model.get_team_home().get_nb_mvp() == 0 %}
                    <h3 class="text-danger text-center">CONCEDED</h3>
                    {% endif %}
                </div>

                <div class="col-sm-2 text-center align-self-center"><h1>{{ match_model.get_score_home() }} - {{ match_model.get_score_away() }}</h1></div>

                <div class="col-sm-5">
                    <div class="media">
                        <div class="media-body">
                            <h5 class="mt-0 text-left"><a href="/team?team_id={{match_model.get_team_away().get_id()}}&platform={{match_model.get_platform_id()}}" class="link-white">{{ match_model.get_team_away().get_name() }}</a></h5>
                            <div class="text-muted text-left"><a href="/coach?coach_id={{ match_model.get_coach_away().get_id() }}&platform_id={{ match_model.get_platform_id() }}" class="link">{{ match_model.get_coach_away().get_name() }}</a></div>
                            <div class="text-muted text-left">{{ match_model.get_team_away().get_race_label() }}</div>
                            <div class="text-muted text-left">{{ match_model.get_team_away().get_team_value() }}</div>
                        </div>
                        <img src="static/spike_resources/img/logos/Logo_{{ match_model.get_team_away().get_logo() }}.png" style="height:90px;">
                    </div>
                    {% if match_model.get_team_away().get_nb_mvp() == 0 %}
                    <h3 class="text-danger text-center">CONCEDED</h3>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="mb-3"></div>
        <div class="d-flex justify-content-center">
            <div class="align-self-center">
                <h3>Statistics</h3>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <table class="table table-borderless table-match-stat" style="padding-bottom: .6rem;">
                <tbody>
                {{ teams_stat_line("Block", match_model.get_inflicted_blocks_home(), match_model.get_inflicted_blocks_away()) }}
                {{ teams_stat_line("Ar. Break", match_model.get_inflicted_AvBr_home() , match_model.get_inflicted_AvBr_away()) }}
                {{ teams_stat_line("Ko", match_model.get_inflicted_ko_home(), match_model.get_inflicted_ko_away()) }}
                {{ teams_stat_line("Casualties", match_model.get_inflicted_casualties_home(), match_model.get_inflicted_casualties_away()) }}
                {{ teams_stat_line("Death", match_model.get_inflicted_dead_home(), match_model.get_inflicted_dead_away()) }}
                {{ teams_stat_line("Surf", match_model.get_inflicted_surf_home(), match_model.get_inflicted_surf_away()) }}
                {{ teams_stat_line("Sent off", match_model.get_sustained_expulsions_home(), match_model.get_sustained_expulsions_away()) }}
                <tr><th scope="row"></th></tr>
                {{ teams_stat_line("Possession", match_model.get_possession_home(), match_model.get_possession_away()) }}
                {{ teams_stat_line("Own half", match_model.get_occupation_own_home(), match_model.get_occupation_own_away()) }}
                {{ teams_stat_line("Oppo. half", match_model.get_occupation_their_home(), match_model.get_occupation_their_away()) }}
                <tr><th scope="row"></th></tr>
                {{ teams_stat_line("Passes", match_model.get_inflicted_passes_home(), match_model.get_inflicted_passes_away()) }}
                {{ teams_stat_line("Dist. (yds)", match_model.get_inflicted_meters_passing_home(), match_model.get_inflicted_meters_passing_away()) }}
                {{ teams_stat_line("Catches", match_model.get_inflicted_catches_home(), match_model.get_inflicted_catches_away()) }}
                {{ teams_stat_line("Interceptions", match_model.get_inflicted_interceptions_home(), match_model.get_inflicted_interceptions_away()) }}
                {{ teams_stat_line("Run (yds)", match_model.get_inflicted_meters_running_home(), match_model.get_inflicted_meters_running_away()) }}
                </tbody>
            </table>
        </div>
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">{{ match_model.get_team_home().get_name() }}</a>
                <a class="nav-item nav-link" id="nav-away-tab" data-toggle="tab" href="#nav-away" role="tab" aria-controls="nav-away" aria-selected="false">{{ match_model.get_team_away().get_name() }}</a>
                <a class="nav-item nav-link" id="nav-impact_player-tab" data-toggle="tab" href="#impact_player" role="tab" aria-controls="impact_player" aria-selected="false">Impact Players</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                {{ team_info(match_model, match_model.get_team_home(), match_model.get_coach_home()) }}
            </div>
            <div class="tab-pane fade" id="nav-away" role="tabpanel" aria-labelledby="nav-away-tab">
                {{ team_info(match_model, match_model.get_team_away(), match_model.get_coach_away()) }}
            </div>
            <div class="tab-pane fade" id="impact_player" role="tabpanel" aria-labelledby="nav-impact_player-tab">
                <div class="d-flex justify-content-between mt-3 ml-3">
                    <img src="static/spike_resources/img/logos/Logo_{{ match_model.get_team_home().get_logo()}}.png" class="align-self-center mr-3" style="height:150px;">
                    <div class="text-center align-self-center"><h1>Impact Players</h1></div>
                    <img src="static/spike_resources/img/logos/Logo_{{ match_model.get_team_away().get_logo()}}.png" class="align-self-center mr-3" style="height:150px;">
                </div>
                <table class="table table-dark table-hover">
                    <thead>
                    <tr>
                        <th scope="col" class="text-center">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Team</th>
                        <th scope="col">Data</th>
                        <th scope="col">Points</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for player in match_model.get_impact_player() %}
                    <tr>
                        <th scope="row" class="text-center">
                            {% if loop.index == 1 %}
                            <img class="p-0" src="static/spike_resources/img/misc/CabalGold.png" style="height:25px;"/>
                            {% elif loop.index == 2 %}
                            <img class="p-0" src="static/spike_resources/img/misc/CabalSilver.png" style="height:25px;"/>
                            {% elif loop.index == 3 %}
                            <img class="p-0" src="static/spike_resources/img/misc/CabalBronze.png" style="height:25px;"/>
                            {% else %}
                            {{ loop.index }}
                            {% endif %}
                        </th>
                        <td>{{player[1].get_name()}} <br><div class="text-muted"><small>{{player[1].get_type()}}</small></div></td>
                        <td>
                            {% if match_model.get_team_home().get_player(player[1].get_id())  %}
                            <img class="p-0" src="static/spike_resources/img/logos/Logo_{{ match_model.get_team_home().get_logo()}}.png" style="height:25px;"/> {{ match_model.get_team_home().get_name() }}
                            {% else %}
                            <img class="p-0" src="static/spike_resources/img/logos/Logo_{{ match_model.get_team_away().get_logo()}}.png" style="height:25px;"/> {{ match_model.get_team_away().get_name() }}
                            {% endif %}
                        </td>
                        <td>{{player[1].get_impact_player_stats()}}</td>
                        <td>{{player[0]}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
