{% extends "layout.html" %}
{% block content %}
{% macro display_bounty_list(bounty_list, status) -%}
<div class="table-responsive">
  <table class="table table-dark table-hover">
    <thead>
    <tr>
      <th scope="col">Player</th>
      <th scope="col">Skills</th>
      <th scope="col" class="optional-element">Team</th>
      <th scope="col" class="optional-element">League</th>
      <th scope="col" class="text-center optional-element">Spp</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    {% for bounty in bounty_list %}
    {% if bounty.status == status %}
    <tr>
      <th scope="row">
        <div class="media">
          {% if bounty.race %}
          <img src="static/spike_resources/img/pictos/{{bounty.race}}.png" class="align-self-center mr-3" style="max-height:40px;">
          {% endif %}
          <div class="media-body">
            {{bounty.name}}
            <div class="text-muted"><small>{{bounty.player_type}}</small></div>
          </div>
        </div>
      </th>
      <td>
        {% if bounty.skills %}
        {% for skill in bounty.skills %}
        <img src="static/spike_resources/img/skillicons/{{skill}}.png" style="width:20px; padding: 0; margin: 0"/>
        {% endfor %}
        {% endif %}
      </td>
      <td class="optional-element">
        <a href="/team?team_id={{bounty.team_id}}&platform={{bounty.platform_id}}" class="link-white">{{bounty.team_name}}</a>
        <div class="text-muted"><small><a href="/coach?coach_id={{bounty.coach_id}}&platform_id={{bounty.platform_id}}" class="link">{{bounty.coach_name}}</a></small></div>
      </td>
      <td class="optional-element">
        <a href="/league?league_id={{bounty.league_id}}&platform={{bounty.platform_id}}" class="link-white">{{bounty.league_name}}</a>
        <div class="text-muted"><small><a class="link" href="/competition?competition={{bounty.competition_id}}&platform={{bounty.platform_id}}">{{bounty.competition_name}}</a></small></div>
      </td>
      <td class="text-center optional-element">
        {% if bounty.spp %}
        {{bounty.spp}}
        {% endif %}
      </td>
      <td><a class="btn btn-outline-dark" href="/remove_bounty?platform_id={{bounty.platform_id}}&player_id={{bounty.player_id}}" role="button" style="font-size:10px;">&#10060;</a></td>
    </tr>
    {% endif %}
    {% endfor %}
    </tbody>
  </table>
</div>
{%- endmacro %}
<div class="content-section">
  <legend class="border-bottom mb-4">Bounty</legend>
  {% if bounty_list %}
  <h4>Active Bounty</h4>
  {{ display_bounty_list(bounty_list, 0) }}
  <h4 class="mt-5">Dead Bounty</h4>
  {{ display_bounty_list(bounty_list, 1) }}
  <h4 class="mt-5">Fired Bounty</h4>
  {{ display_bounty_list(bounty_list, 2) }}
  {% else %}
  <br><p class="text-center">You don't have any active bounty.</p>
  <p class="text-center">You can add bounty with spike bot on discord by clicking on <img src="static/spike_resources/img/misc/bounty.png" style="width:20px; height:20px;"/> reaction on team and match report.</p>
  {% endif%}
</div>
{% endblock content %}