{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <legend class="border-bottom mb-4">Scheduled matches</legend>
    {% for contest in contest_list %}
    <div class="card text-center mb-3">
        <div class="card-header">
            <a class="link-white" href="/league?league={{contest.get_league_id()}}&platform={{contest.get_platform_id()}}">{{ contest.get_league_name() }}</a>
            -
            <a class="link-white" href="/competition?competition={{contest.get_competition_id()}}&platform={{contest.get_platform_id()}}">{{ contest.get_competition_name() }}</a>
        </div>
        <div class="card-body">
            <div class="row justify-content-center">
                <div class="media mr-1">
                    <div class="media-body mr-2 text-right">
                        {% if contest.data.team_home.team_name %}
                        <a href="/team?team_id={{contest.data.team_home.team_id}}&platform={{contest.get_platform_id()}}" class="link-white">{{ contest.data.team_home.team_name }}</a>
                        {% else %}
                        -
                        {% endif %}
                        <div class="text-muted"><small>
                            {% if contest.data.team_home.coach_id %}
                            <a href="/coach?coach_id={{contest.data.team_home.coach_id}}&platform_id={{contest.get_platform_id()}}" class="link">{{ contest.data.team_home.coach_name }}</a>
                            {% else %}
                            -
                            {% endif %}
                        </small></div>
                    </div>
                    <img src="/static/spike_resources/img/logos/Logo_{{ contest.data.team_home.team_logo }}.png" style="height:40px;"/>
                </div>
                <div>vs</div>
                <div class="media ml-1">
                    <img src="/static/spike_resources/img/logos/Logo_{{ contest.data.team_away.team_logo }}.png" style="height:40px;"/>
                    <div class="media-body ml-2 text-left">
                        {% if contest.data.team_away.team_name %}
                        <a href="/team?team_id={{contest.data.team_away.team_id}}&platform={{contest.get_platform_id()}}" class="link-white">{{ contest.data.team_away.team_name }}</a>
                        {% else %}
                        -
                        {% endif %}
                        <div class="text-muted"><small>
                            {% if contest.data.team_away.coach_id %}
                            <a href="/coach?coach_id={{contest.data.team_away.coach_id}}&platform_id={{contest.get_platform_id()}}" class="link">{{ contest.data.team_away.coach_name }}</a>
                            {% else %}
                            -
                            {% endif %}
                        </small></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer p-2">
            <div class="d-flex justify-content-between">
                <div class="text-muted">{% if contest.get_date() %}{{contest.get_date()}}{% else %}Not planned yet{% endif %}</div>
                <button type="button" class="btn btn-primary pl-2 pt-1 pb-1" data-toggle="modal" data-target="#plan{{contest.get_contest_id()}}"><small>Plan</small></button>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="plan{{contest.get_contest_id()}}" tabindex="-1" role="dialog" aria-labelledby="plan{{contest.get_contest_id()}}Label" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="plan{{contest.get_contest_id()}}Label">Schedule a match</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action = "/sched_match" method = "POST">
                        <div class="modal-body">
                            <div class="text-justify">
                                <label for="schedule_date">Date</label>
                                <input type="date" class="form-control" id="schedule_date" name="schedule_date" required>
                                <br>
                                <label for="schedule_time">Time: (UTC)</label>
                                <input type="time" class="form-control" id="schedule_time" name="schedule_time" required>

                                <input type="hidden" id="contest_id" name="contest_id" value="{{contest.get_contest_id()}}">
                                <input type="hidden" id="platform_id" name="platform_id" value="{{contest.get_platform_id()}}">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-primary">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% if not contest_list %}
    <br><p class="text-center">You don't have any games scheduled actually.</p>
    <p class="text-center">Maybe Spike bot is not on you discord server or the League/competition is not registered in spike.</p>
    <p class="text-center">You can <a href="https://discordapp.com/oauth2/authorize?client_id=466883259607941150&scope=bot&permissions=268958793">invite Spike</a> on your server.</p>
    {% endif %}
</div>
{% endblock content %}