{% extends "layout.html" %}
{% block content %}
<!-- completion item -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.2.26/jquery.autocomplete.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/search_autocomplete.css')}}">

<div class="content-section">
    <div class="row">
        <div class="col" style="min-width: 250px; max-width: 100%">
            <div class="card text-white mb-3">
                <div class="card-header">Blood Bowl Accounts</div>
                <div class="card-body">
                    <ul class="list-group list-group-flush" id="linked_coach">
                        {% for coach in linked_coaches %}
                        <li class="list-group-item">
                            {% if coach.platform_id == 1 %}
                            <i class="fas fa-desktop desktop-color" data-toggle="tooltip" data-placement="bottom" title="Blood Bowl 2 Desktop"></i>
                            {% elif coach.platform_id == 2 %}
                            <i class="fab fa-playstation playstation-color" data-toggle="tooltip" data-placement="bottom" title="Blood Bowl 2 Playstation 4"></i>
                            {% elif coach.platform_id == 3 %}
                            <i class="fab fa-xbox xbox-color" data-toggle="tooltip" data-placement="bottom" title="Blood Bowl 2 Xbox one"></i>
                            {% endif %}

                            <a href="/coach?coach_id={{coach.id}}&platform_id={{coach.platform_id}}" class="link-white">{{coach.name}}</a>
                            <button type="button" class="close" aria-label="Close">
                                <a href="/unlink_coach?coach_id={{coach.id}}&platform_id={{coach.platform_id}}" class="link text-danger"><span aria-hidden="true">&times;</span></a>
                            </button>
                        </li>
                        {% endfor %}
                    </ul>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn link-white text-left mt-5" data-toggle="modal" data-target="#staticBackdrop">
                        Link another account
                    </button>
                </div>
            </div>
        </div>
        <div class="col" style="min-width: 75%; max-width: 100%">
            <div class="row mt-3">
                <div class="col">
                    <label class="form-control-label" for="lang">Language</label>
                    <select multiple id="lang" class="form-control" style="height: 180px;" aria-describedby="langHelp">
                        {% for lang in CommonUtils.get_lang() %}
                        <option {% if lang[0]|lower in current_user.lang %} selected {% endif %} value="{{lang[0]|lower}}">{{lang[1]}}</option>
                        {% endfor %}
                    </select>
                    <small id="langHelp" class="form-text text-info">You can select multiple languages by holding down the Ctrl key</small>
                </div>
                <div class="col">
                    <label class="form-control-label" for="country">Country</label>
                    <select id="country" class="form-control">
                        {% for country in CommonUtils.get_country() %}
                        <option {% if current_user.country|lower == country[0]|lower %} selected {% endif %} value="{{country[0]|lower}}">{{country[1]}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group mt-3">
                <label class="form-control-label" for="youtube">Youtube channel id</label>
                <input type="text" class="form-control m-0" id="youtube" {% if current_user.youtube %} value="{{current_user.youtube}}" {% endif %} placeholder="UC6Y6d8Wod3jYHAUtSac6IfA" aria-describedby="youtubeHelp">
                <small id="youtubeHelp" class="form-text text-info">Last part of the url 'https://www.youtube.com/channel/UC6Y6d8Wod3jYHAUtSac6IfA'</small>
            </div>

            <div class="row mt-3">
                <div class="col">
                    <label class="form-control-label" for="naf_name">NAF name</label>
                    <input type="text" class="form-control m-0" id="naf_name" {% if current_user.naf_name %}value="{{current_user.naf_name}}" {% endif %}>

                </div>
                <div class="col">
                    <label class="form-control-label" for="naf_number">NAF number</label>
                    <input type="number" class="form-control m-0" id="naf_number" {% if current_user.naf_number %}value="{{current_user.naf_number}}"{% endif %}>
                </div>
            </div>

            <div class="form-group mt-3">
                {% if not current_user.twitch or current_user.twitch == '' %}
                <button type="button" class="btn btn-twitch" onclick="location.href='/connect_twitch'"><i class="fab fa-twitch"></i> Twitch connect</button>
                {% else %}
                <button type="button" class="btn btn-twitch" onclick="location.href='/disconnect_twitch'"><i class="fab fa-twitch"></i> Unlink {{current_user.twitch}}</button>
                {% endif %}
            </div>

            <div class="form-group mt-3">
                {% if not current_user.is_steam_linked() %}
                <button type="button" class="btn btn-steam" onclick="location.href='/connect_steam'"><i class="fab fa-steam-square"></i> Steam connect</button>
                {% else %}
                <button type="button" class="btn btn-steam" onclick="location.href='/disconnect_steam'"><i class="fab fa-steam-square"></i> Unlink {{current_user.steam.name}}</button>
                {% endif %}
            </div>

            <div class="text-center mt-3">
                <button type="button" class="btn btn-outline-success" id="sub_button" onclick="save_profile('{{ csrf_token() }}')">Save</button>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">
                                Search your coach name
                            </h5>
                            <button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="inputWithIcon">
                                <input type="text" class="form-control" name="autocomplete" id="autocomplete" placeholder="Coach name" autofocus>
                                <i class="fas fa-search fa-lg fa-fw" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/profile.js') }}"></script>
{% endblock content %}
