<div class="row">
    <div class="col" style="width:100px;">
        <label for="win" class="form-control-label">Win:</label>
        <input class="form-control" type="number" id="win" name="win" min="0" max="1000" value="0" onchange="compute_rank()">
    </div>
    <div class="col" style="width:100px;">
        <label for="draw" class="form-control-label">Draw:</label>
        <input class="form-control" type="number" id="draw" name="draw" min="0" max="1000" value="0" onchange="compute_rank()">
    </div>
    <div class="col " style="width:100px;">
        <label for="loss" class="form-control-label">Loss:</label>
        <input class="form-control" type="number" id="loss" name="loss" min="0" max="1000" value="0" onchange="compute_rank()">
    </div>
    <div class="col " style="width:100px;">
        <label for="rank" class="form-control-label">Rank</label>
        <p class="mt-2" id="rank">0</p>
    </div>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/rank_calculator.js') }}"></script>
