{% extends "layout.html" %}
{% block content %}

{% macro discord_view(guild) -%}
{% if guild.icon %}
<div class="media discord-server-view shadow p-3 mb-3 mr-3 rounded">
    <img src="{{guild.icon}}" class="discord-server-img" alt="{{guild.name}}">
    <div class="media-body">
        <h5 class="mt-0">{{guild.name}}</h5>
        {% if guild.invite %}
        <a href="https://discordapp.com/invite/{{guild.invite}}" target="_blank" class="link discord-color"><i class="fab fa-discord"></i> Join Discord</a>
        {% endif %}
        {% if current_user.is_authenticated and current_user.is_admin() %}
        <div>
            <a href="/admin_guild?guild_id={{guild.discord_id}}" class="link-white"><i class="fas fa-cogs"></i></a>
        </div>
        {% endif %}
    </div>
</div>
{% endif %}
{%- endmacro %}
<div class="content-section">
    <legend class="border-bottom mb-4">Discord servers</legend>
    <p class="text-justify">Spike is actually used on {{premium_guilds|length + standard_guilds|length}} discord servers, check the list below...</p>

    <h3><i class="fab fa-patreon"></i> Premium</h3>
    <div class="row w-100">
        {% for guild in premium_guilds %}
        {{ discord_view(guild) }}
        {% endfor %}
    </div>
    <h3 class="mt-4">Standard</h3>
    <div class="row w-100">
        {% for guild in standard_guilds %}
        {% if guild.icon %}
        {{ discord_view(guild) }}
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock content %}
