{% extends "layout.html" %}
{% block content %}


<div class="content-section">
    <legend class="border-bottom mb-4"><h1>Team creator</h1></legend>
    <noscript>
      <strong>
        We're sorry but client doesn't work properly without JavaScript enabled. Please enable it to continue.
      </strong>
    </noscript>
    <div id="app"></div>
</div>
{% endblock content %}

