{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <div class="d-flex justify-content-between mt-3 ml-3">
        <img src="static/spike_resources/img/logos/Logo_{{ team.get_logo()}}.png" class="align-self-center mr-3" style="height:150px;">
        <div class="text-center align-self-center">
            <h1>{{ team.get_name() }}</h1>
            {% if team.get_motto() %}
            <div class="text-muted"><i>"{{team.get_motto()}}"</i></div>
            {% endif %}
            <div class="text-muted">Coach: <a href="/coach?coach_id={{team.get_coach().get_id()}}&platform_id={{platform_id}}" class="link">{{ team.get_coach().get_name() }}</a></div>
        </div>
        <img src="static/spike_resources/img/pictos/{{ team.get_race() }}.png" class="align-self-center mr-3" style="height:150px;">
    </div>
    <span class="d-block p-2 information-block text-white mt-3">
    <ul class="list-inline text-center mb-0">
        <li class="list-inline-item text-info">TV: {{ team.get_team_value() }}</small></li>
        <li class="list-inline-item text-muted"><small>::</small></li>
        <li class="list-inline-item text-info">Fan Factor: {{ team.get_popularity() }}</small></li>
        <li class="list-inline-item text-muted"><small>::</small></li>
        <li class="list-inline-item text-info">Cash: {{ (team.get_cash() / 1000)|int }}K</small></li>
        <li class="list-inline-item text-muted"><small>::</small></li>
        <li class="list-inline-item text-info">Cheerleaders: {{ team.get_nb_cheerleaders() }}</small></li>
        <li class="list-inline-item text-muted"><small>/</small></li>
        <li class="list-inline-item text-info">Apo: {{ team.get_apothecary() }}</small></li>
        <li class="list-inline-item text-muted"><small>/</small></li>
        <li class="list-inline-item text-info">RR: {{ team.get_nb_rerolls() }}</small></li>
        <li class="list-inline-item text-muted"><small>::</small></li>
        <li class="list-inline-item text-info">Assistant: {{ team.get_nb_assistant() }}</small></li>
        <li class="list-inline-item text-muted"><small>::</small></li>
        <li class="list-inline-item text-info">Players: {{ team.get_nb_player() }}</small></li>
    </ul>
</span>
    <table class="table table-dark table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Lvl</th>
            <th scope="col">Name</th>
            <th scope="col">MA</th>
            <th scope="col">ST</th>
            <th scope="col">AG</th>
            <th scope="col">AV</th>
            <th scope="col">Skills</th>
            <th scope="col">SPP</th>
        </tr>
        </thead>
        <tbody>
        {% for player in team.get_players() %}
        <tr>
            <th scope="row">{{player.get_number()}}</th>
            <td>
                {% if player.is_champion() %}
                <img class="p-0" src="static/spike_resources/img/misc/StarPlayer.png" style="width:25px;" title="Star Player"/>
                {% else %}
                {% if player.is_levelling_up() %}
                <img class="p-0" src="static/spike_resources/img/misc/LvlUp.png" style="width:25px;" title="Level up"/>
                {% else %}
                <img class="p-0" src="static/spike_resources/img/misc/Lvl{{player.get_level()}}.png" style="width:25px;" title="Level {{player.get_level()}}"/>
                {% endif %}
                {% endif %}
            </td>
            <td>
                {{player.get_name()}}
                {% if player.is_mng() %}
                <img class="p-0" src="static/spike_resources/img/injuries/MNG.png" style="height:40px;" title="{{cas}}"/>
                {% endif %}
                <br><div class="text-muted"><small>{{player.get_type()}}</small></div>
            </td>

            <td {% if player.get_ma_modification() > 0 %} class="text-success" {% elif player.get_ma_modification() < 0 %} class="text-danger" {% endif %}>{{player.get_ma()}}</td>
            <td {% if player.get_st_modification() > 0 %} class="text-success" {% elif player.get_st_modification() < 0 %} class="text-danger" {% endif %}>{{player.get_st()}}</td>
            <td {% if player.get_ag_modification() > 0 %} class="text-success" {% elif player.get_ag_modification() < 0 %} class="text-danger" {% endif %}>{{player.get_ag()}}</td>
            <td {% if player.get_av_modification() > 0 %} class="text-success" {% elif player.get_av_modification() < 0 %} class="text-danger" {% endif %}>{{player.get_av()}}</td>
            <td>
                {% for skill in player.get_starting_skills() %}
                <img class="p-0" src="static/spike_resources/img/skillicons/{{skill}}.png" style="width:25px;" title="{{skill}}"/>
                {% endfor %}
                {% for skill in player.get_skills() %}
                <img class="p-0" src="static/spike_resources/img/skillicons/{{skill}}.png" style="width:25px;" title="{{skill}}"/>
                {% endfor %}
                {% for cas in player.get_casualties_state_label() %}
                <img class="p-0" src="static/spike_resources/img/injuries/Skill_{{cas}}.png" style="height:25px;" title="{{cas}}"/>
                {% endfor %}
            </td>
            <td>{{player.get_spp()}}/{{player.get_next_lvl()}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="mb-5"></div>
    <h2>Last Matches</h2>
    {% for match in last_match %}
    <div class="card text-center mb-3">
        <div class="card-header">
            {% if match.get_league_name() %}
            <a class="link-white" href="/league?league={{ match.get_league_id() }}&platform={{ match.get_platform_id()}}">{{ match.get_league_name() }}</a>
            -
            <a class="link-white" href="/competition?competition={{ match.get_competition_id() }}&platform={{ match.get_platform_id() }}">{{ match.get_competition_name() }}</a>
            {% else %}
            Friendly
            {% endif %}
        </div>
        <div class="card-body">
            <div class="row justify-content-center">
                <div class="media mr-1">
                    <div class="media-body mr-2 text-right">
                        {% if match.get_team_home().get_name() %}
                        <a href="/team?team_id={{match.get_team_home().get_id()}}&platform={{match.get_platform_id()}}" class="link-white">{{ match.get_team_home().get_name() }}</a>
                        {% else %}
                        -
                        {% endif %}
                        <div class="text-muted">
                            <small>
                                {% if match.get_team_home().get_coach().get_name() %}
                                <a href="/coach?coach_id={{match.get_team_home().get_coach().get_id()}}&platform_id={{match.get_platform_id()}}" class="link">{{ match.get_team_home().get_coach().get_name() }}</a>
                                {% else %}
                                -
                                {% endif %}
                            </small>
                        </div>
                    </div>
                    <img src="static/spike_resources/img/logos/Logo_{{ match.get_team_home().get_logo() }}.png" style="height:32px;"/>
                </div>

                <div><a class="link-white" href="/match?match_uuid={{match.get_uuid()}}">{{ match.get_score_home() }} - {{ match.get_score_away() }}</a></div>

                <div class="media ml-1">
                    <img src="static/spike_resources/img/logos/Logo_{{ match.get_team_away().get_logo() }}.png" style="height:32px;"/>
                    <div class="media-body ml-2 text-left">
                        {% if match.get_team_away().get_name() %}
                        <a href="/team?team_id={{match.get_team_away().get_id()}}&platform={{match.get_platform_id()}}" class="link-white">{{ match.get_team_away().get_name() }}</a>
                        {% else %}
                        -
                        {% endif %}
                        <div class="text-muted"><small>
                            {% if match.get_team_away().get_coach().get_name() %}
                            <a href="/coach?coach_id={{match.get_team_away().get_coach().get_id()}}&platform_id={{match.get_platform_id()}}" class="link">{{ match.get_team_away().get_coach().get_name() }}</a>
                            {% else %}
                            -
                            {% endif %}
                        </small></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="d-flex">
                <small>{{match.data.date}}</small>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}
