{% extends "layout.html" %}
{% block content %}

<!-- completion item -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.2.26/jquery.autocomplete.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/search_autocomplete.css')}}">

{% if league_data %}
<div class="content-section">
    <div class="d-flex justify-content-start mb-4">
        <h2>{{league_data.name}}</h2>
    </div>

    <div class="form-row mb-5 mt-1">
        <div class="col">
            <label for="discord_invite">Discord</label>
            <input type="url" class="form-control" id="discord_invite" value="{{league_data.discord_invite}}" placeholder="https://discord.gg/">
        </div>
        <div class="col">
            <label for="website_url">Website</label>
            <input type="url" class="form-control" id="website_url" value="{{league_data.website_url}}" placeholder="https://spike.ovh">
        </div>
    </div>

    <h3>Administrators</h3>

    <div class="inputWithIcon">
        <input type="text" class="form-control" name="autocomplete" id="autocomplete" placeholder="User" autofocus>
        <i class="fas fa-search fa-lg fa-fw" aria-hidden="true"></i>
    </div>
    <ul id="admin_container" class="list-group list-group-flush mt-2">
        {% for admin in league_data.admins %}
        <li class="list-group-item d-flex admin_entry" data-admin_id="{{admin._id}}" data-admin_name="{{admin.user_name}}" id="admin_{{admin._id}}">
            <p>{{admin.user_name}}</p>
            <button class="btn btn-outline-danger ml-auto" id="delete_{{admin._id}}" onclick="remove_admin('admin_{{admin._id}}')">&times;</button>
        </li>
        {% endfor %}
    </ul>
    <div class="text-center mt-3">
        <button type="button" class="btn btn-outline-success" id="sub_button" onclick="save_league_parameters('{{league_data.id}}', '{{league_data.platform_id}}', '{{ csrf_token() }}')">Save</button>
    </div>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/league_admin.js') }}"></script>
{% endif %}
{% endblock content %}
