<h5 class="competitions-title text-center mt-5">Active Competitions</h5>
<div class="d-flex justify-content-center row w-100">
    {% for competition in active_competition %}
    <div class="media competition-media rounded bg-steel">
        <img src="{{competition.logo}}" class="discord-server-img" alt="{{competition.name}}">
        <div class="media-body">
            <a class="link-white" href="/competition?competition={{competition.id}}&platform={{competition.platform_id}}">
                <h5 class="link-white">{{competition.name}}</h5>
            </a>
            <p class="competition-info text-muted">{{ competition.label_format }}</p>
            {% if competition.format != "ladder" %}
            <p class="competition-info text-muted">Round: {{ competition.round }}/{{ competition.rounds_count }} </p>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
<button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#inactiveComp">
    All Competitions
</button>

<!-- Modal -->
<div class="modal fade" id="inactiveComp" tabindex="-1" role="dialog" aria-labelledby="inactiveCompTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="inactiveCompTitle">Inactive Competitions</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="list-styled p-0 ml-0">
                    {% for competition in inactive_competition %}
                    <li>
                        <a class="link-white" href="/competition?competition={{competition.id}}&platform={{competition.platform_id}}">{{competition.name}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>