<div class="card-group">
    {% for match in last_match %}
    <div class="card mr-1">
        <div class="card-header p-1">
            <a href="/competition?match_uuid={{match._id}}" class="link-white">
                <small>{{ match.competition_name }}</small>
            </a>
        </div>
        <div class="card-body p-1">
            <a href="/match?match_uuid={{match._id}}" class="link-white">
                <small>
                    <div class="d-flex bd-highlight">
                        <div class="bd-highlight">{{ match.team_home.name }}</div>
                        <div class="ml-auto bd-highlight">{{ match.team_home.score }}</div>
                    </div>
                    <div class="d-flex bd-highlight">
                        <div class="bd-highlight">{{ match.team_away.name }}</div>
                        <div class="ml-auto bd-highlight">{{ match.team_away.score }}</div>
                    </div>
                </small>
            </a>
        </div>
        <div class="card-footer p-1">
            <small class="text-muted">{{ match.date }}</small>
        </div>
    </div>
    {% endfor %}
</div>