{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/league.css')}}">

<div class="content-section" id="league_data">
    {% block league_header %}{% endblock %}

    <div id="top_view"></div>

    <div class="w-100" id="main_view">
        <div class="text-center">
            <div class="text-muted"><small>Loading...</small></div>
            </br>
            <div class="spinner-border ml-auto text-light" role="status"></div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        //Fill top view
        fetch('/platforms/{{league_data.platform_id}}/leagues/{{league_data.id}}/top_view').then(response => response.text()).then(data => {
            let e = document.getElementById('top_view');
            e.innerHTML=data;
        });

        //Fill main view
        fetch('/platforms/{{league_data.platform_id}}/leagues/{{league_data.id}}/main_view').then(response => response.text()).then(data => {
            let e = document.getElementById('main_view');
            e.innerHTML=data;
        });

    });
</script>
{% endblock content %}
