{% extends "leagues/league_layout.html" %}
{% block league_header %}

{% if league_data.admins|length == 0 %}
<p class="text-info text-center small">If you are admin of {{ league_data.name }}, you can get Admin access on spike web by contacting Poncho dlv</p>
{% endif %}

<div class="d-flex justify-content-center">
    {% if league_data.custom_logo %}
    <img src="{{league_data.custom_logo}}" style="height:150px">
    {% else %}
    <img src="static/spike_resources/img/logos/Logo_{{league_data.logo}}.png" style="height:150px">
    {% endif %}
</div>
<div class="d-flex justify-content-center text-center">
    <h2>{{league_data.name}}</h2>
</div>

{% if former_champion %}
<div class="d-flex justify-content-center"><h4>Former champion</h4></div>
<div class="d-flex justify-content-center">
    <h4><a href="/coach?coach_id={{former_champion.coach_id}}&platform_id={{ league_data.platform_id}}" class="link-white text-warning">{{ former_champion.coach_name|capitalize }}</a></h4>
</div>

{% endif %}

<span class="d-block league-info text-white">
    <ul class="list-inline text-center">
        <li class="list-inline-item text-muted">
            {% if league_data.platform_id == 1 %}
            <i class="fas fa-desktop desktop-color" data-toggle="tooltip" data-placement="bottom" title="Blood Bowl 2 Desktop"></i>
            {% elif league_data.platform_id == 2 %}
            <i class="fab fa-playstation playstation-color" data-toggle="tooltip" data-placement="bottom" title="Blood Bowl 2 Playstation 4"></i>
            {% elif league_data.platform_id == 3 %}
            <i class="fab fa-xbox xbox-color" data-toggle="tooltip" data-placement="bottom" title="Blood Bowl 2 Xbox one"></i>
            {% endif %}
        </li>

        {% if display_winners_history %}
        <li class="list-inline-item text-muted">::</li>

        <li class="list-inline-item text-muted">
            <a href="/ranked_playoffs_winners?platform_id={{ league_data.platform_id}}" class="link-white" data-toggle="tooltip" data-placement="bottom" title="Champions cup winners">
                <i class="fas fa-trophy"></i>
            </a>
        </li>
        {% endif %}

        {% if league_data.discord_invite %}
        <li class="list-inline-item text-muted">::</li>

        <li class="list-inline-item text-muted">
            <a href="{{ league_data.discord_invite}}" class="link-white" data-toggle="tooltip" data-placement="bottom" title="Join {{ league_data.name }} discord" target="_blank" rel="noopener">
                <i class="fab fa-discord discord-color"></i>
            </a>
        </li>

        {% endif %}

        {% if league_data.website_url %}
        <li class="list-inline-item text-muted">::</li>
        <li class="list-inline-item text-muted">
            <a href="{{ league_data.website_url}}" class="link-white" data-toggle="tooltip" data-placement="bottom" title="{{ league_data.name }} website" target="_blank" rel="noopener">
                <i class="fas fa-globe-europe"></i>
            </a>
        </li>

        {% endif %}

        {% if display_admin %}
        <li class="list-inline-item text-muted">::</li>
        <li class="list-inline-item text-muted">
            <a href="/admin_league?league={{ league_data.id }}&platform={{ league_data.platform_id}}" class="link-white" data-toggle="tooltip" data-placement="bottom" title="League settings">
                <i class="fas fa-cogs"></i>
            </a>
        </li>
        {% endif %}

    </ul>
</span>

{% endblock league_header %}

