{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <div class="d-flex justify-content-center">
        {% if league_data.custom_logo %}
        <img src="{{league_data.custom_logo}}" style="height:80px">
        {% else %}
        <img src="static/spike_resources/img/logos/Logo_{{league_data.logo}}.png" style="height:80px">
        {% endif %}
    </div>
    <div class="d-flex justify-content-center text-center">
        <h3>Champion Cup winners</h3>
    </div>

    <div class="table-responsive mt-3">
        <table class="table table-dark mb-5 p-0">
            <thead>
            <tr>
                {% for race in win_race %}
                <th scope="col" class="p-0 text-center"><img src="static/spike_resources/img/pictos/{{race.name}}.png" class="align-self-center" style="max-height:45px;" alt="{{race.name}}" data-toggle="tooltip" data-placement="bottom" title="{{race.name}}"></th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            <tr>
                {% for race in win_race %}
                <th scope="col" class="p-0 pt-1 text-center">{{race.number}}</th>
                {% endfor %}
            </tr>
            </tbody>
        </table>
    </div>

    <div class="d-flex justify-content-center flex-wrap">
        {% for competition in competition_list %}
        <div class="card mb-3 ml-3" style="width: 550px">
            <div class="row no-gutters">
                <div class="col-md-4">
                    {% if competition and  competition.winner %}
                    <div class="d-flex justify-content-center">
                        <img src="static/spike_resources/img/pictos/{{ competition.winner.race }}.png" class="p-1" style="height:120px" alt="{{ competition.winner.race }}">
                    </div>
                    <p class="text-center text-info font-weight-bold">{{ competition.winner.coach_name }}</p>

                    {% endif %}
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        {% if competition.id %}
                        <h5 class="card-title">
                            <a href="/competition?competition_id={{competition.id}}&platform={{league_data.platform_id}}" class="link-white">
                                Season {{loop.revindex}}
                            </a>
                        </h5>
                        {% else %}
                        <h5 class="card-title">Season {{loop.revindex}}</h5>
                        {% endif %}
                        {% if competition and  competition.winner %}
                        <div class="media mb-3">
                            <img src="static/spike_resources/img/logos/Logo_{{ competition.winner.team_logo }}.png" class="align-self-center mr-3" style="max-height:50px;">
                            <div class="media-body mr-3">
                                <a href="/team?team_id={{competition.winner.team_id}}&platform={{league_data.platform_id}}" class="link-white">{{ competition.winner.team_name }}</a>
                                <div class="text-muted">
                                    <small>
                                        <a href="/coach?coach_id={{competition.winner.coach_id}}&platform_id={{league_data.platform_id}}" class="link">{{ competition.winner.coach_name }}</a>
                                    </small>
                                </div>
                            </div>
                            <span>
                            {{ competition.winner.score }}
                            </span>
                        </div>

                        <div class="media">
                            <img src="static/spike_resources/img/logos/Logo_{{ competition.runner_up.team_logo }}.png" class="align-self-center mr-3" style="max-height:50px;">
                            <div class="media-body mr-3">
                                <a href="/team?team_id={{competition.runner_up.team_id}}&platform={{league_data.platform_id}}" class="link-white">{{ competition.runner_up.team_name }}</a>
                                <div class="text-muted">
                                    <small>
                                        <a href="/coach?coach_id={{competition.runner_up.coach_id}}&platform_id={{league_data.platform_id}}" class="link">{{ competition.runner_up.coach_name }}</a>
                                    </small>
                                </div>
                            </div>
                            <span>
                            {{ competition.runner_up.score }}
                            </span>
                        </div>

                        {% else %}
                        N/A
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <table class="table table-dark mb-3 p-0">
        <thead>
        <tr>
            <th scope="col" class="p-1">#</th>
            <th scope="col" class="p-1">Coach</th>
            <th scope="col" class="p-1">Win</th>
            <th scope="col" class="p-1">Races</th>
        </tr>
        </thead>
        <tbody>
        {% for coach in win_coach %}
        <tr>
            <th scope="row" class="p-1">{{loop.index}}</th>
            <td class="p-1"><a href="/coach?coach_id={{coach.coach_id}}&platform_id={{league_data.platform_id}}" class="link-white">{{ coach.coach_name }}</a></td>
            <td class="p-1">{{coach.number}}</td>
            <td class="p-1">
                {% for race in coach.races %}
                <img src="static/spike_resources/img/pictos/{{ race }}.png" class="align-self-center" style="max-height:45px;" alt="{{ race }}">
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
