{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <div class="d-flex justify-content-center">
        {% if league_data.custom_logo %}
        <img src="{{league_data.custom_logo}}" style="height:80px">
        {% else %}
        <img src="static/spike_resources/img/logos/Logo_{{league_data.logo}}.png" style="height:80px">
        {% endif %}
    </div>
    {% if top_coaches|length > 0 %}
    <h5>Top coach</h5>
    <div class="table-responsive">
        <table class="table table-dark table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col" class="text-left">Coach</th>
                <th scope="col" class="text-center">Win rate(%)</th>
                <th scope="col" class="text-center">Matches</th>
                <th scope="col" class="text-center">Win</th>
                <th scope="col" class="text-center">Draw</th>
                <th scope="col" class="text-center">Loss</th>
            </tr>
            </thead>
            <tbody>
            {% for coach in top_coaches%}
            <tr>
                <th scope="row">{{loop.index}}</th>
                <td class="text-left"><a href="/coach?coach_id={{ coach[2] }}&platform_id={{platform_id}}" class="link-white">{{ coach[1] }}</a></td>
                <td {% if coach[0] > 50 %} class="text-center text-success" {% else %} class="text-center text-danger" {% endif %} >{{ coach[0] }}</td>
                <td class="text-center">{{ coach[3] }}</td>
                <td class="text-center">{{ coach[4] }}</td>
                <td class="text-center">{{ coach[5] }}</td>
                <td class="text-center">{{ coach[6] }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>
{% endblock content %}