
.coach-name {
    font-size: 80%;
    font-weight: 400;
}


@media (max-width: 767.98px) {
    .team-name {
        display: none;!important;
    }

    .coach-name {
        font-size: 100%;
        font-weight: normal;
    }

    .coach-name>.link{
        color: #D7D5D9;
        width: 100%;
    }

    .coach-name>.link:hover{
        color: #829297;
        text-decoration: none;
    }
}