.league-info {
  background-color: #202225;
  font-size: 20px;
}

.competition-info {
  margin-bottom: 0;
  margin-top: 0;
}

.competition-media {
  width: 350px;
  font-size: 14px;
  margin-bottom: 10px;
  margin-right: .5rem;
}

.competition-media:hover {
  background-color: #2F3136;
}

@media (max-width: 767.98px) {
  .competition-media {
    width: 100%;
    margin-right: 0;
  }

  .row {
    margin-right: 0;
    margin-left: 0;
  }
}