body {
  background-color: #2F3136;
  color: #D7D5D9;
  margin: 0;
  font-size: 16px;
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  color: #cbd5db;
}

input {
  border: 1px solid #292B2F;
  border-radius: 3px;
  padding: 10px;
  font-size: 16px;
}

input:focus {
  background-color: #202225;
  color: #cbd5db;
  border-radius: 3px;
  border: 1px solid #4d5f82;
  padding: 10px;
  font-size: 16px;
}

.border-bottom {
  border-bottom: 1px solid #292B2F!important;
}

.form-control {
  background-color: #303339;
  color: #cbd5db;
  border-radius: 3px;
  border: 1px solid #292B2F;
  font-size: 16px;
}

.form-control:focus {
  background-color: #202225;
  color: #cbd5db;
  border-radius: 3px;
  border: 1px solid #4d5f82;
  font-size: 16px;
}

.select{
  background-color: #303339;
  color: #cbd5db;
  border-radius: 3px;
  border: 1px solid #292B2F;
}

.select:focus{
  background-color: #202225;
  color: #cbd5db;
  border-radius: 3px;
  border: 1px solid #4d5f82;
}

.bg-steel {
  background-color: #202225;
}

.container-fluid {
  width: 95%;
  padding-left: 0;
  padding-right: 0;
}

.content-section {
  background-color: #36393F;
  padding: 20px 20px;
  border: 1px solid #292B2F;
  border-radius: 3px;
  margin-bottom: 20px;
  margin-top: 10px;
}

@media (max-width: 767.98px) {
  .container-fluid {
    width: 100%;
    padding-top: 0;
  }

  .content-section {
    padding: 5px 5px;
    margin-top: 0;
  }
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.dropdown .btn {
  background-color: #202225;
  border: none;
}

.show>.btn-secondary.dropdown-toggle {
  background-color: #2F3136;
  border: none;
}

.show>.btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 2px 5px #2F3136;
}

.dropdown-menu {
  background-color: #2F3136;
  border-radius: 3px;
  border: 1px solid #292B2F;
}

.dropdown-item {
  color: white;
}

.dropdown-item:hover {
  background-color: #2F3136;
  color: cornflowerblue;
}

.dropdown-divider {
  border-top: 1px solid #292B2F;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 8px;
    margin-right: -15px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.link{
  color: #829297;
  width: 100%;
  text-align: left;
}

.link:hover{
  color: cornflowerblue;
  text-decoration: none;
}

.link-white{
  color: #D7D5D9;
  width: 100%;
}

.link-white:hover{
  color: cornflowerblue;
  text-decoration: none;
}

.modal-content {
  background-color: #2F3136;
}

.modal-header {
  background-color: #202225;
}

.modal-footer {
  background-color: #202225;
}

li {
  list-style-type: none;
}

li li {
  list-style-type: none;
}

.card {
  background-color: #36393F;
  border-radius: 3px;
  border: 1px solid #292B2F;
}

.card-body {
  background-color: #2F3136;
}

.card-header {
  background-color: #202225;
}

.card-footer {
  background-color: #202225;
}

.list-group-item:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.list-group-item {
  background-color: #2F3136;
}

.list-group-item:hover {
  background-color: #292B2F;
}

.list-group-item.active {
  background-color: #40444B;
  border: 1px solid #292B2F;
}

.table-match-stat {
  text-align: center;
  color: white;
  width: 30%;
}

.standing-table-th {
  padding: 8px;
}

.progress-left {
  direction: rtl;
}

.progress {
  width: 150px;
}

.nav-tabs {
  border: none;
}

.tab-content>.tab-pane {
  background-color: #36393F;
  border: 1px solid #292B2F;
}

.nav-tabs .nav-item  {
  background-color: #292B2F;
}

.nav-tabs .nav-item:hover  {
  border: 1px solid #292B2F;
  border-bottom: none;
  color: cornflowerblue;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  background-color:#36393F;
  border: 1px solid #292B2F;
  border-bottom: none;
  color: cornflowerblue;
}

.nav-tabs .nav-link {
  color: white!important;
  background-color: #40444B;
  border: 1px solid #292B2F;
  border-bottom: none;
}

.nav-link {
  color: white!important;
}

.nav-link:hover {
  color: cornflowerblue!important;
}

@media (min-width: 768px) {
  .bd-navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1071;
  }
}

@media (max-width: 767.98px) {
  .navbar-nav-scroll {
    width: 100%;
    overflow-x: auto;
  }
}

.information-block {
  background-color: #202225;
}

.ko-result-round1 {
  border: 1px solid #292B2F;
  margin-top: 10px;
}

.ko-result-round2 {
  border: 1px solid #292B2F;
  margin-top: 50px;
  margin-bottom: 90px;
}

.ko-result-round3 {
  border: 1px solid #292B2F;
  margin-top: 130px;
  margin-bottom: 250px;
}

.ko-result-round4 {
  border: 1px solid #292B2F;
  margin-top: 290px;
}

.ko-result-round5 {
  border: 1px solid #292B2F;
  margin-top: 455px;
}

.table-sortable {
  cursor: pointer;
}

.discord_guild_menu {
  height:80px;
  border-radius: 50%;
}

.discord_guild_menu:hover {
  height:85px;
  border-radius: 20%;
  cursor: pointer;
}

.help_ico {
  cursor: help;
}

.api-up {
  height: 10px;
  width: 10px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
}

.api-down {
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}

.top-button {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1600;
  border: none;
  outline: none;
  color: #D7D5D9;
  cursor: pointer;
  padding: 10px;
  border-radius: 7px;
}

.top-button:hover {
  color: #40444B;
}

.alert{
  position: fixed;
  z-index: 1030;
}

@media (min-width: 768px) {
  .alert {
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

@media (max-width: 767.98px) {
  .alert {
    width: 100%!important;
    margin: 0;
    bottom: 0;
    border-radius: 0;
  }
}

.discord-server-view {
  width: 350px;
  font-size: 12px;
  margin-bottom: 10px;
}

.discord-server-view:hover {
  background-color: #2F3136;
}

.discord-server-img {
  height: 90px;
  margin-right: 5px;
}

.media-bb3>.embed-bb3{
  width: 50%;!important;
}

@media (max-width: 767.98px) {
  .optional-element {
    display: none;
  }

  .table td, .table th {
    padding: 0;
  }

  .nav-reduce {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
    width: 30px;
    height: 30px;
  }

  .nav-reduce > .fas {
    font-size: 16px;
  }

  .nav-reduce > .fab {
    font-size: 16px;
  }

  .media-bb3 {
    display: block;!important;
  }

  .media-bb3>.embed-bb3{
    width: 100%;!important;
  }
}

.coach-media-ico {
  font-size: 30px;
}

.bb-icon {
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 25px;
  height: 22px;
}

.bb2-icon {
  background-image: url(../spike_resources/img/misc/II.png);
}

.twitch-color {
  color: #6441a5!important;
}

.youtube-color {
  color: #ff0000!important;
}

.desktop-color {
  color: white!important;
}

.playstation-color {
  color: #326db3!important;
}

.xbox-color {
  color: #0e7a0d!important;
}

.steam-color {
  color: #00adee!important;
}

.patreon-color {
  color: #f96854!important;
}

.twitter-color {
  color: #1da1f2;
}

.discord-color {
  color: #7289da!important;
}

.btn-twitch {
  color: white;
  background-color:#6441a5;
}

.btn-steam {
  color: white;
  background-color:#00adee;
}