* {
  box-sizing: border-box;
}

.autocomplete {
  position: relative;
  display: inline-block;
}

.autocomplete-suggestions {
  background-color: #202225;
  border: 1px groove black;
  border-radius: 3px;
  max-height: 1000px;
}

.autocomplete-suggestions .autocomplete-suggestion {
  padding: 6px;
  cursor: pointer;
  background-color: #2F3136;
}

.autocomplete-suggestions .autocomplete-suggestion:active {
  background-color: DodgerBlue;
  color: #ffffff;
}

.autocomplete-suggestions .autocomplete-selected {
  background-color: #323F42;
}

input[type=text] {
  width: 100%;
  margin: 8px 0;
  padding: 8px;
}

.inputWithIcon input[type=text] {
  padding-left: 40px;
}

.inputWithIcon {
  position: relative;
}

.inputWithIcon i {
  position: absolute;
  left: 0;
  top: 1px;
  padding: 9px 8px;
}