@font-face {
	font-family: "Trump Town";
	src: url('../fonts/trump_town_pro.ttf');
}
@font-face {
	font-family: "Nuffle";
	font-style: italic;
	src: url('../fonts/Nuffle_italic.OTF');
}
@font-face {
	font-family: "Nuffle";
	src: url('../fonts/Nuffle.OTF');
}

body {
    font-family: "Nuffle", Helvetica, Arial, sans-serif;
    background-color: black;
    background-image:url('../spike_resources/img/backgrounds/stream_announce.png');
    background-repeat: no-repeat;
    margin: 0px auto;
    overflow: hidden;
}

h1 {
    font-style: normal;
    font-weight: bold;
    color: #f8f9fa !important;
}
h2 {
	font-style: italic;
	font-weight: normal;
	color: #f8f9fa !important;
}
h3 {
    font-family: "Trump Town";
	font-style: italic;
	font-weight: bold;
	color: #f8f9fa !important;
}
h4 {
    font-family: "Trump Town";
	font-weight: bold;
	color: #f8f9fa !important;
}
h5 {
    font-family: "Trump Town";
	font-weight: bold;
	color: #17a2b8 !important;
}
h6 {
    font-family: "Trump Town";
	font-weight: bold;
	color: #17a2b8 !important;
}