.tournament-bracket {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}
@media (min-width: 38em) {
    .tournament-bracket {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
    }
}
.tournament-bracket__round {
    display: block;
    margin-left: -3px;
    -webkit-box-flex: 1;
    flex: 1;
}
.round-title {
    font-size: 0.95rem;
    text-align: center;
}
.tournament-bracket__list {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    justify-content: center;
    height: 100%;
    min-height: 100%;
    padding-bottom: 2em;
    padding-left: 1px;
    margin-bottom: 2em;
    -webkit-transition: padding 0.2s ease-in-out, margin 0.2s ease-in-out;
    transition: padding 0.2s ease-in-out, margin 0.2s ease-in-out;
}
@media (max-width: 24em) {
    .tournament-bracket__list {
        padding-bottom: 1em;
        margin-bottom: 1em;
        padding-left: 0;
    }
}
@media (min-width: 38em) {
    .tournament-bracket__list {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: 0;
    }
}
.tournament-bracket__round:last-child .tournament-bracket__list {
    border: 0;
}
.tournament-bracket__item {
    display: -webkit-box;
    display: flex;
    -webkit-box-flex: 0;
    flex: 0 1 auto;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: start;
    align-items: flex-start;
    position: relative;
    padding: 2% 0;
    width: 48%;
    -webkit-transition: padding 0.2s linear;
    transition: padding 0.2s linear;
}
.tournament-bracket__item:nth-child(odd) {
    margin-right: 2%;
}
.tournament-bracket__item:nth-child(even) {
    margin-left: 2%;
}
.tournament-bracket__item::after {
    -webkit-transition: width 0.2s linear;
    transition: width 0.2s linear;
}
@media (max-width: 24em) {
    .tournament-bracket__item {
        width: 100%;
    }
    .tournament-bracket__item:nth-child(odd),
    .tournament-bracket__item:nth-child(even) {
        margin-left: 0;
        margin-right: 0;
    }
}
@media (min-width: 38em) {
    .tournament-bracket__item {
        padding: 0.5em 1em;
        width: 100%;
    }
    .tournament-bracket__item:nth-child(odd),
    .tournament-bracket__item:nth-child(even) {
        margin: 0;
    }
    .tournament-bracket__item::after {
        position: absolute;
        right: 0;
        content: '';
        display: block;
        width: 1em;
        height: 45%;
        border-right: 2px solid #9e9e9e;
    }
    .tournament-bracket__item:nth-child(odd)::after {
        top: 50%;
        border-top: 2px solid #9e9e9e;
        -webkit-transform: translateY(-1px);
        transform: translateY(-1px);
    }
    .tournament-bracket--rounded .tournament-bracket__item:nth-child(odd)::after {
        border-top-right-radius: 0.6em;
    }
    .tournament-bracket__item:nth-child(even)::after {
        bottom: 50%;
        border-bottom: 2px solid #9e9e9e;
        -webkit-transform: translateY(1px);
        transform: translateY(1px);
    }
    .tournament-bracket--rounded .tournament-bracket__item:nth-child(even)::after {
        border-bottom-right-radius: 0.6em;
    }
    .tournament-bracket__round:first-child .tournament-bracket__item {
        padding-left: 0;
    }
    .tournament-bracket__round:last-child .tournament-bracket__item {
        padding-right: 0;
    }
    .tournament-bracket__round:last-child .tournament-bracket__item::after {
        display: none;
    }
    .tournament-bracket__round:nth-last-child(2) .tournament-bracket__item::after {
        border-radius: 0;
        border-right: 0;
    }
}
@media (min-width: 72em) {
    .tournament-bracket__item {
        padding: 0.5em 1.5em;
    }
    .tournament-bracket__item::after {
        width: 1.5em;
    }
}
.tournament-bracket__match {
    width: 100%;
    background-color: #202225;
    outline: none;
    cursor: pointer;
    -webkit-transition: padding 0.2s ease-in-out, border 0.2s linear;
    transition: padding 0.2s ease-in-out, border 0.2s linear;
}

.tournament-bracket__match:hover {
    background-color: #2F3136;
}

.tournament-bracket__match::before,
.tournament-bracket__match::after {
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
@media (max-width: 24em) {
    .tournament-bracket__match {
        padding: 0.75em 0.5em;
    }
}
@media (min-width: 38em) {
    .tournament-bracket__match::before,
    .tournament-bracket__match::after {
        position: absolute;
        left: 0;
        z-index: 1;
        content: '';
        display: block;
        width: 1em;
        height: 10%;
        border-left: 2px solid #9e9e9e;
    }
    .tournament-bracket__match::before {
        bottom: 50%;
        border-bottom: 2px solid #9e9e9e;
        -webkit-transform: translate(0, 1px);
        transform: translate(0, 1px);
    }
    .tournament-bracket--rounded .tournament-bracket__match::before {
        border-bottom-left-radius: 0.6em;
    }
    .tournament-bracket__match::after {
        top: 50%;
        border-top: 2px solid #9e9e9e;
        -webkit-transform: translate(0, -1px);
        transform: translate(0, -1px);
    }
    .tournament-bracket--rounded .tournament-bracket__match::after {
        border-top-left-radius: 0.6em;
    }
}
@media (min-width: 72em) {
    .tournament-bracket__match::before,
    .tournament-bracket__match::after {
        width: 1.5em;
    }
    .tournament-bracket__match::before {
        -webkit-transform: translate(0, 1px);
        transform: translate(0, 1px);
    }
    .tournament-bracket__match::after {
        -webkit-transform: translate(0, -1px);
        transform: translate(0, -1px);
    }
}
.tournament-bracket__round:last-child .tournament-bracket__match::before,
.tournament-bracket__round:last-child .tournament-bracket__match::after {
    border-left: 0;
}
.tournament-bracket__round:last-child .tournament-bracket__match::before {
    border-bottom-left-radius: 0;
}
.tournament-bracket__round:last-child .tournament-bracket__match::after {
    display: none;
}
.tournament-bracket__round:first-child .tournament-bracket__match::before,
.tournament-bracket__round:first-child .tournament-bracket__match::after {
    display: none;
}
