<style>
    td:nth-child(2), td:nth-child(6) {
        display: none
    }
    td:nth-child(0), td:nth-child(1) {
        font-weight: bold;
    }
</style>
<div class="table-responsive">
    <table class="table table-dark table-hover">
        <thead>
        <tr>
            <td>#</td>
            <td>Equipe</td>
            <td>Coach</td>
            <td>Roster</td>
            <td>Points</td>
            <td>H2H</td>
            <td>Pts Adv.</td>
            <td>TDD</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>Sebotouno team</td>
            <td>Sebotouno</td>
            <td>Lizardmen</td>
            <td>18</td>
            <td>0</td>
            <td>64</td>
            <td>11</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Geryon team</td>
            <td>Geryon</td>
            <td>Bretonia</td>
            <td>15</td>
            <td>-1</td>
            <td>57</td>
            <td>4</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Storbertas team</td>
            <td>Storbertas</td>
            <td>Lizardmen</td>
            <td>15</td>
            <td>-1</td>
            <td>51</td>
            <td>8</td>
        </tr>
        <tr>
            <td>4</td>
            <td>PurpleChest team</td>
            <td>PurpleChest</td>
            <td>Dwarf</td>
            <td>14</td>
            <td>-1</td>
            <td>60</td>
            <td>5</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Bazakastine team</td>
            <td>Bazakastine</td>
            <td>Lizardmen</td>
            <td>14</td>
            <td>-1</td>
            <td>58</td>
            <td>7</td>
        </tr>
        <tr>
            <td>6</td>
            <td>dionysian team</td>
            <td>dionysian</td>
            <td>Dark Elf</td>
            <td>14</td>
            <td>-1</td>
            <td>49</td>
            <td>6</td>
        </tr>
        <tr>


            <td>7</td>
            <td>lLoggiczZ team</td>
            <td>lLoggiczZ</td>
            <td>Dwarf</td>
            <td>13</td>
            <td>-1</td>
            <td>66</td>
            <td>7</td>
        </tr>
        <tr>


            <td>8</td>
            <td>Tripleskull team</td>
            <td>Tripleskull</td>
            <td>Wood Elf</td>
            <td>13</td>
            <td>-1</td>
            <td>51</td>
            <td>4</td>
        </tr>
        <tr>


            <td>9</td>
            <td>Silsei team</td>
            <td>Silsei</td>
            <td>Amazon</td>
            <td>13</td>
            <td>-1</td>
            <td>50</td>
            <td>3</td>
        </tr>
        <tr>


            <td>10</td>
            <td>Nuttyfessor team</td>
            <td>Nuttyfessor</td>
            <td>Chaos Dwarf</td>
            <td>13</td>
            <td>-1</td>
            <td>49</td>
            <td>4</td>
        </tr>
        <tr>


            <td>11</td>
            <td>Sampittu team</td>
            <td>Sampittu</td>
            <td>Lizardmen</td>
            <td>13</td>
            <td>-1</td>
            <td>48</td>
            <td>5</td>
        </tr>
        <tr>


            <td>12</td>
            <td>BennyBartez team</td>
            <td>BennyBartez</td>
            <td>Lizardmen</td>
            <td>12</td>
            <td>-1</td>
            <td>74</td>
            <td>1</td>
        </tr>
        <tr>


            <td>13</td>
            <td>Abram team</td>
            <td>Abram</td>
            <td>Amazon</td>
            <td>12</td>
            <td>-1</td>
            <td>66</td>
            <td>3</td>
        </tr>
        <tr>


            <td>14</td>
            <td>Moonbiter team</td>
            <td>Moonbiter</td>
            <td>Wood Elf</td>
            <td>12</td>
            <td>-1</td>
            <td>60</td>
            <td>10</td>
        </tr>
        <tr>


            <td>15</td>
            <td>Obsidian team</td>
            <td>Obsidian</td>
            <td>Chaos Dwarf</td>
            <td>12</td>
            <td>-1</td>
            <td>55</td>
            <td>2</td>
        </tr>
        <tr>


            <td>16</td>
            <td>szrlm team</td>
            <td>szrlm</td>
            <td>Norse</td>
            <td>12</td>
            <td>-1</td>
            <td>51</td>
            <td>4</td>
        </tr>
        <tr>


            <td>17</td>
            <td>nobbynobbs team</td>
            <td>nobbynobbs</td>
            <td>Norse</td>
            <td>12</td>
            <td>-1</td>
            <td>49</td>
            <td>5</td>
        </tr>
        <tr>


            <td>18</td>
            <td>FluffytheAlien1 team</td>
            <td>FluffytheAlien1</td>
            <td>Lizardmen</td>
            <td>12</td>
            <td>-1</td>
            <td>47</td>
            <td>3</td>
        </tr>
        <tr>


            <td>19</td>
            <td>orcster team</td>
            <td>orcster</td>
            <td>Undead</td>
            <td>12</td>
            <td>-1</td>
            <td>44</td>
            <td>5</td>
        </tr>
        <tr>


            <td>20</td>
            <td>Hargrim team</td>
            <td>Hargrim</td>
            <td>Dark Elf</td>
            <td>11</td>
            <td>-1</td>
            <td>63</td>
            <td>2</td>
        </tr>
        <tr>


            <td>21</td>
            <td>Javelin team</td>
            <td>Javelin</td>
            <td>Undead</td>
            <td>11</td>
            <td>-1</td>
            <td>62</td>
            <td>1</td>
        </tr>
        <tr>


            <td>22</td>
            <td>Ungern team</td>
            <td>Ungern</td>
            <td>Undead</td>
            <td>11</td>
            <td>-1</td>
            <td>56</td>
            <td>1</td>
        </tr>
        <tr>


            <td>23</td>
            <td>Fiki team</td>
            <td>Fiki</td>
            <td>Undead</td>
            <td>11</td>
            <td>-1</td>
            <td>56</td>
            <td>1</td>
        </tr>
        <tr>


            <td>24</td>
            <td>Elyod team</td>
            <td>Elyod</td>
            <td>Skaven</td>
            <td>11</td>
            <td>-1</td>
            <td>54</td>
            <td>2</td>
        </tr>
        <tr>


            <td>25</td>
            <td>Xialth team</td>
            <td>Xialth</td>
            <td>Lizardmen</td>
            <td>11</td>
            <td>-1</td>
            <td>52</td>
            <td>2</td>
        </tr>
        <tr>


            <td>26</td>
            <td>SmukkeOdin team</td>
            <td>SmukkeOdin</td>
            <td>Dwarf</td>
            <td>11</td>
            <td>-1</td>
            <td>50</td>
            <td>1</td>
        </tr>
        <tr>


            <td>27</td>
            <td>Wobert team</td>
            <td>Wobert</td>
            <td>Lizardmen</td>
            <td>11</td>
            <td>-1</td>
            <td>49</td>
            <td>3</td>
        </tr>
        <tr>


            <td>28</td>
            <td>Thatasianguy team</td>
            <td>Thatasianguy</td>
            <td>Human</td>
            <td>11</td>
            <td>-1</td>
            <td>49</td>
            <td>2</td>
        </tr>
        <tr>


            <td>29</td>
            <td>Siggikniggi team</td>
            <td>Siggikniggi</td>
            <td>Chaos Dwarf</td>
            <td>11</td>
            <td>-1</td>
            <td>48</td>
            <td>5</td>
        </tr>
        <tr>


            <td>30</td>
            <td>Acidcyrax team</td>
            <td>Acidcyrax</td>
            <td>Undead</td>
            <td>11</td>
            <td>-1</td>
            <td>36</td>
            <td>4</td>
        </tr>
        <tr>


            <td>31</td>
            <td>Le Bread masque team</td>
            <td>Le Bread masque</td>
            <td>Dark Elf</td>
            <td>11</td>
            <td>-1</td>
            <td>31</td>
            <td>4</td>
        </tr>
        <tr>


            <td>32</td>
            <td>Anubis2406 team</td>
            <td>Anubis2406</td>
            <td>Orc</td>
            <td>10</td>
            <td>-1</td>
            <td>67</td>
            <td>0</td>
        </tr>
        <tr>


            <td>33</td>
            <td>Matte8 team</td>
            <td>Matte8</td>
            <td>Dark Elf</td>
            <td>10</td>
            <td>-1</td>
            <td>63</td>
            <td>2</td>
        </tr>
        <tr>


            <td>34</td>
            <td>Ghorghor team</td>
            <td>Ghorghor</td>
            <td>Necromantic</td>
            <td>10</td>
            <td>-1</td>
            <td>59</td>
            <td>1</td>
        </tr>
        <tr>


            <td>35</td>
            <td>philipprocter team</td>
            <td>philipprocter</td>
            <td>Lizardmen</td>
            <td>10</td>
            <td>-1</td>
            <td>59</td>
            <td>-1</td>
        </tr>
        <tr>


            <td>36</td>
            <td>Mahalsson team</td>
            <td>Mahalsson</td>
            <td>Norse</td>
            <td>10</td>
            <td>-1</td>
            <td>57</td>
            <td>3</td>
        </tr>
        <tr>


            <td>37</td>
            <td>Nourrou team</td>
            <td>Nourrou</td>
            <td>Undead</td>
            <td>10</td>
            <td>-1</td>
            <td>57</td>
            <td>1</td>
        </tr>
        <tr>


            <td>38</td>
            <td>Volkajo team</td>
            <td>Volkajo</td>
            <td>Norse</td>
            <td>10</td>
            <td>-1</td>
            <td>50</td>
            <td>2</td>
        </tr>
        <tr>


            <td>39</td>
            <td>MarzM team</td>
            <td>MarzM</td>
            <td>Wood Elf</td>
            <td>10</td>
            <td>-1</td>
            <td>44</td>
            <td>1</td>
        </tr>
        <tr>


            <td>40</td>
            <td>Lechatventru team</td>
            <td>Lechatventru</td>
            <td>Undead</td>
            <td>10</td>
            <td>-1</td>
            <td>41</td>
            <td>-2</td>
        </tr>
        <tr>


            <td>41</td>
            <td>Calltroop team</td>
            <td>Calltroop</td>
            <td>Amazon</td>
            <td>10</td>
            <td>-1</td>
            <td>39</td>
            <td>1</td>
        </tr>
        <tr>


            <td>42</td>
            <td>Mankiz team</td>
            <td>Mankiz</td>
            <td>Wood Elf</td>
            <td>10</td>
            <td>-1</td>
            <td>35</td>
            <td>4</td>
        </tr>
        <tr>


            <td>43</td>
            <td>Calcium team</td>
            <td>Calcium</td>
            <td>Dark Elf</td>
            <td>9</td>
            <td>-1</td>
            <td>61</td>
            <td>-2</td>
        </tr>
        <tr>


            <td>44</td>
            <td>Yaquestay team</td>
            <td>Yaquestay</td>
            <td>Underworld</td>
            <td>9</td>
            <td>-1</td>
            <td>60</td>
            <td>2</td>
        </tr>
        <tr>


            <td>45</td>
            <td>Hellboy_ team</td>
            <td>Hellboy_</td>
            <td>Amazon</td>
            <td>9</td>
            <td>-1</td>
            <td>59</td>
            <td>1</td>
        </tr>
        <tr>


            <td>46</td>
            <td>Brutopatia team</td>
            <td>Brutopatia</td>
            <td>Lizardmen</td>
            <td>9</td>
            <td>-1</td>
            <td>58</td>
            <td>-1</td>
        </tr>
        <tr>


            <td>47</td>
            <td>boronate team</td>
            <td>boronate</td>
            <td>Lizardmen</td>
            <td>9</td>
            <td>-1</td>
            <td>53</td>
            <td>2</td>
        </tr>
        <tr>


            <td>48</td>
            <td>Veggente team</td>
            <td>Veggente</td>
            <td>Wood Elf</td>
            <td>9</td>
            <td>-1</td>
            <td>48</td>
            <td>-1</td>
        </tr>
        <tr>


            <td>49</td>
            <td>Diomlord team</td>
            <td>Diomlord</td>
            <td>Orc</td>
            <td>9</td>
            <td>-1</td>
            <td>47</td>
            <td>3</td>
        </tr>
        <tr>


            <td>50</td>
            <td>Lysistrata team</td>
            <td>Lysistrata</td>
            <td>Human</td>
            <td>9</td>
            <td>-1</td>
            <td>43</td>
            <td>2</td>
        </tr>
        <tr>


            <td>51</td>
            <td>Hapsu team</td>
            <td>Hapsu</td>
            <td>Norse</td>
            <td>8</td>
            <td>-1</td>
            <td>66</td>
            <td>-1</td>
        </tr>
        <tr>


            <td>52</td>
            <td>Pjut team</td>
            <td>Pjut</td>
            <td>Dwarf</td>
            <td>8</td>
            <td>-1</td>
            <td>65</td>
            <td>1</td>
        </tr>
        <tr>


            <td>53</td>
            <td>naytsyrhc team</td>
            <td>naytsyrhc</td>
            <td>Dark Elf</td>
            <td>8</td>
            <td>-1</td>
            <td>61</td>
            <td>0</td>
        </tr>
        <tr>


            <td>54</td>
            <td>Spydyr team</td>
            <td>Spydyr</td>
            <td>Khemri</td>
            <td>8</td>
            <td>-1</td>
            <td>58</td>
            <td>0</td>
        </tr>
        <tr>


            <td>55</td>
            <td>Crowdog09 team</td>
            <td>Crowdog09</td>
            <td>Orc</td>
            <td>8</td>
            <td>-1</td>
            <td>54</td>
            <td>-1</td>
        </tr>
        <tr>


            <td>56</td>
            <td>AllyRdr team</td>
            <td>AllyRdr</td>
            <td>Human</td>
            <td>8</td>
            <td>-1</td>
            <td>51</td>
            <td>1</td>
        </tr>
        <tr>


            <td>57</td>
            <td>besters team</td>
            <td>besters</td>
            <td>Pro Elf</td>
            <td>8</td>
            <td>-1</td>
            <td>50</td>
            <td>-1</td>
        </tr>
        <tr>


            <td>58</td>
            <td>Glauk team</td>
            <td>Glauk</td>
            <td>Wood Elf</td>
            <td>8</td>
            <td>-1</td>
            <td>47</td>
            <td>-1</td>
        </tr>
        <tr>


            <td>59</td>
            <td>Schumway team</td>
            <td>Schumway</td>
            <td>Orc</td>
            <td>8</td>
            <td>-1</td>
            <td>46</td>
            <td>-1</td>
        </tr>
        <tr>


            <td>60</td>
            <td>Jbazza team</td>
            <td>Jbazza</td>
            <td>Lizardmen</td>
            <td>8</td>
            <td>-1</td>
            <td>45</td>
            <td>-1</td>
        </tr>
        <tr>


            <td>61</td>
            <td>Watchtower team</td>
            <td>Watchtower</td>
            <td>Lizardmen</td>
            <td>8</td>
            <td>-1</td>
            <td>44</td>
            <td>2</td>
        </tr>
        <tr>


            <td>62</td>
            <td>Sacred Chilli team</td>
            <td>Sacred Chilli</td>
            <td>Dark Elf</td>
            <td>8</td>
            <td>-1</td>
            <td>44</td>
            <td>0</td>
        </tr>
        <tr>


            <td>63</td>
            <td>danton team</td>
            <td>danton</td>
            <td>Undead</td>
            <td>8</td>
            <td>-1</td>
            <td>43</td>
            <td>1</td>
        </tr>
        <tr>


            <td>64</td>
            <td>Unforgivenirl team</td>
            <td>Unforgivenirl</td>
            <td>Dwarf</td>
            <td>8</td>
            <td>-1</td>
            <td>42</td>
            <td>2</td>
        </tr>
        <tr>


            <td>65</td>
            <td>Freyn team</td>
            <td>Freyn</td>
            <td>Dark Elf</td>
            <td>8</td>
            <td>-1</td>
            <td>38</td>
            <td>1</td>
        </tr>
        <tr>


            <td>66</td>
            <td>Juman team</td>
            <td>Juman</td>
            <td>Amazon</td>
            <td>7</td>
            <td>-1</td>
            <td>58</td>
            <td>-3</td>
        </tr>
        <tr>


            <td>67</td>
            <td>DaBlackSkull team</td>
            <td>DaBlackSkull</td>
            <td>Chaos Dwarf</td>
            <td>7</td>
            <td>-1</td>
            <td>56</td>
            <td>-2</td>
        </tr>
        <tr>


            <td>68</td>
            <td>Spartako team</td>
            <td>Spartako</td>
            <td>Wood Elf</td>
            <td>7</td>
            <td>-1</td>
            <td>55</td>
            <td>1</td>
        </tr>
        <tr>


            <td>69</td>
            <td>spleggy team</td>
            <td>spleggy</td>
            <td>Undead</td>
            <td>7</td>
            <td>-1</td>
            <td>52</td>
            <td>0</td>
        </tr>
        <tr>


            <td>70</td>
            <td>Blodgestep team</td>
            <td>Blodgestep</td>
            <td>Undead</td>
            <td>7</td>
            <td>-1</td>
            <td>51</td>
            <td>-2</td>
        </tr>
        <tr>


            <td>71</td>
            <td>CarlosTT team</td>
            <td>CarlosTT</td>
            <td>Dark Elf</td>
            <td>7</td>
            <td>-1</td>
            <td>49</td>
            <td>-1</td>
        </tr>
        <tr>


            <td>72</td>
            <td>Khornight team</td>
            <td>Khornight</td>
            <td>Wood Elf</td>
            <td>7</td>
            <td>-1</td>
            <td>48</td>
            <td>0</td>
        </tr>
        <tr>


            <td>73</td>
            <td>SickAsEggs team</td>
            <td>SickAsEggs</td>
            <td>Human</td>
            <td>7</td>
            <td>-1</td>
            <td>48</td>
            <td>-1</td>
        </tr>
        <tr>


            <td>74</td>
            <td>20phoenix team</td>
            <td>20phoenix</td>
            <td>Necromantic</td>
            <td>7</td>
            <td>-1</td>
            <td>48</td>
            <td>-1</td>
        </tr>
        <tr>


            <td>75</td>
            <td>Marreo team</td>
            <td>Marreo</td>
            <td>Wood Elf</td>
            <td>7</td>
            <td>-1</td>
            <td>46</td>
            <td>-1</td>
        </tr>
        <tr>


            <td>76</td>
            <td>Shadowplayer89 team</td>
            <td>Shadowplayer89</td>
            <td>Wood Elf</td>
            <td>7</td>
            <td>-1</td>
            <td>40</td>
            <td>3</td>
        </tr>
        <tr>


            <td>77</td>
            <td>Pete team</td>
            <td>Pete</td>
            <td>Dark Elf</td>
            <td>7</td>
            <td>-1</td>
            <td>32</td>
            <td>0</td>
        </tr>
        <tr>


            <td>78</td>
            <td>Gribouillon team</td>
            <td>Gribouillon</td>
            <td>Norse</td>
            <td>6</td>
            <td>-1</td>
            <td>54</td>
            <td>-1</td>
        </tr>
        <tr>


            <td>79</td>
            <td>Arioso team</td>
            <td>Arioso</td>
            <td>Norse</td>
            <td>6</td>
            <td>-1</td>
            <td>48</td>
            <td>-2</td>
        </tr>
        <tr>


            <td>80</td>
            <td>Jofarin team</td>
            <td>Jofarin</td>
            <td>Bretonia</td>
            <td>6</td>
            <td>-1</td>
            <td>43</td>
            <td>0</td>
        </tr>
        <tr>


            <td>81</td>
            <td>Zakka Zpakka team</td>
            <td>Zakka Zpakka</td>
            <td>Wood Elf</td>
            <td>6</td>
            <td>-1</td>
            <td>41</td>
            <td>-2</td>
        </tr>
        <tr>


            <td>82</td>
            <td>Inkq team</td>
            <td>Inkq</td>
            <td>Skaven</td>
            <td>6</td>
            <td>-1</td>
            <td>40</td>
            <td>-3</td>
        </tr>
        <tr>


            <td>83</td>
            <td>Avreus Culter team</td>
            <td>Avreus Culter</td>
            <td>Norse</td>
            <td>6</td>
            <td>-1</td>
            <td>37</td>
            <td>-2</td>
        </tr>
        <tr>


            <td>84</td>
            <td>DaPiranha team</td>
            <td>DaPiranha</td>
            <td>Pro Elf</td>
            <td>6</td>
            <td>-1</td>
            <td>36</td>
            <td>-2</td>
        </tr>
        <tr>


            <td>85</td>
            <td>Rick Wreckless team</td>
            <td>Rick Wreckless</td>
            <td>Vampires</td>
            <td>6</td>
            <td>-1</td>
            <td>36</td>
            <td>-2</td>
        </tr>
        <tr>


            <td>86</td>
            <td>FightNMongoose team</td>
            <td>FightNMongoose</td>
            <td>Pro Elf</td>
            <td>6</td>
            <td>-1</td>
            <td>35</td>
            <td>-1</td>
        </tr>
        <tr>


            <td>87</td>
            <td>Dimmy Gee team</td>
            <td>Dimmy Gee</td>
            <td>Undead</td>
            <td>5</td>
            <td>-1</td>
            <td>52</td>
            <td>-3</td>
        </tr>
        <tr>


            <td>88</td>
            <td>caio team</td>
            <td>caio</td>
            <td>Undead</td>
            <td>5</td>
            <td>-1</td>
            <td>50</td>
            <td>-3</td>
        </tr>
        <tr>


            <td>89</td>
            <td>Hanniball team</td>
            <td>Hanniball</td>
            <td>Pro Elf</td>
            <td>5</td>
            <td>-1</td>
            <td>47</td>
            <td>-3</td>
        </tr>
        <tr>


            <td>90</td>
            <td>Bushain Manly team</td>
            <td>Bushain Manly</td>
            <td>Undead</td>
            <td>5</td>
            <td>-1</td>
            <td>46</td>
            <td>-2</td>
        </tr>
        <tr>


            <td>91</td>
            <td>Hardcore Stig team</td>
            <td>Hardcore Stig</td>
            <td>Dark Elf</td>
            <td>5</td>
            <td>-1</td>
            <td>43</td>
            <td>-2</td>
        </tr>
        <tr>


            <td>92</td>
            <td>Eldryr team</td>
            <td>Eldryr</td>
            <td>Chaos Dwarf</td>
            <td>5</td>
            <td>-1</td>
            <td>42</td>
            <td>-3</td>
        </tr>
        <tr>


            <td>93</td>
            <td>Efcstef team</td>
            <td>Efcstef</td>
            <td>Amazon</td>
            <td>5</td>
            <td>-1</td>
            <td>42</td>
            <td>-8</td>
        </tr>
        <tr>


            <td>94</td>
            <td>cornish team</td>
            <td>cornish</td>
            <td>Chaos Dwarf</td>
            <td>5</td>
            <td>-1</td>
            <td>37</td>
            <td>-3</td>
        </tr>
        <tr>


            <td>95</td>
            <td>Gaunab team</td>
            <td>Gaunab</td>
            <td>Skaven</td>
            <td>5</td>
            <td>-1</td>
            <td>36</td>
            <td>-2</td>
        </tr>
        <tr>


            <td>96</td>
            <td>CrapIllusionist team</td>
            <td>CrapIllusionist</td>
            <td>Orc</td>
            <td>4</td>
            <td>-1</td>
            <td>49</td>
            <td>-4</td>
        </tr>
        <tr>


            <td>97</td>
            <td>Yncarne team</td>
            <td>Yncarne</td>
            <td>Chaos Dwarf</td>
            <td>4</td>
            <td>-1</td>
            <td>45</td>
            <td>-3</td>
        </tr>
        <tr>


            <td>98</td>
            <td>Sorvad team</td>
            <td>Sorvad</td>
            <td>Bretonia</td>
            <td>4</td>
            <td>-1</td>
            <td>45</td>
            <td>-8</td>
        </tr>
        <tr>


            <td>99</td>
            <td>Johnny Feyev team</td>
            <td>Johnny Feyev</td>
            <td>Dark Elf</td>
            <td>4</td>
            <td>-1</td>
            <td>43</td>
            <td>-6</td>
        </tr>
        <tr>


            <td>100</td>
            <td>Coach Grong team</td>
            <td>Coach Grong</td>
            <td>Bretonia</td>
            <td>4</td>
            <td>-1</td>
            <td>39</td>
            <td>-4</td>
        </tr>
        <tr>


            <td>101</td>
            <td>Padster61 team</td>
            <td>Padster61</td>
            <td>Bretonia</td>
            <td>4</td>
            <td>-1</td>
            <td>38</td>
            <td>-5</td>
        </tr>
        <tr>


            <td>102</td>
            <td>Sherbie team</td>
            <td>Sherbie</td>
            <td>Human</td>
            <td>4</td>
            <td>-1</td>
            <td>32</td>
            <td>-5</td>
        </tr>
        <tr>


            <td>103</td>
            <td>coma13697 team</td>
            <td>coma13697</td>
            <td>Necromantic</td>
            <td>3</td>
            <td>-1</td>
            <td>48</td>
            <td>-4</td>
        </tr>
        <tr>


            <td>104</td>
            <td>CaolanG team</td>
            <td>CaolanG</td>
            <td>Norse</td>
            <td>3</td>
            <td>-1</td>
            <td>42</td>
            <td>-4</td>
        </tr>
        <tr>


            <td>105</td>
            <td>Ruux team</td>
            <td>Ruux</td>
            <td>Chaos</td>
            <td>3</td>
            <td>-1</td>
            <td>40</td>
            <td>-9</td>
        </tr>
        <tr>


            <td>106</td>
            <td>Raagnar team</td>
            <td>Raagnar</td>
            <td>Chaos Dwarf</td>
            <td>3</td>
            <td>-1</td>
            <td>35</td>
            <td>-4</td>
        </tr>
        <tr>


            <td>107</td>
            <td>Joemanji team</td>
            <td>Joemanji</td>
            <td>Undead</td>
            <td>2</td>
            <td>0</td>
            <td>42</td>
            <td>-6</td>
        </tr>
        <tr>


            <td>108</td>
            <td>MeatPlough team</td>
            <td>MeatPlough</td>
            <td>Orc</td>
            <td>1</td>
            <td>0</td>
            <td>30</td>
            <td>-8</td>
        </tr>
        <tr>


            <td>109</td>
            <td>palmtaiga team</td>
            <td>palmtaiga</td>
            <td>Goblin</td>
            <td>0</td>
            <td>-1</td>
            <td>33</td>
            <td>-13</td>
        </tr>
        <tr>


            <td  class="tab_pos_last" >110</td>
            <td class="tab_result_last" >BruceL33t team</td>
            <td class="tab_result_last" >BruceL33t</td>
            <td class="tab_result_last" >Wood Elf</td>
            <td class="tab_result_last" >0</td>
            <td class="tab_result_last" >-1</td>
            <td class="tab_result_last" >20</td>
            <td class="tab_result_last" >-5</td>
        </tr>

        </tbody>
    </table>
</div>
