{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/league.css')}}">
<div class="content-section">
    <legend class="border-bottom mb-4">
        <div class="d-flex justify-content-between">
            <div class="media">
                <img src="{{ url_for('static', filename='spike_resources/img/misc/welsh_naf.png') }}" class="align-self-center mr-3" style="max-height:70px;">
                <div class="media-body">
                    <div>
                        Registered Teams
                    </div>
                    <div class="text-muted"><small><a href="/welsh" class="link">The Welsh Blood Bowl Championship</a></small></div>
                </div>
            </div>
        </div>
    </legend>

    <div class="d-flex justify-content-center row w-100">
        {% for team in team_list %}
        <div class="media competition-media rounded bg-steel mr-2 p-1" style="max-width: 250px;">
            <img src="{{ url_for('static', filename='spike_resources/img/logos/Logo_' + team.logo + '.png') }}" class="mr-2" style="height: 40px;" alt="{{team.logo}}">
            <div class="media-body">
                <a class="link-white" href="/team?team_id={{team.members[0].team_id}}&platform={{team.platform_id}}">{{team.members[0].team_name}}</a>
                </br>
                <a class="link" href="/coach?coach_id={{team.members[0].coach_id}}&platform={{team.platform_id}}">{{team.members[0].coach_name}}</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
