<div class="text-left">
    <img src="{{ url_for('static', filename='spike_resources/img/flags/4x3/gb.svg') }}" style="height:15px">
    <a href="https://docs.google.com/document/d/14An3YxojOyNeUObqufRdvB_i9vhZip4qdqhfO1m5Kes/edit?usp=drivesdk" class="link-white" target="_blank">Rules</a>
</div>

<div class="text-left">
    <a href="/welsh/team_list" class="link-white">Registered Teams</a>
</div>

<span class="d-block p-2 information-block text-white mt-3">
    <ul class="list-inline text-center mb-0">
        <li class="list-inline-item text-muted"><small><a href="/welsh/round1" class="link">Round 1</a></small></li>
        <li class="list-inline-item text-muted"><small>::</small></li>
        <li class="list-inline-item text-muted"><small><a href="/welsh/round2" class="link">Round 2</a></small></li>
        <li class="list-inline-item text-muted"><small>::</small></li>
        <li class="list-inline-item text-muted"><small><a href="/welsh/round3" class="link">Round 3</a></small></li>
        <li class="list-inline-item text-muted"><small>::</small></li>
        <li class="list-inline-item text-muted"><small><a href="/welsh/round4" class="link">Round 4</a></small></li>
        <li class="list-inline-item text-muted"><small>::</small></li>
        <li class="list-inline-item text-muted"><small><a href="/welsh/round5" class="link">Round 5</a></small></li>
        <li class="list-inline-item text-muted"><small>::</small></li>
        <li class="list-inline-item text-muted"><small><a href="/welsh/round6" class="link">Round 6</a></small></li>
    </ul>
</span>

