{% extends "layout.html" %}
{% block content %}

<div class="content-section" xmlns="http://www.w3.org/1999/html">
    <legend class="border-bottom">Round 2</legend>
    <div class="text-muted mb-4"><small><a href="/welsh" class="link">Welsh Blood Bowl Championship</a></small></div>
    <div class="table-responsive">
        <table class="table table-dark table-hover">
            <thead>
            <tr>
                <td class="tab_titre">#</td>
                <td class="tab_titre">Coach 1</td>
                <td colspan="2" class="tab_titre">Score</td>
                <td class="tab_titre">Coach 2</td>
                <td colspan="2" class="tab_titre">Sorties</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="tab_pos" >1</td>
                <td class="winner" >lLoggiczZ (Dwarf) </td>
                <td class="winner" >3</td>
                <td class="looser" >0</td>
                <td class="looser" >CarlosTT (Dark Elf)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >2</td>
                <td class="winner" >Matte8 (Dark Elf) </td>
                <td class="winner" >2</td>
                <td class="looser" >1</td>
                <td class="looser" >nobbynobbs (Norse)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >3</td>
                <td class="winner" >Spydyr (Khemri) </td>
                <td class="winner" >2</td>
                <td class="looser" >1</td>
                <td class="looser" >Yaquestay (Underworld)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >4</td>
                <td class="winner" >Abram (Amazon) </td>
                <td class="winner" >2</td>
                <td class="looser" >0</td>
                <td class="looser" >Ghorghor (Necromantic)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >5</td>
                <td class="looser" >Storbertas (Lizardman) </td>
                <td class="looser" >1</td>
                <td class="winner" >2</td>
                <td class="winner" >BennyBartez (Lizardman)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >6</td>
                <td class="draw" >Nuttyfessor (Chaos Dwarf) </td>
                <td class="draw" >1</td>
                <td class="draw" >1</td>
                <td class="draw" >Khornight (Wood Elf)</td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >7</td>
                <td class="draw" >Acidcyrax (Undead) </td>
                <td class="draw" >1</td>
                <td class="draw" >1</td>
                <td class="draw" >Pjut (Dwarf)</td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >8</td>
                <td class="winner" >Bazakastine (Lizardman) </td>
                <td class="winner" >2</td>
                <td class="looser" >0</td>
                <td class="looser" >DaBlackSkull (Chaos Dwarf)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >9</td>
                <td class="draw" >Jbazza (Lizardman) </td>
                <td class="draw" >1</td>
                <td class="draw" >1</td>
                <td class="draw" >AllyRdr (Human)</td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >10</td>
                <td class="looser" >Veggente (Wood Elf) </td>
                <td class="looser" >0</td>
                <td class="winner" >1</td>
                <td class="winner" >Nourrou (Undead)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >11</td>
                <td class="winner" >Calcium (Dark Elf) </td>
                <td class="winner" >2</td>
                <td class="looser" >1</td>
                <td class="looser" >Rubick_ (Dwarf)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >12</td>
                <td class="winner" >Sebotouno (Lizardmen) </td>
                <td class="winner" >2</td>
                <td class="looser" >1</td>
                <td class="looser" >Hellboy_ (Amazon)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >13</td>
                <td class="looser" >Obsidian (Chaos Dwarf) </td>
                <td class="looser" >0</td>
                <td class="winner" >1</td>
                <td class="winner" >Anubis2406 (Orc)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >14</td>
                <td class="looser" > Ruux (Chaos) </td>
                <td class="looser" >0</td>
                <td class="winner" >2</td>
                <td class="winner" >Sampittu (Lizardman)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >15</td>
                <td class="looser" >boronate (Lizardman) </td>
                <td class="looser" >0</td>
                <td class="winner" >1</td>
                <td class="winner" >Crowdog09 (Orc)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >16</td>
                <td class="winner" >Wobert (Lizardman) </td>
                <td class="winner" >1</td>
                <td class="looser" >0</td>
                <td class="looser" >DaPiranha (Pro Elf)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >17</td>
                <td class="draw" >Glauk (Wood Elf) </td>
                <td class="draw" >1</td>
                <td class="draw" >1</td>
                <td class="draw" >20phoenix (Necromantic)</td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >18</td>
                <td class="draw" >Fiki (Undead) </td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
                <td class="draw" >philipprocter (Lizardman)</td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >19</td>
                <td class="looser" >Skeemer (Chaos Dwarf) </td>
                <td class="looser" >0</td>
                <td class="winner" >3</td>
                <td class="winner" >Mahalsson (Norse)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >20</td>
                <td class="looser" >szrlm (Norse) </td>
                <td class="looser" >2</td>
                <td class="winner" >3</td>
                <td class="winner" >naytsyrhc (Dark Elf)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >21</td>
                <td class="winner" >Juman (Amazon) </td>
                <td class="winner" >2</td>
                <td class="looser" >1</td>
                <td class="looser" >Blodgestep (Undead)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >22</td>
                <td class="winner" >Hapsu (Norse) </td>
                <td class="winner" >2</td>
                <td class="looser" >0</td>
                <td class="looser" >SmukkeOdin (Dwarf)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >23</td>
                <td class="winner" >dionysian (Dark Elf) </td>
                <td class="winner" >1</td>
                <td class="looser" >0</td>
                <td class="looser" >coma13697 (Necromantic)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >24</td>
                <td class="winner" >Mankiz (Wood Elf) </td>
                <td class="winner" >1</td>
                <td class="looser" >0</td>
                <td class="looser" >Thatasianguy (Human)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >25</td>
                <td class="winner" >Lysistrata (Human) </td>
                <td class="winner" >2</td>
                <td class="looser" >0</td>
                <td class="looser" >Joemanji (Undead)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >26</td>
                <td class="looser" >besters (Pro Elf) </td>
                <td class="looser" >0</td>
                <td class="winner" >1</td>
                <td class="winner" >Ungern (Undead)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >27</td>
                <td class="looser" >caio (Undead) </td>
                <td class="looser" >1</td>
                <td class="winner" >2</td>
                <td class="winner" >Xialth (Lizardman)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >28</td>
                <td class="looser" >Bushain Manly (Undead) </td>
                <td class="looser" >0</td>
                <td class="winner" >1</td>
                <td class="winner" >Siggikniggi (Chaos Dwarf)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >29</td>
                <td class="winner" >PurpleChest (Dwarf) </td>
                <td class="winner" >1</td>
                <td class="looser" >0</td>
                <td class="looser" >CrapIllusionist (Orc)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >30</td>
                <td class="winner" >Javelin (Undead) </td>
                <td class="winner" >1</td>
                <td class="looser" >0</td>
                <td class="looser" >Diomlord (Orc)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >31</td>
                <td class="looser" >Schumway (Orc) </td>
                <td class="looser" >1</td>
                <td class="winner" >2</td>
                <td class="winner" >Tripleskull (Wood Elf)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >32</td>
                <td class="winner" >Volkajo (Norse) </td>
                <td class="winner" >1</td>
                <td class="looser" >0</td>
                <td class="looser" >Dimmy Gee (Undead)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >33</td>
                <td class="looser" >Spartako (Wood Elf) </td>
                <td class="looser" >0</td>
                <td class="winner" >1</td>
                <td class="winner" >Elyod (Skavens)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >34</td>
                <td class="draw" >Freyn (Dark Elf) </td>
                <td class="draw" >1</td>
                <td class="draw" >1</td>
                <td class="draw" >Yncarne (Chaos Dwarf)</td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >35</td>
                <td class="draw" >Shadowplayer89 (Wood Elf) </td>
                <td class="draw" >2</td>
                <td class="draw" >2</td>
                <td class="draw" >Le Bread masqué (Dark Elf)</td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >36</td>
                <td class="draw" >Padster61 (Bretonnia) </td>
                <td class="draw" >1</td>
                <td class="draw" >1</td>
                <td class="draw" >Jofarin (Bretonnia)</td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >37</td>
                <td class="looser" >BruceL33t (Wood Elf) </td>
                <td class="looser" >1</td>
                <td class="winner" >2</td>
                <td class="winner" >Sacred Chilli (Dark Elf)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >38</td>
                <td class="winner" >danton (Undead) </td>
                <td class="winner" >2</td>
                <td class="looser" >0</td>
                <td class="looser" >Johnny Feyev (Dark Elf)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >39</td>
                <td class="looser" >Pete (Dark Elf) </td>
                <td class="looser" >0</td>
                <td class="winner" >1</td>
                <td class="winner" >Gdaynick (Wood Elf)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >40</td>
                <td class="winner" >SickAsEggs (Human) </td>
                <td class="winner" >2</td>
                <td class="looser" >0</td>
                <td class="looser" >cornish (Chaos Dwarf)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >41</td>
                <td class="winner" >Hargrim (Dark Elf) </td>
                <td class="winner" >1</td>
                <td class="looser" >0</td>
                <td class="looser" >FluffytheAlien1 (Lizardman)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >42</td>
                <td class="draw" >Watchtower (Lizardman) </td>
                <td class="draw" >1</td>
                <td class="draw" >1</td>
                <td class="draw" >Calltroop (Amazon)</td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >43</td>
                <td class="winner" >Gaunab (Skavens) </td>
                <td class="winner" >2</td>
                <td class="looser" >0</td>
                <td class="looser" >Raagnar (Chaos Dwarf)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >44</td>
                <td class="draw" >Unforgivenirl (Dwarf) </td>
                <td class="draw" >1</td>
                <td class="draw" >1</td>
                <td class="draw" >Hardcore Stig (Dark Elf)</td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >45</td>
                <td class="draw" >FightNMongoose (Pro Elf) </td>
                <td class="draw" >1</td>
                <td class="draw" >1</td>
                <td class="draw" >Rick Wreckless (Vampires)</td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >46</td>
                <td class="winner" >CaolanG (Norse) </td>
                <td class="winner" >2</td>
                <td class="looser" >1</td>
                <td class="looser" >Sherbie (Human)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >47</td>
                <td class="winner" >Moonbiter (Wood Elf) </td>
                <td class="winner" >4</td>
                <td class="looser" >2</td>
                <td class="looser" >Arioso (Norse)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >48</td>
                <td class="looser" >Zakka Zpakka (Wood Elf) </td>
                <td class="looser" >0</td>
                <td class="winner" >2</td>
                <td class="winner" >Lechatventru (Undead)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >49</td>
                <td class="looser" >Avreus Culter (Norse) </td>
                <td class="looser" >1</td>
                <td class="winner" >3</td>
                <td class="winner" >JimmyFantastic (Dark Elf)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >50</td>
                <td class="winner" >Marreo (Wood Elf) </td>
                <td class="winner" >2</td>
                <td class="looser" >1</td>
                <td class="looser" >MarzM (Wood Elf)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >51</td>
                <td class="looser" >Coach Grong (Bretonnia) </td>
                <td class="looser" >0</td>
                <td class="winner" >2</td>
                <td class="winner" >orcster (Undead)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >52</td>
                <td class="winner" >Geryon (Bretonnia) </td>
                <td class="winner" >1</td>
                <td class="looser" >0</td>
                <td class="looser" >Brutopatia (Lizardman)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >53</td>
                <td class="looser" >palmtaiga (Goblin) </td>
                <td class="looser" >0</td>
                <td class="winner" >3</td>
                <td class="winner" >Gribouillon (Norse)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >54</td>
                <td class="draw" >Sorvad (Bretonnia) </td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
                <td class="draw" >Eldryr (Chaos Dwarf)</td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >55</td>
                <td class="looser" >spleggy (Undead) </td>
                <td class="looser" >0</td>
                <td class="winner" >1</td>
                <td class="winner" >Silsei (Amazon)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >56</td>
                <td class="looser" >MeatPlough (Orc) </td>
                <td class="looser" >0</td>
                <td class="winner" >3</td>
                <td class="winner" >Inkq (Skavens)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >57</td>
                <td class="winner" >Hanniball (Pro Elf) </td>
                <td class="winner" >3</td>
                <td class="looser" >1</td>
                <td class="looser" >Efcstef (Amazon)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            </tbody>
        </table>
    </div>
</div>
{% endblock content %}