{% extends "layout.html" %}
{% block content %}

<div class="content-section" xmlns="http://www.w3.org/1999/html">
    <legend class="border-bottom">Round 5</legend>
    <div class="text-muted mb-4"><small><a href="/welsh" class="link">Welsh Blood Bowl Championship</a></small></div>
    <div class="table-responsive">
        <table class="table table-dark table-hover">
            <thead>
            <tr>
                <td class="tab_titre">#</td>
                <td class="tab_titre">Coach 1</td>
                <td colspan="2" class="tab_titre">Score</td>
                <td class="tab_titre">Coach 2</td>
                <td colspan="2" class="tab_titre">Sorties</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="tab_pos" >1</td>
                <td class="winner" >Sebotouno (Lizardmen) </td>
                <td class="winner" >3</td>
                <td class="looser" >0</td>
                <td class="looser" >BennyBartez (Lizardmen)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >2</td>
                <td class="looser" >Matte8 (Dark Elf) </td>
                <td class="looser" >0</td>
                <td class="winner" >2</td>
                <td class="winner" >lLoggiczZ (Dwarf)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >3</td>
                <td class="winner" >Bazakastine (Lizardmen) </td>
                <td class="winner" >2</td>
                <td class="looser" >0</td>
                <td class="looser" >Xialth (Lizardmen)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >4</td>
                <td class="draw" >Acidcyrax (Undead) </td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
                <td class="draw" >PurpleChest (Dwarf)</td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >5</td>
                <td class="looser" >philipprocter (Lizardmen) </td>
                <td class="looser" >0</td>
                <td class="winner" >3</td>
                <td class="winner" >dionysian (Dark Elf)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >6</td>
                <td class="winner" >Moonbiter (Wood Elf) </td>
                <td class="winner" >3</td>
                <td class="looser" >1</td>
                <td class="looser" >Fiki (Undead)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >7</td>
                <td class="winner" >Storbertas (Lizardmen) </td>
                <td class="winner" >2</td>
                <td class="looser" >1</td>
                <td class="looser" >boronate (Lizardmen)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >8</td>
                <td class="winner" >szrlm (Norse) </td>
                <td class="winner" >2</td>
                <td class="looser" >0</td>
                <td class="looser" >Abram (Amazon)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >9</td>
                <td class="draw" >Hargrim (Dark Elf) </td>
                <td class="draw" >1</td>
                <td class="draw" >1</td>
                <td class="draw" >Anubis2406 (Orc)</td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >10</td>
                <td class="looser" >Obsidian (Chaos Dwarf) </td>
                <td class="looser" >1</td>
                <td class="winner" >3</td>
                <td class="winner" >Geryon (Bretonia)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >11</td>
                <td class="draw" >Le Bread masqué (Dark Elf) </td>
                <td class="draw" >1</td>
                <td class="draw" >1</td>
                <td class="draw" >Silsei (Amazon)</td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >12</td>
                <td class="draw" >Volkajo (Norse) </td>
                <td class="draw" >1</td>
                <td class="draw" >1</td>
                <td class="draw" >Unforgivenirl (Dwarf)</td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >13</td>
                <td class="looser" >Elyod (Skaven) </td>
                <td class="looser" >1</td>
                <td class="winner" >2</td>
                <td class="winner" >Mahalsson (Norse)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >14</td>
                <td class="winner" >Mankiz (Wood Elf) </td>
                <td class="winner" >2</td>
                <td class="looser" >0</td>
                <td class="looser" >Spydyr (Khemri)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >15</td>
                <td class="winner" >Sampittu (Lizardmen) </td>
                <td class="winner" >2</td>
                <td class="looser" >0</td>
                <td class="looser" >SickAsEggs (Human)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >16</td>
                <td class="looser" >Pjut (Dwarf) </td>
                <td class="looser" >0</td>
                <td class="winner" >1</td>
                <td class="winner" >Nuttyfessor (Chaos Dwarf)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >17</td>
                <td class="draw" >Hapsu (Norse) </td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
                <td class="draw" >Thatasianguy (Human)</td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >18</td>
                <td class="winner" >Nourrou (Undead) </td>
                <td class="winner" >2</td>
                <td class="looser" >1</td>
                <td class="looser" >Ghorghor (Necromantic)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >19</td>
                <td class="winner" >Tripleskull (Wood Elf) </td>
                <td class="winner" >2</td>
                <td class="looser" >0</td>
                <td class="looser" >besters (Elfes)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >20</td>
                <td class="draw" >Wobert (Lizardmen) </td>
                <td class="draw" >1</td>
                <td class="draw" >1</td>
                <td class="draw" >Ungern (Undead)</td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >21</td>
                <td class="draw" >naytsyrhc (Dark Elf) </td>
                <td class="draw" >1</td>
                <td class="draw" >1</td>
                <td class="draw" >Javelin (Undead)</td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >22</td>
                <td class="winner" >SmukkeOdin (Dwarf) </td>
                <td class="winner" >1</td>
                <td class="looser" >0</td>
                <td class="looser" >Juman (Amazon)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >23</td>
                <td class="looser" >Lysistrata (Human) </td>
                <td class="looser" >1</td>
                <td class="winner" >2</td>
                <td class="winner" >nobbynobbs (Norse)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >24</td>
                <td class="looser" >Gribouillon (Norse) </td>
                <td class="looser" >0</td>
                <td class="winner" >2</td>
                <td class="winner" >orcster (Undead)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >25</td>
                <td class="looser" >Arioso (Norse) </td>
                <td class="looser" >1</td>
                <td class="winner" >3</td>
                <td class="winner" >Yaquestay (Unserworld)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >26</td>
                <td class="looser" >spleggy (Undead) </td>
                <td class="looser" >1</td>
                <td class="winner" >2</td>
                <td class="winner" >MarzM (Wood Elf)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >27</td>
                <td class="winner" >FluffytheAlien1 (Lizardmen) </td>
                <td class="winner" >2</td>
                <td class="looser" >0</td>
                <td class="looser" >Veggente (Wood Elf)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >28</td>
                <td class="looser" >CarlosTT (Dark Elf) </td>
                <td class="looser" >0</td>
                <td class="winner" >1</td>
                <td class="winner" >Calcium (Dark Elf)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >29</td>
                <td class="looser" >Inkq (Skaven) </td>
                <td class="looser" >0</td>
                <td class="winner" >2</td>
                <td class="winner" >Hellboy_ (Amazon)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >30</td>
                <td class="draw" >Blodgestep (Undead) </td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
                <td class="draw" >Crowdog09 (Orc)</td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >31</td>
                <td class="winner" >Freyn (Dark Elf) </td>
                <td class="winner" >2</td>
                <td class="looser" >1</td>
                <td class="looser" >Watchtower (Lizardmen)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >32</td>
                <td class="winner" >Glauk (Wood Elf) </td>
                <td class="winner" >2</td>
                <td class="looser" >1</td>
                <td class="looser" >caio (Undead)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >33</td>
                <td class="winner" >Dimmy Gee (Undead) </td>
                <td class="winner" >1</td>
                <td class="looser" >3</td>
                <td class="looser" >Siggikniggi (Chaos Dwarf)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >34</td>
                <td class="draw" >Bushain Manly (Undead) </td>
                <td class="draw" >1</td>
                <td class="draw" >1</td>
                <td class="draw" >danton (Undead)</td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >35</td>
                <td class="winner" >Spartako (Wood Elf) </td>
                <td class="winner" >2</td>
                <td class="looser" >0</td>
                <td class="looser" >Hardcore Stig (Dark Elf)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >36</td>
                <td class="draw" >Sacred Chilli (Dark Elf) </td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
                <td class="draw" >AllyRdr (Human)</td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >37</td>
                <td class="looser" >20phoenix (Necromantic) </td>
                <td class="looser" >0</td>
                <td class="winner" >1</td>
                <td class="winner" >Calltroop (Amazon)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >38</td>
                <td class="looser" >Marreo (Wood Elf) </td>
                <td class="looser" >0</td>
                <td class="winner" >2</td>
                <td class="winner" >Khornight (Wood Elf)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >39</td>
                <td class="looser" >Coach Grong (Bretonia) </td>
                <td class="looser" >1</td>
                <td class="winner" >2</td>
                <td class="winner" >DaBlackSkull (Chaos Dwarf)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >40</td>
                <td class="looser" >cornish (Chaos Dwarf) </td>
                <td class="looser" >0</td>
                <td class="winner" >1</td>
                <td class="winner" >Jbazza (Lizardmen)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >41</td>
                <td class="looser" >Hanniball (Elfes) </td>
                <td class="looser" >0</td>
                <td class="winner" >1</td>
                <td class="winner" >Schumway (Orc)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >42</td>
                <td class="draw" >DaPiranha (Elfes) </td>
                <td class="draw" >2</td>
                <td class="draw" >2</td>
                <td class="draw" >Efcstef (Amazon)</td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >43</td>
                <td class="winner" >Lechatventru (Undead) </td>
                <td class="winner" >3</td>
                <td class="looser" >1</td>
                <td class="looser" >Sorvad (Bretonia)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >44</td>
                <td class="looser" >Yncarne (Chaos Dwarf) </td>
                <td class="looser" >0</td>
                <td class="winner" >2</td>
                <td class="winner" >Diomlord (Orc)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >45</td>
                <td class="draw" >Shadowplayer89 (Wood Elf) </td>
                <td class="draw" >1</td>
                <td class="draw" >1</td>
                <td class="draw" >Gaunab (Skaven)</td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >46</td>
                <td class="winner" >Zakka Zpakka (Wood Elf) </td>
                <td class="winner" >2</td>
                <td class="looser" >1</td>
                <td class="looser" >CaolanG (Norse)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >47</td>
                <td class="looser" >Avreus Culter (Norse) </td>
                <td class="looser" >1</td>
                <td class="winner" >2</td>
                <td class="winner" >Brutopatia (Lizardmen)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >48</td>
                <td class="draw" >FightNMongoose (Elfes) </td>
                <td class="draw" >1</td>
                <td class="draw" >1</td>
                <td class="draw" >Jofarin (Bretonia)</td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >49</td>
                <td class="winner" >Rick Wreckless (Vampires) </td>
                <td class="winner" >1</td>
                <td class="looser" >0</td>
                <td class="looser" >coma13697 (Necromantic)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >50</td>
                <td class="winner" >Pete (Dark Elf) </td>
                <td class="winner" >1</td>
                <td class="looser" >0</td>
                <td class="looser" >Joemanji (Undead)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >51</td>
                <td class="winner" >CrapIllusionist (Orc) </td>
                <td class="winner" >2</td>
                <td class="looser" >0</td>
                <td class="looser" >Padster61 (Bretonia)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >52</td>
                <td class="draw" >Eldryr (Chaos Dwarf) </td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
                <td class="draw" >Raagnar (Chaos Dwarf)</td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >53</td>
                <td class="looser" >NONE (NONE) </td>
                <td class="looser" >1</td>
                <td class="winner" >2</td>
                <td class="winner" >Johnny Feyev (Dark Elf)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >54</td>
                <td class="looser" >MeatPlough (Orc) </td>
                <td class="looser" >0</td>
                <td class="winner" >1</td>
                <td class="winner" >Sherbie (Human)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >55</td>
                <td class="winner" >Ruux (Chaos) </td>
                <td class="winner" >3</td>
                <td class="looser" >0</td>
                <td class="looser" >palmtaiga (Gobelins)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            </tbody>
        </table>
    </div>
    {% endblock content %}