{% extends "layout.html" %}
{% block content %}

<div class="content-section" xmlns="http://www.w3.org/1999/html">
    <legend class="border-bottom">Round 3</legend>
    <div class="text-muted mb-4"><small><a href="/welsh" class="link">Welsh Blood Bowl Championship</a></small></div>
    <div class="table-responsive">
        <table class="table table-dark table-hover">
            <thead>
            <tr>
                <td class="tab_titre">#</td>
                <td class="tab_titre">Coach 1</td>
                <td colspan="2" class="tab_titre">Score</td>
                <td class="tab_titre">Coach 2</td>
                <td colspan="2" class="tab_titre">Sorties</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="tab_pos" >1</td>
                <td class="winner" >lLoggiczZ (Dwarf) </td>
                <td class="winner" >1</td>
                <td class="looser" >0</td>
                <td class="looser" >Abram (Amazon)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >2</td>
                <td class="draw" >Matte8 (Dark Elf) </td>
                <td class="draw" >1</td>
                <td class="draw" >1</td>
                <td class="draw" >Mahalsson (Norse)</td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >3</td>
                <td class="winner" >Bazakastine (Lizardman) </td>
                <td class="winner" >1</td>
                <td class="looser" >0</td>
                <td class="looser" >Spydyr (Khemri)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >4</td>
                <td class="winner" >BennyBartez (Lizardman) </td>
                <td class="winner" >2</td>
                <td class="looser" >1</td>
                <td class="looser" >Sampittu (Lizardman)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >5</td>
                <td class="draw" >Hapsu (Norse) </td>
                <td class="draw" >1</td>
                <td class="draw" >1</td>
                <td class="draw" >Nourrou (Undead)</td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >6</td>
                <td class="winner" >Sebotouno (Lizardmen) </td>
                <td class="winner" >2</td>
                <td class="looser" >0</td>
                <td class="looser" >Calcium (Dark Elf)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >7</td>
                <td class="looser" >Crowdog09 (Orc) </td>
                <td class="looser" >0</td>
                <td class="winner" >2</td>
                <td class="winner" >Anubis2406 (Orc)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >8</td>
                <td class="draw" >naytsyrhc (Dark Elf) </td>
                <td class="draw" >1</td>
                <td class="draw" >1</td>
                <td class="draw" >Wobert (Lizardman)</td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >9</td>
                <td class="draw" >Juman (Amazon) </td>
                <td class="draw" >2</td>
                <td class="draw" >2</td>
                <td class="draw" >Lysistrata (Human)</td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >10</td>
                <td class="winner" >Pjut (Dwarf) </td>
                <td class="winner" >1</td>
                <td class="looser" >0</td>
                <td class="looser" >Khornight (Wood Elf)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >11</td>
                <td class="winner" >Acidcyrax (Undead) </td>
                <td class="winner" >1</td>
                <td class="looser" >0</td>
                <td class="looser" >Nuttyfessor (Chaos Dwarf)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >12</td>
                <td class="looser" >AllyRdr (Human) </td>
                <td class="looser" >0</td>
                <td class="winner" >1</td>
                <td class="winner" >dionysian (Dark Elf)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >13</td>
                <td class="looser" >Jbazza (Lizardman) </td>
                <td class="looser" >0</td>
                <td class="winner" >2</td>
                <td class="winner" >Mankiz (Wood Elf)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >14</td>
                <td class="winner" >Xialth (Lizardman) </td>
                <td class="winner" >2</td>
                <td class="looser" >0</td>
                <td class="looser" >Ungern (Undead)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >15</td>
                <td class="winner" >PurpleChest (Dwarf) </td>
                <td class="winner" >2</td>
                <td class="looser" >1</td>
                <td class="looser" >Siggikniggi (Chaos Dwarf)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >16</td>
                <td class="looser" >Tripleskull (Wood Elf) </td>
                <td class="looser" >1</td>
                <td class="winner" >2</td>
                <td class="winner" >Javelin (Undead)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >17</td>
                <td class="winner" >philipprocter (Lizardman) </td>
                <td class="winner" >1</td>
                <td class="looser" >0</td>
                <td class="looser" >20phoenix (Necromantic)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >18</td>
                <td class="winner" >Fiki (Undead) </td>
                <td class="winner" >1</td>
                <td class="looser" >0</td>
                <td class="looser" >Glauk (Wood Elf)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >19</td>
                <td class="draw" >Elyod (Skavens) </td>
                <td class="draw" >1</td>
                <td class="draw" >1</td>
                <td class="draw" >Volkajo (Norse)</td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >20</td>
                <td class="winner" >Yaquestay (Underworld) </td>
                <td class="winner" >2</td>
                <td class="looser" >1</td>
                <td class="looser" >nobbynobbs (Norse)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >21</td>
                <td class="draw" >SickAsEggs (Human) </td>
                <td class="draw" >1</td>
                <td class="draw" >1</td>
                <td class="draw" >danton (Undead)</td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >22</td>
                <td class="looser" >Gaunab (Skavens) </td>
                <td class="looser" >0</td>
                <td class="winner" >2</td>
                <td class="winner" >Gribouillon (Norse)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >23</td>
                <td class="looser" >Ruux (Chaos) </td>
                <td class="looser" >0</td>
                <td class="winner" >4</td>
                <td class="winner" >Storbertas (Lizardman)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >24</td>
                <td class="looser" >Lechatventru (Undead) </td>
                <td class="looser" >0</td>
                <td class="winner" >6</td>
                <td class="winner" >Moonbiter (Wood Elf)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >25</td>
                <td class="winner" >JimmyFantastic (Dark Elf) </td>
                <td class="winner" >2</td>
                <td class="looser" >1</td>
                <td class="looser" >orcster (Undead)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >26</td>
                <td class="draw" >Sacred Chilli (Dark Elf) </td>
                <td class="draw" >1</td>
                <td class="draw" >1</td>
                <td class="draw" >Ghorghor (Necromantic)</td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >27</td>
                <td class="looser" >Gdaynick (Wood Elf) </td>
                <td class="looser" >0</td>
                <td class="winner" >1</td>
                <td class="winner" >Veggente (Wood Elf)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >28</td>
                <td class="winner" >Hargrim (Dark Elf) </td>
                <td class="winner" >1</td>
                <td class="looser" >0</td>
                <td class="looser" >Rubick_ (Amazones)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >29</td>
                <td class="winner" >Hellboy_ (Amazon) </td>
                <td class="winner" >2</td>
                <td class="looser" >1</td>
                <td class="looser" >CarlosTT (Dark Elf)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >30</td>
                <td class="winner" >Obsidian (Chaos Dwarf) </td>
                <td class="winner" >2</td>
                <td class="looser" >1</td>
                <td class="looser" >Inkq (Skavens)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >31</td>
                <td class="looser" >DaPiranha (Pro Elf) </td>
                <td class="looser" >0</td>
                <td class="winner" >2</td>
                <td class="winner" >boronate (Lizardman)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >32</td>
                <td class="winner" >szrlm (Norse) </td>
                <td class="winner" >2</td>
                <td class="looser" >1</td>
                <td class="looser" >CaolanG (Norse)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >33</td>
                <td class="looser" >Marreo (Wood Elf) </td>
                <td class="looser" >1</td>
                <td class="winner" >2</td>
                <td class="winner" >Blodgestep (Undead)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >34</td>
                <td class="winner" >Geryon (Bretonnia) </td>
                <td class="winner" >1</td>
                <td class="looser" >0</td>
                <td class="looser" >DaBlackSkull (Chaos Dwarf)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >35</td>
                <td class="winner" >Silsei (Amazon) </td>
                <td class="winner" >1</td>
                <td class="looser" >0</td>
                <td class="looser" >Hanniball (Pro Elf)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >36</td>
                <td class="winner" >SmukkeOdin (Dwarf) </td>
                <td class="winner" >2</td>
                <td class="looser" >1</td>
                <td class="looser" >Skeemer (Amazones)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >37</td>
                <td class="draw" >Shadowplayer89 (Wood Elf) </td>
                <td class="draw" >1</td>
                <td class="draw" >1</td>
                <td class="draw" >Yncarne (Chaos Dwarf)</td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >38</td>
                <td class="winner" >Freyn (Dark Elf) </td>
                <td class="winner" >2</td>
                <td class="looser" >0</td>
                <td class="looser" >coma13697 (Necromantic)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >39</td>
                <td class="winner" >Thatasianguy (Human) </td>
                <td class="winner" >1</td>
                <td class="looser" >0</td>
                <td class="looser" >Jofarin (Bretonnia)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >40</td>
                <td class="winner" >Calltroop (Amazon) </td>
                <td class="winner" >2</td>
                <td class="looser" >1</td>
                <td class="looser" >Padster61 (Bretonnia)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >41</td>
                <td class="looser" >Bushain Manly (Undead) </td>
                <td class="looser" >1</td>
                <td class="winner" >2</td>
                <td class="winner" >besters (Pro Elf)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >42</td>
                <td class="looser" >CrapIllusionist (Orc) </td>
                <td class="looser" >1</td>
                <td class="winner" >2</td>
                <td class="winner" >caio (Undead)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >43</td>
                <td class="draw" >Watchtower (Lizardman) </td>
                <td class="draw" >1</td>
                <td class="draw" >1</td>
                <td class="draw" >Diomlord (Orc)</td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >44</td>
                <td class="winner" >Hardcore Stig (Dark Elf) </td>
                <td class="winner" >2</td>
                <td class="looser" >0</td>
                <td class="looser" >Schumway (Orc)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >45</td>
                <td class="looser" >Rick Wreckless (Vampires) </td>
                <td class="looser" >0</td>
                <td class="winner" >2</td>
                <td class="winner" >Unforgivenirl (Dwarf)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >46</td>
                <td class="looser" >FightNMongoose (Pro Elf) </td>
                <td class="looser" >0</td>
                <td class="winner" >1</td>
                <td class="winner" >Dimmy Gee (Undead)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >47</td>
                <td class="winner" >Spartako (Wood Elf) </td>
                <td class="winner" >2</td>
                <td class="looser" >0</td>
                <td class="looser" >Joemanji (Undead)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >48</td>
                <td class="winner" >Le Bread masqué (Dark Elf) </td>
                <td class="winner" >1</td>
                <td class="looser" >0</td>
                <td class="looser" >Eldryr (Chaos Dwarf)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >49</td>
                <td class="winner" >Sorvad (Bretonnia) </td>
                <td class="winner" >2</td>
                <td class="looser" >1</td>
                <td class="looser" >BruceL33t (Wood Elf)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >50</td>
                <td class="winner" >FluffytheAlien1 (Lizardman) </td>
                <td class="winner" >1</td>
                <td class="looser" >0</td>
                <td class="looser" >Pete (Dark Elf)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >51</td>
                <td class="looser" >Sherbie (Human) </td>
                <td class="looser" >2</td>
                <td class="winner" >4</td>
                <td class="winner" >MarzM (Wood Elf)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >52</td>
                <td class="looser" >Johnny Feyev (Dark Elf) </td>
                <td class="looser" >0</td>
                <td class="winner" >2</td>
                <td class="winner" >Brutopatia (Lizardman)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >53</td>
                <td class="looser" >Raagnar (Chaos Dwarf) </td>
                <td class="looser" >0</td>
                <td class="winner" >1</td>
                <td class="winner" >cornish (Chaos Dwarf)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >54</td>
                <td class="looser" >Zakka Zpakka (Wood Elf) </td>
                <td class="looser" >1</td>
                <td class="winner" >2</td>
                <td class="winner" >Arioso (Norse)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >55</td>
                <td class="looser" >Avreus Culter (Norse) </td>
                <td class="looser" >0</td>
                <td class="winner" >3</td>
                <td class="winner" >spleggy (Undead)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >56</td>
                <td class="looser" >palmtaiga (Goblin) </td>
                <td class="looser" >0</td>
                <td class="winner" >2</td>
                <td class="winner" >Coach Grong (Bretonnia)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >57</td>
                <td class="looser" >MeatPlough (Orc) </td>
                <td class="looser" >0</td>
                <td class="winner" >1</td>
                <td class="winner" >Efcstef (Amazon)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            </tbody>
        </table>
    </div>
</div>
{% endblock content %}