{% extends "layout.html" %}
{% block content %}

<div class="content-section" xmlns="http://www.w3.org/1999/html">
    <legend class="border-bottom">Round 4</legend>
    <div class="text-muted mb-4"><small><a href="/welsh" class="link">Welsh Blood Bowl Championship</a></small></div>
    <div class="table-responsive">
        <table class="table table-dark table-hover">
            <thead>
            <tr>
                <td class="tab_titre">#</td>
                <td class="tab_titre">Coach 1</td>
                <td colspan="2" class="tab_titre">Score</td>
                <td class="tab_titre">Coach 2</td>
                <td colspan="2" class="tab_titre">Sorties</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="tab_pos" >1</td>
                <td class="draw" >Bazakastine (Hommes-L&eacute;zards) </td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
                <td class="draw" >lLoggiczZ (Nains)</td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >2</td>
                <td class="winner" >Sebotouno (Lizardmen) </td>
                <td class="winner" >2</td>
                <td class="looser" >0</td>
                <td class="looser" >Anubis2406 (Orques)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >3</td>
                <td class="looser" >Mahalsson (Nordiques) </td>
                <td class="looser" >1</td>
                <td class="winner" >2</td>
                <td class="winner" >BennyBartez (Hommes-L&eacute;zards)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >4</td>
                <td class="winner" >Matte8 (Elfes noirs) </td>
                <td class="winner" >2</td>
                <td class="looser" >1</td>
                <td class="looser" >Mankiz (Elfes sylvains)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >5</td>
                <td class="looser" >Pjut (Nains) </td>
                <td class="looser" >1</td>
                <td class="winner" >2</td>
                <td class="winner" >Xialth (Hommes-L&eacute;zards)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >6</td>
                <td class="looser" >Hapsu (Nordiques) </td>
                <td class="looser" >0</td>
                <td class="winner" >1</td>
                <td class="winner" >Acidcyrax (Morts-Vivants)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >7</td>
                <td class="looser" >Nourrou (Morts-Vivants) </td>
                <td class="looser" >0</td>
                <td class="winner" >1</td>
                <td class="winner" >dionysian (Elfes noirs)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >8</td>
                <td class="looser" >Javelin (Morts-Vivants) </td>
                <td class="looser" >0</td>
                <td class="winner" >2</td>
                <td class="winner" >PurpleChest (Nains)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >9</td>
                <td class="winner" >philipprocter (Hommes-L&eacute;zards) </td>
                <td class="winner" >1</td>
                <td class="looser" >0</td>
                <td class="looser" >Wobert (Hommes-L&eacute;zards)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >10</td>
                <td class="looser" >naytsyrhc (Elfes noirs) </td>
                <td class="looser" >0</td>
                <td class="winner" >1</td>
                <td class="winner" >Fiki (Morts-Vivants)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >11</td>
                <td class="winner" >Moonbiter (Elfes sylvains) </td>
                <td class="winner" >3</td>
                <td class="looser" >1</td>
                <td class="looser" >Juman (Amazones)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >12</td>
                <td class="winner" >Storbertas (Hommes-L&eacute;zards) </td>
                <td class="winner" >2</td>
                <td class="looser" >1</td>
                <td class="looser" >Gribouillon (Nordiques)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >13</td>
                <td class="winner" >Abram (Amazones) </td>
                <td class="winner" >1</td>
                <td class="looser" >0</td>
                <td class="looser" >Yaquestay (Bas-fonds)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >14</td>
                <td class="draw" >Sampittu (Hommes-L&eacute;zards) </td>
                <td class="draw" >1</td>
                <td class="draw" >1</td>
                <td class="draw" >Spydyr (Khemri)</td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >15</td>
                <td class="looser" >JimmyFantastic (Elfes noirs) </td>
                <td class="looser" >0</td>
                <td class="winner" >3</td>
                <td class="winner" >boronate (Hommes-L&eacute;zards)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >16</td>
                <td class="winner" >Hargrim (Elfes noirs) </td>
                <td class="winner" >2</td>
                <td class="looser" >1</td>
                <td class="looser" >Veggente (Elfes sylvains)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >17</td>
                <td class="winner" >Obsidian (Nains du chaos) </td>
                <td class="winner" >1</td>
                <td class="looser" >0</td>
                <td class="looser" >Hellboy_ (Amazones)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >18</td>
                <td class="looser" >Blodgestep (Morts-Vivants) </td>
                <td class="looser" >0</td>
                <td class="winner" >2</td>
                <td class="winner" >szrlm (Nordiques)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >19</td>
                <td class="looser" >Calcium (Elfes noirs) </td>
                <td class="looser" >1</td>
                <td class="winner" >2</td>
                <td class="winner" >Geryon (Bretonniens)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >20</td>
                <td class="winner" >Silsei (Amazones) </td>
                <td class="winner" >1</td>
                <td class="looser" >0</td>
                <td class="looser" >Crowdog09 (Orques)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >21</td>
                <td class="draw" >SmukkeOdin (Nains) </td>
                <td class="draw" >1</td>
                <td class="draw" >1</td>
                <td class="draw" >Lysistrata (Humains)</td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >22</td>
                <td class="looser" >Freyn (Elfes noirs) </td>
                <td class="looser" >2</td>
                <td class="winner" >3</td>
                <td class="winner" >Volkajo (Nordiques)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >23</td>
                <td class="winner" >Elyod (Skavens) </td>
                <td class="winner" >2</td>
                <td class="looser" >1</td>
                <td class="looser" >danton (Morts-Vivants)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >24</td>
                <td class="looser" >Hardcore Stig (Elfes noirs) </td>
                <td class="looser" >1</td>
                <td class="winner" >2</td>
                <td class="winner" >SickAsEggs (Humains)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >25</td>
                <td class="looser" >Khornight (Elfes sylvains) </td>
                <td class="looser" >0</td>
                <td class="winner" >2</td>
                <td class="winner" >Unforgivenirl (Nains)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >26</td>
                <td class="looser" >Spartako (Elfes sylvains) </td>
                <td class="looser" >1</td>
                <td class="winner" >2</td>
                <td class="winner" >Nuttyfessor (Nains du chaos)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >27</td>
                <td class="winner" >Thatasianguy (Humains) </td>
                <td class="winner" >2</td>
                <td class="looser" >1</td>
                <td class="looser" >AllyRdr (Humains)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >28</td>
                <td class="looser" >Calltroop (Amazones) </td>
                <td class="looser" >1</td>
                <td class="winner" >2</td>
                <td class="winner" >Ghorghor (Necromantiques)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >29</td>
                <td class="winner" >besters (Elfes) </td>
                <td class="winner" >1</td>
                <td class="looser" >0</td>
                <td class="looser" >Sacred Chilli (Elfes noirs)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >30</td>
                <td class="draw" >Siggikniggi (Nains du chaos) </td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
                <td class="draw" >caio (Morts-Vivants)</td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >31</td>
                <td class="looser" >20phoenix (Necromantiques) </td>
                <td class="looser" >1</td>
                <td class="winner" >2</td>
                <td class="winner" >Tripleskull (Elfes sylvains)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >32</td>
                <td class="draw" >Dimmy Gee (Morts-Vivants) </td>
                <td class="draw" >1</td>
                <td class="draw" >1</td>
                <td class="draw" >Glauk (Elfes sylvains)</td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >33</td>
                <td class="winner" >Ungern (Morts-Vivants) </td>
                <td class="winner" >1</td>
                <td class="looser" >0</td>
                <td class="looser" >Jbazza (Hommes-L&eacute;zards)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >34</td>
                <td class="looser" >Sorvad (Bretonniens) </td>
                <td class="looser" >0</td>
                <td class="winner" >3</td>
                <td class="winner" >nobbynobbs (Nordiques)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >35</td>
                <td class="winner" >spleggy (Morts-Vivants) </td>
                <td class="winner" >1</td>
                <td class="looser" >0</td>
                <td class="looser" >Yncarne (Nains du chaos)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >36</td>
                <td class="looser" >Shadowplayer89 (Elfes sylvains) </td>
                <td class="looser" >1</td>
                <td class="winner" >2</td>
                <td class="winner" >MarzM (Elfes sylvains)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >37</td>
                <td class="looser" >Brutopatia (Hommes-L&eacute;zards) </td>
                <td class="looser" >0</td>
                <td class="winner" >2</td>
                <td class="winner" >orcster (Morts-Vivants)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >38</td>
                <td class="winner" >FluffytheAlien1 (Hommes-L&eacute;zards) </td>
                <td class="winner" >2</td>
                <td class="looser" >1</td>
                <td class="looser" >Gdaynick (Elfes sylvains)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >39</td>
                <td class="looser" >Gaunab (Skavens) </td>
                <td class="looser" >1</td>
                <td class="winner" >2</td>
                <td class="winner" >CarlosTT (Elfes noirs)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >40</td>
                <td class="looser" >CaolanG (Nordiques) </td>
                <td class="looser" >2</td>
                <td class="winner" >3</td>
                <td class="winner" >Inkq (Skavens)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >41</td>
                <td class="draw" >Marreo (Elfes sylvains) </td>
                <td class="draw" >2</td>
                <td class="draw" >2</td>
                <td class="draw" >DaBlackSkull (Nains du chaos)</td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >42</td>
                <td class="draw" >cornish (Nains du chaos) </td>
                <td class="draw" >1</td>
                <td class="draw" >1</td>
                <td class="draw" >Coach Grong (Bretonniens)</td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >43</td>
                <td class="draw" >DaPiranha (Elfes) </td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
                <td class="draw" >Hanniball (Elfes)</td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >44</td>
                <td class="looser" >Ruux (Chaos) </td>
                <td class="looser" >0</td>
                <td class="winner" >3</td>
                <td class="winner" >Arioso (Nordiques)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >45</td>
                <td class="draw" >Lechatventru (Morts-Vivants) </td>
                <td class="draw" >1</td>
                <td class="draw" >1</td>
                <td class="draw" >Efcstef (Amazones)</td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >46</td>
                <td class="draw" >Diomlord (Orques) </td>
                <td class="draw" >1</td>
                <td class="draw" >1</td>
                <td class="draw" >Jofarin (Bretonniens)</td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >47</td>
                <td class="winner" >Watchtower (Hommes-L&eacute;zards) </td>
                <td class="winner" >3</td>
                <td class="looser" >1</td>
                <td class="looser" >Padster61 (Bretonniens)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >48</td>
                <td class="looser" >CrapIllusionist (Orques) </td>
                <td class="looser" >0</td>
                <td class="winner" >2</td>
                <td class="winner" >Bushain Manly (Morts-Vivants)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >49</td>
                <td class="draw" >FightNMongoose (Elfes) </td>
                <td class="draw" >1</td>
                <td class="draw" >1</td>
                <td class="draw" >coma13697 (Necromantiques)</td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >50</td>
                <td class="winner" >Schumway (Orques) </td>
                <td class="winner" >1</td>
                <td class="looser" >0</td>
                <td class="looser" >Eldryr (Nains du chaos)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >51</td>
                <td class="draw" >Rick Wreckless (Vampires) </td>
                <td class="draw" >1</td>
                <td class="draw" >1</td>
                <td class="draw" >Joemanji (Morts-Vivants)</td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >52</td>
                <td class="winner" >Le Bread masque (Elfes noirs) </td>
                <td class="winner" >2</td>
                <td class="looser" >0</td>
                <td class="looser" >BruceL33t (Elfes sylvains)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >53</td>
                <td class="draw" >Raagnar (Nains du chaos) </td>
                <td class="draw" >1</td>
                <td class="draw" >1</td>
                <td class="draw" >Pete (Elfes noirs)</td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >54</td>
                <td class="winner" >Zakka Zpakka (Elfes sylvains) </td>
                <td class="winner" >3</td>
                <td class="looser" >1</td>
                <td class="looser" >Sherbie (Humains)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >55</td>
                <td class="draw" >MeatPlough (Orques) </td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
                <td class="draw" >Johnny Feyev (Elfes noirs)</td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >56</td>
                <td class="winner" >Avreus Culter (Nordiques) </td>
                <td class="winner" >2</td>
                <td class="looser" >0</td>
                <td class="looser" >palmtaiga (Gobelins)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            </tbody>
        </table>
    </div>
</div>
{% endblock content %}