{% extends "layout.html" %}
{% block content %}

<div class="content-section" xmlns="http://www.w3.org/1999/html">
    <legend class="border-bottom">Round 1</legend>
    <div class="text-muted mb-4"><small><a href="/welsh" class="link">Welsh Blood Bowl Championship</a></small></div>
    <div class="table-responsive">
        <table class="table table-dark table-hover">
            <tbody>
            <tr>
                <td class="p-1 text-right">Lechatventru (Undead) </td>
                <td class="p-1 text-center">0</td>
                <td class="p-1 text-center">1</td>
                <td class="p-1">Juman (Amazon)</td>

            </tr>

            <tr>
                <td class="p-1 text-right">Nuttyfessor (Chaos Dwarf) </td>
                <td class="p-1 text-center">2</td>
                <td class="p-1 text-center">0</td>
                <td class="p-1">Gribouillon (Norse)</td>

            </tr>

            <tr>
                <td class="p-1 text-right">Spartako (Wood Elf) </td>
                <td class="p-1 text-center">2</td>
                <td class="p-1 text-center">2</td>
                <td class="p-1">Tripleskull (Wood Elf)</td>

            </tr>

            <tr>
                <td class="p-1 text-right">Ghorghor (Necromantic) </td>
                <td class="p-1 text-center">2</td>
                <td class="p-1 text-center">0</td>
                <td class="p-1">orcster (Undead)</td>

            </tr>

            <tr>
                <td class="p-1 text-right">Blodgestep (Undead) </td>
                <td class="p-1 text-center">1</td>
                <td class="p-1 text-center">0</td>
                <td class="p-1">SickAsEggs (Human)</td>

            </tr>

            <tr>
                <td class="p-1 text-right">Le Bread masqué (Dark Elf)</td>
                <td class="p-1 text-center">1</td>
                <td class="p-1 text-center">1</td>
                <td class="p-1">PurpleChest (Dwarf)</td>

            </tr>

            <tr>
                <td class="p-1 text-right">Acidcyrax (Undead) </td>
                <td class="p-1 text-center">2</td>
                <td class="p-1 text-center">0</td>
                <td class="p-1">palmtaiga (Goblin)</td>

            </tr>

            <tr>
                <td class="p-1 text-right">Dimmy Gee (Undead) </td>
                <td class="p-1 text-center">1</td>
                <td class="p-1 text-center">1</td>
                <td class="p-1">Lysistrata (Human)</td>

            </tr>

            <tr>
                <td class="p-1 text-right">Raagnar (Chaos Dwarf) </td>
                <td class="p-1 text-center">1</td>
                <td class="p-1 text-center">2</td>
                <td class="p-1">Nourrou (Undead)</td>

            </tr>

            <tr>
                <td class="p-1 text-right">Spydyr (Khemri) </td>
                <td class="p-1 text-center">2</td>
                <td class="p-1 text-center">0</td>
                <td class="p-1">Coach Grong (Bretonnia)</td>

            </tr>

            <tr>
                <td class="p-1 text-right">Marreo (Wood Elf) </td>
                <td class="p-1 text-center">0</td>
                <td class="p-1 text-center">1</td>
                <td class="p-1">Fiki (Undead)</td>

            </tr>

            <tr>
                <td class="p-1 text-right">spleggy (Undead) </td>
                <td class="p-1 text-center">0</td>
                <td class="p-1 text-center">2</td>
                <td class="p-1">nobbynobbs (Norse)</td>

            </tr>

            <tr>
                <td class="p-1 text-right">Hellboy_ (Amazon) </td>
                <td class="p-1 text-center">1</td>
                <td class="p-1 text-center">0</td>
                <td class="p-1">Padster61 (Bretonnia)</td>

            </tr>

            <tr>
                <td class="p-1 text-right">Inkq (Skavens) </td>
                <td class="p-1 text-center">0</td>
                <td class="p-1 text-center">3</td>
                <td class="p-1">CarlosTT (Dark Elf)</td>

            </tr>

            <tr>
                <td class="p-1 text-right">Hardcore Stig (Dark Elf) </td>
                <td class="p-1 text-center">0</td>
                <td class="p-1 text-center">1</td>
                <td class="p-1">AllyRdr (Human)</td>

            </tr>

            <tr>
                <td class="p-1 text-right">lLoggiczZ (Dwarf) </td>
                <td class="p-1 text-center">3</td>
                <td class="p-1 text-center">0</td>
                <td class="p-1">Efcstef (Amazon)</td>

            </tr>

            <tr>
                <td class="p-1 text-right">szrlm (Norse) </td>
                <td class="p-1 text-center">1</td>
                <td class="p-1 text-center">0</td>
                <td class="p-1">FightNMongoose (Pro Elf)</td>

            </tr>

            <tr>
                <td class="p-1 text-right">Crowdog09 (Orc) </td>
                <td class="p-1 text-center">1</td>
                <td class="p-1 text-center">0</td>
                <td class="p-1">Pete (Dark Elf)</td>

            </tr>

            <tr>
                <td class="p-1 text-right">Sampittu (Lizardman) </td>
                <td class="p-1 text-center">2</td>
                <td class="p-1 text-center">1</td>
                <td class="p-1">Sacred Chilli (Dark Elf)</td>

            </tr>

            <tr>
                <td class="p-1 text-right">Bazakastine (Lizardman) </td>
                <td class="p-1 text-center">2</td>
                <td class="p-1 text-center">0</td>
                <td class="p-1">Eldryr (Chaos Dwarf)</td>

            </tr>

            <tr>
                <td class="p-1 text-right">caio (Undead) </td>
                <td class="p-1 text-center">1</td>
                <td class="p-1 text-center">1</td>
                <td class="p-1">besters (Pro Elf)</td>

            </tr>

            <tr>
                <td class="p-1 text-right">Xialth (Lizardman) </td>
                <td class="p-1 text-center">1</td>
                <td class="p-1 text-center">1</td>
                <td class="p-1">coma13697 (Necromantic)</td>

            </tr>

            <tr>
                <td class="p-1 text-right">Pjut (Dwarf) </td>
                <td class="p-1 text-center">2</td>
                <td class="p-1 text-center">0</td>
                <td class="p-1">Geryon (Bretonnia)</td>
            </tr>

            <tr>
                <td class="p-1 text-right">Sherbie (Human) </td>
                <td class="p-1 text-center">0</td>
                <td class="p-1 text-center">1</td>
                <td class="p-1">Traumstunde (Lizardman)</td>
            </tr>

            <tr>
                <td class="p-1 text-right">JimmyFantastic (Dark Elf) </td>
                <td class="p-1 text-center">1</td>
                <td class="p-1 text-center">2</td>
                <td class="p-1">DaBlackSkull (Chaos Dwarf)</td>

            </tr>

            <tr>
                <td class="p-1 text-right">Silsei (Amazon) </td>
                <td class="p-1 text-center">0</td>
                <td class="p-1 text-center">2</td>
                <td class="p-1">Abram (Amazon)</td>

            </tr>

            <tr>
                <td class="p-1 text-right">Calltroop (Amazon) </td>
                <td class="p-1 text-center">0</td>
                <td class="p-1 text-center">1</td>
                <td class="p-1">Rubick_ (Dwarf)</td>

            </tr>

            <tr>
                <td class="p-1 text-right">Skeemer (Chaos Dwarf) </td>
                <td class="p-1 text-center">2</td>
                <td class="p-1 text-center">1</td>
                <td class="p-1">Unforgivenirl (Dwarf)</td>

            </tr>

            <tr>
                <td class="p-1 text-right">DaPiranha (Pro Elf) </td>
                <td class="p-1 text-center">2</td>
                <td class="p-1 text-center">1</td>
                <td class="p-1">BruceL33t (Wood Elf)</td>

            </tr>

            <tr>
                <td class="p-1 text-right">Storbertas (Lizardman) </td>
                <td class="p-1 text-center">2</td>
                <td class="p-1 text-center">0</td>
                <td class="p-1">Brutopatia (Lizardman)</td>

            </tr>

            <tr>
                <td class="p-1 text-right">Volkajo (Norse) </td>
                <td class="p-1 text-center">1</td>
                <td class="p-1 text-center">1</td>
                <td class="p-1">Schumway (Orc)</td>
            </tr>
            <tr>
                <td class="p-1 text-right">Sebotouno (Lizardmen) </td>
                <td class="p-1 text-center">1</td>
                <td class="p-1 text-center">0</td>
                <td class="p-1">Hargrim (Dark Elf)</td>
            </tr>
            <tr>
                <td class="p-1 text-right">Diomlord (Orc) </td>
                <td class="p-1 text-center">0</td>
                <td class="p-1 text-center">0</td>
                <td class="p-1">Thatasianguy (Human)</td>
            </tr>
            <tr>
                <td class="p-1 text-right">Glauk (Wood Elf) </td>
                <td class="p-1 text-center">2</td>
                <td class="p-1 text-center">1</td>
                <td class="p-1">Watchtower (Lizardman)</td>
            </tr>
            <tr>
                <td class="p-1 text-right">Mahalsson (Norse) </td>
                <td class="p-1 text-center">2</td>
                <td class="p-1 text-center">1</td>
                <td class="p-1">danton (Undead)</td>
            </tr>
            <tr>
                <td class="p-1 text-right">Yncarne (Chaos Dwarf) </td>
                <td class="p-1 text-center">1</td>
                <td class="p-1 text-center">1</td>
                <td class="p-1">Mankiz (Wood Elf)</td>
            </tr>
            <tr>
                <td class="p-1 text-right">Anubis2406 (Orc) </td>
                <td class="p-1 text-center">1</td>
                <td class="p-1 text-center">0</td>
                <td class="p-1">cornish (Chaos Dwarf)</td>
            </tr>
            <tr>
                <td class="p-1 text-right">MeatPlough (Orc) </td>
                <td class="p-1 text-center">0</td>
                <td class="p-1 text-center">2</td>
                <td class="p-1">Khornight (Wood Elf)</td>
            </tr>
            <tr>
                <td class="p-1 text-right">Rick Wreckless (Vampires) </td>
                <td class="p-1 text-center">1</td>
                <td class="p-1 text-center">2</td>
                <td class="p-1">Wobert (Lizardman)</td>
            </tr>
            <tr>
                <td class="p-1 text-right">Arioso (Norse) </td>
                <td class="p-1 text-center">1</td>
                <td class="p-1 text-center">2</td>
                <td class="p-1">Veggente (Wood Elf)</td>
            </tr>
            <tr>
                <td class="p-1 text-right">CrapIllusionist (Orc) </td>
                <td class="p-1 text-center">0</td>
                <td class="p-1 text-center">0</td>
                <td class="p-1">dionysian (Dark Elf)</td>
            </tr>
            <tr>
                <td class="p-1 text-right">Sorvad (Bretonnia) </td>
                <td class="p-1 text-center">0</td>
                <td class="p-1 text-center">2</td>
                <td class="p-1">BennyBartez (Lizardman)</td>
            </tr>
            <tr>
                <td class="p-1 text-right">SmukkeOdin (Dwarf) </td>
                <td class="p-1 text-center">1</td>
                <td class="p-1 text-center">0</td>
                <td class="p-1">Moonbiter (Wood Elf)</td>
            </tr>
            <tr>
                <td class="p-1 text-right">Avreus Culter (Norse) </td>
                <td class="p-1 text-center">1</td>
                <td class="p-1 text-center">2</td>
                <td class="p-1">Obsidian (Chaos Dwarf)</td>
            </tr>
            <tr>
                <td class="p-1 text-right">Javelin (Undead) </td>
                <td class="p-1 text-center">1</td>
                <td class="p-1 text-center">1</td>
                <td class="p-1">Ungern (Undead)</td>
            </tr>
            <tr>
                <td class="p-1 text-right">Elyod (Skavens) </td>
                <td class="p-1 text-center">1</td>
                <td class="p-1 text-center">1</td>
                <td class="p-1">Siggikniggi (Chaos Dwarf)</td>
            </tr>
            <tr>
                <td class="p-1 text-right">Yaquestay (Underworld) </td>
                <td class="p-1 text-center">2</td>
                <td class="p-1 text-center">0</td>
                <td class="p-1">MarzM (Wood Elf)</td>
            </tr>
            <tr>
                <td class="p-1 text-right">Hapsu (Norse) </td>
                <td class="p-1 text-center">1</td>
                <td class="p-1 text-center">0</td>
                <td class="p-1">FluffytheAlien1 (Lizardman)</td>
            </tr>
            <tr>
                <td class="p-1 text-right">Zakka Zpakka (Wood Elf) </td>
                <td class="p-1 text-center">1</td>
                <td class="p-1 text-center">2</td>
                <td class="p-1">Calcium (Dark Elf)</td>
            </tr>
            <tr>
                <td class="p-1 text-right">Matte8 (Dark Elf) </td>
                <td class="p-1 text-center">3</td>
                <td class="p-1 text-center">0</td>
                <td class="p-1">Hanniball (Pro Elf)</td>
            </tr>
            <tr>
                <td class="p-1 text-right">20phoenix (Necromantic) </td>
                <td class="p-1 text-center">1</td>
                <td class="p-1 text-center">0</td>
                <td class="p-1">Gdaynick (Wood Elf)</td>
            </tr>
            <tr>
                <td class="p-1 text-right">philipprocter (Lizardman) </td>
                <td class="p-1 text-center">2</td>
                <td class="p-1 text-center">1</td>
                <td class="p-1">Johnny Feyev (Dark Elf)</td>
            </tr>
            <tr>
                <td class="p-1 text-right">Shadowplayer89 (Wood Elf) </td>
                <td class="p-1 text-center">2</td>
                <td class="p-1 text-center">2</td>
                <td class="p-1">Bushain Manly (Undead)</td>
            </tr>
            <tr>
                <td class="p-1 text-right">Freyn (Dark Elf) </td>
                <td class="p-1 text-center">1</td>
                <td class="p-1 text-center">1</td>
                <td class="p-1">Joemanji (Undead)</td>
            </tr>
            <tr>
                <td class="p-1 text-right">CaolanG (Norse) </td>
                <td class="p-1 text-center">0</td>
                <td class="p-1 text-center">1</td>
                <td class="p-1">Jbazza (Lizardman)</td>
            </tr>
            <tr>
                <td class="p-1 text-right">boronate (Lizardman) </td>
                <td class="p-1 text-center">2</td>
                <td class="p-1 text-center">1</td>
                <td class="p-1">Jofarin (Bretonnia)</td>
            </tr>
            <tr>
                <td class="p-1 text-right">naytsyrhc (Dark Elf) </td>
                <td class="p-1 text-center">1</td>
                <td class="p-1 text-center">0</td>
                <td class="p-1">Gaunab (Skavens)</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}