{% extends "layout.html" %}
{% block content %}

<div class="content-section" xmlns="http://www.w3.org/1999/html">
    <legend class="border-bottom">Round 6</legend>
    <div class="text-muted mb-4"><small><a href="/welsh" class="link">Welsh Blood Bowl Championship</a></small></div>
    <div class="table-responsive">
        <table class="table table-dark table-hover">
            <thead>
            <tr>
                <td class="tab_titre">#</td>
                <td class="tab_titre">Coach 1</td>
                <td colspan="2" class="tab_titre">Score</td>
                <td class="tab_titre">Coach 2</td>
                <td colspan="2" class="tab_titre">Sorties</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="tab_pos" >1</td>
                <td class="looser" >lLoggiczZ (Dwarf) </td>
                <td class="looser" >0</td>
                <td class="winner" >2</td>
                <td class="winner" >Sebotouno (Lizardmen)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >2</td>
                <td class="draw" >Bazakastine (Lizardmen) </td>
                <td class="draw" >1</td>
                <td class="draw" >1</td>
                <td class="draw" >dionysian (Dark Elf)</td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >3</td>
                <td class="looser" >Moonbiter (Wood Elf) </td>
                <td class="looser" >2</td>
                <td class="winner" >3</td>
                <td class="winner" >Storbertas (Lizardmen)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >4</td>
                <td class="looser" >szrlm (Norse) </td>
                <td class="looser" >0</td>
                <td class="winner" >1</td>
                <td class="winner" >Geryon (Bretonia)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >5</td>
                <td class="winner" >PurpleChest (Dwarf) </td>
                <td class="winner" >1</td>
                <td class="looser" >0</td>
                <td class="looser" >BennyBartez (Lizardmen)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >6</td>
                <td class="looser" >Mahalsson (Norse) </td>
                <td class="looser" >1</td>
                <td class="winner" >2</td>
                <td class="winner" >Sampittu (Lizardmen)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >7</td>
                <td class="draw" >test (Amazon) </td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
                <td class="draw" >test (Amazon)</td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >8</td>
                <td class="looser" >Matte8 (Dark Elf) </td>
                <td class="looser" >1</td>
                <td class="winner" >2</td>
                <td class="winner" >Tripleskull (Wood Elf)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >9</td>
                <td class="winner" >Nuttyfessor (Chaos Dwarf) </td>
                <td class="winner" >1</td>
                <td class="looser" >0</td>
                <td class="looser" >Nourrou (Undead)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >10</td>
                <td class="draw" >Hargrim (Dark Elf) </td>
                <td class="draw" >1</td>
                <td class="draw" >1</td>
                <td class="draw" >Xialth (Lizardmen)</td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >11</td>
                <td class="winner" >Silsei (Amazon) </td>
                <td class="winner" >2</td>
                <td class="looser" >0</td>
                <td class="looser" >Anubis2406 (Orc)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >12</td>
                <td class="draw" >SmukkeOdin (Dwarf) </td>
                <td class="draw" >1</td>
                <td class="draw" >1</td>
                <td class="draw" >Fiki (Undead)</td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >13</td>
                <td class="looser" >philipprocter (Lizardmen) </td>
                <td class="looser" >0</td>
                <td class="winner" >1</td>
                <td class="winner" >nobbynobbs (Norse)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >14</td>
                <td class="looser" >boronate (Lizardmen) </td>
                <td class="looser" >0</td>
                <td class="winner" >2</td>
                <td class="winner" >orcster (Undead)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >15</td>
                <td class="draw" >Yaquestay (Underworld) </td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
                <td class="draw" >FluffytheAlien1 (Lizardmen)</td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >16</td>
                <td class="looser" >Hellboy_ (Amazon) </td>
                <td class="looser" >1</td>
                <td class="winner" >2</td>
                <td class="winner" >Abram (Amazon)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >17</td>
                <td class="draw" >Volkajo (Norse) </td>
                <td class="draw" >2</td>
                <td class="draw" >2</td>
                <td class="draw" >MarzM (Wood Elf)</td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >18</td>
                <td class="winner" >Obsidian (Chaos Dwarf) </td>
                <td class="winner" >2</td>
                <td class="looser" >0</td>
                <td class="looser" >Calcium (Dark Elf)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >19</td>
                <td class="winner" >Le Bread masque (Dark Elf) </td>
                <td class="winner" >1</td>
                <td class="looser" >0</td>
                <td class="looser" >Unforgivenirl (Dwarf)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >20</td>
                <td class="looser" >Hapsu (Norse) </td>
                <td class="looser" >0</td>
                <td class="winner" >3</td>
                <td class="winner" >Siggikniggi (Chaos Dwarf)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >21</td>
                <td class="looser" >Freyn (Dark Elf) </td>
                <td class="looser" >1</td>
                <td class="winner" >2</td>
                <td class="winner" >Thatasianguy (Human)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >22</td>
                <td class="looser" >Glauk (Wood Elf) </td>
                <td class="looser" >0</td>
                <td class="winner" >2</td>
                <td class="winner" >Wobert (Lizardmen)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >23</td>
                <td class="winner" >Elyod (Skaven) </td>
                <td class="winner" >1</td>
                <td class="looser" >0</td>
                <td class="looser" >naytsyrhc (Dark Elf)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >24</td>
                <td class="winner" >Ungern (Undead) </td>
                <td class="winner" >2</td>
                <td class="looser" >1</td>
                <td class="looser" >Spartako (Wood Elf)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >25</td>
                <td class="looser" >Khornight (Wood Elf) </td>
                <td class="looser" >0</td>
                <td class="winner" >1</td>
                <td class="winner" >Javelin (Undead)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >26</td>
                <td class="draw" >Pjut (Dwarf) </td>
                <td class="draw" >1</td>
                <td class="draw" >1</td>
                <td class="draw" >Spydyr (Khemri)</td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >27</td>
                <td class="looser" >SickAsEggs (Human) </td>
                <td class="looser" >0</td>
                <td class="winner" >1</td>
                <td class="winner" >Ghorghor (Necromantic)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >28</td>
                <td class="winner" >Calltroop (Amazon) </td>
                <td class="winner" >1</td>
                <td class="looser" >0</td>
                <td class="looser" >DaBlackSkull (Chaos Dwarf)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >29</td>
                <td class="draw" >besters (Elfes) </td>
                <td class="draw" >1</td>
                <td class="draw" >1</td>
                <td class="draw" >Jbazza (Lizardmen)</td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >30</td>
                <td class="draw" >Schumway (Orc) </td>
                <td class="draw" >1</td>
                <td class="draw" >1</td>
                <td class="draw" >Crowdog09 (Orc)</td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >31</td>
                <td class="looser" >Blodgestep (Undead) </td>
                <td class="looser" >1</td>
                <td class="winner" >2</td>
                <td class="winner" >Lechatventru (Undead)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >32</td>
                <td class="looser" >Juman (Amazon) </td>
                <td class="looser" >0</td>
                <td class="winner" >2</td>
                <td class="winner" >Diomlord (Orc)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >33</td>
                <td class="looser" >Gribouillon (Norse) </td>
                <td class="looser" >0</td>
                <td class="winner" >1</td>
                <td class="winner" >Lysistrata (Human)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >34</td>
                <td class="draw" >spleggy (Undead) </td>
                <td class="draw" >1</td>
                <td class="draw" >1</td>
                <td class="draw" >CarlosTT (Dark Elf)</td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >35</td>
                <td class="looser" >Arioso (Norse) </td>
                <td class="looser" >0</td>
                <td class="winner" >1</td>
                <td class="winner" >Brutopatia (Lizardmen)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >36</td>
                <td class="looser" >Zakka Zpakka (Wood Elf) </td>
                <td class="looser" >1</td>
                <td class="winner" >2</td>
                <td class="winner" >Veggente (Wood Elf)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >37</td>
                <td class="looser" >Inkq (Skaven) </td>
                <td class="looser" >1</td>
                <td class="winner" >2</td>
                <td class="winner" >danton (Undead)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >38</td>
                <td class="winner" >Watchtower (Lizardmen) </td>
                <td class="winner" >2</td>
                <td class="looser" >0</td>
                <td class="looser" >Bushain Manly (Undead)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >39</td>
                <td class="looser" >caio (Undead) </td>
                <td class="looser" >0</td>
                <td class="winner" >2</td>
                <td class="winner" >AllyRdr (Human)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >40</td>
                <td class="looser" >Dimmy Gee (Undead) </td>
                <td class="looser" >1</td>
                <td class="winner" >2</td>
                <td class="winner" >Sacred Chilli (Dark Elf)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >41</td>
                <td class="draw" >Rick Wreckless (Vampires) </td>
                <td class="draw" >2</td>
                <td class="draw" >2</td>
                <td class="draw" >DaPiranha (Elfes)</td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >42</td>
                <td class="winner" >Shadowplayer89 (Wood Elf) </td>
                <td class="winner" >4</td>
                <td class="looser" >0</td>
                <td class="looser" >Efcstef (Amazon)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >43</td>
                <td class="looser" >CrapIllusionist (Orc) </td>
                <td class="looser" >0</td>
                <td class="winner" >2</td>
                <td class="winner" >Pete (Dark Elf)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >44</td>
                <td class="draw" >Hardcore Stig (Dark Elf) </td>
                <td class="draw" >2</td>
                <td class="draw" >2</td>
                <td class="draw" >Gaunab (Skaven)</td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >45</td>
                <td class="winner" >20phoenix (Necromantic) </td>
                <td class="winner" >2</td>
                <td class="looser" >1</td>
                <td class="looser" >Coach Grong (Bretonia)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >46</td>
                <td class="draw" >Hanniball (Elfes) </td>
                <td class="draw" >1</td>
                <td class="draw" >1</td>
                <td class="draw" >cornish (Chaos Dwarf)</td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >47</td>
                <td class="winner" >Marreo (Wood Elf) </td>
                <td class="winner" >2</td>
                <td class="looser" >0</td>
                <td class="looser" >Johnny Feyev (Dark Elf)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >48</td>
                <td class="looser" >Sorvad (Bretonia) </td>
                <td class="looser" >1</td>
                <td class="winner" >3</td>
                <td class="winner" >Jofarin (Bretonia)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >49</td>
                <td class="looser" >CaolanG (Norse) </td>
                <td class="looser" >1</td>
                <td class="winner" >2</td>
                <td class="winner" >FightNMongoose (Elfes)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >50</td>
                <td class="draw" >Yncarne (Chaos Dwarf) </td>
                <td class="draw" >1</td>
                <td class="draw" >1</td>
                <td class="draw" >Sherbie (Human)</td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >51</td>
                <td class="winner" >Ruux (Chaos) </td>
                <td class="winner" >3</td>
                <td class="looser" >1</td>
                <td class="looser" >Avreus Culter (Norse)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >52</td>
                <td class="looser" >MeatPlough (Orc) </td>
                <td class="looser" >0</td>
                <td class="winner" >1</td>
                <td class="winner" >Padster61 (Bretonia)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >53</td>
                <td class="looser" >palmtaiga (Gobelins) </td>
                <td class="looser" >1</td>
                <td class="winner" >2</td>
                <td class="winner" >Poncho dlv (Dark Elf)</td>
                <td class="looser" >0</td>
                <td class="winner" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >54</td>
                <td class="winner" >Eldryr (Chaos Dwarf) </td>
                <td class="winner" >2</td>
                <td class="looser" >1</td>
                <td class="looser" >Joemanji (Undead)</td>
                <td class="winner" >0</td>
                <td class="looser" >0</td>
            </tr>

            <tr>
                <td class="tab_pos" >55</td>
                <td class="draw" >coma13697 (Necromantic) </td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
                <td class="draw" >Raagnar (Chaos Dwarf)</td>
                <td class="draw" >0</td>
                <td class="draw" >0</td>
            </tr>

            </tbody>
        </table>
    </div>
</div>
{% endblock content %}