{% extends "layout.html" %}
{% block content %}

<!-- completion item -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.2.26/jquery.autocomplete.min.js"></script>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/search_autocomplete.css')}}">

{% if league_data %}
<div class="content-section">
    <div class="d-flex justify-content-start mb-4">
        <h2>{{league_data.name}}</h2>
    </div>

    <div class="form-group mb-5">
        <h3>Division 1</h3>
        <label for="t1_coefficient" class="form-control-label">Coefficient</label>
        <input class="form-control" type="number" id="t1_coefficient" min="0" max="1000" value={{league_data.t1_coefficient}}>

        <div class="inputWithIcon">
            <input type="text" name="tier_1_autocomplete" class="form-control" id="tier_1_autocomplete" placeholder="Competitions name" autofocus>
            <i class="fas fa-search fa-lg fa-fw" aria-hidden="true"></i>
        </div>
        <ul id="t1_container" class="list-group list-group-flush mt-2">
            {% for competition in league_data.t1_list %}
            <li class="list-group-item d-flex competition_entry" data-tier_value="1" data-competition_id="{{competition.id}}" data-competition_name="{{competition.name}}" id="competition_{{competition.id}}">
                <p>{{competition.name}}</p>
                <button class="btn btn-outline-danger ml-auto" id="delete_{{competition.id}}" onclick="remove_competition('competition_{{competition.id}}')">&times;</button>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="form-group mb-5">
        <h3>Division 2</h3>
        <label for="t2_coefficient" class="form-control-label">Coefficient</label>
        <input class="form-control" type="number" id="t2_coefficient" min="0" max="1000" value={{league_data.t2_coefficient}}>

        <div class="inputWithIcon">
            <input type="text" name="tier_2_autocomplete" class="form-control" id="tier_2_autocomplete" placeholder="Competitions name" autofocus>
            <i class="fas fa-search fa-lg fa-fw" aria-hidden="true"></i>
        </div>
        <ul id="t2_container" class="list-group list-group-flush mt-2">
            {% for competition in league_data.t2_list %}
            <li class="list-group-item d-flex competition_entry" data-tier_value="2" data-competition_id="{{competition.id}}" data-competition_name="{{competition.name}}" id="competition_{{competition.id}}">
                <p>{{competition.name}}</p>
                <button class="btn btn-outline-danger ml-auto" id="delete_{{competition.id}}" onclick="remove_competition('competition_{{competition.id}}')">&times;</button>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="form-group mb-5">
        <h3>Division 3</h3>
        <label for="t3_coefficient" class="form-control-label">Coefficient</label>
        <input class="form-control" type="number" id="t3_coefficient" min="0" max="1000" value={{league_data.t3_coefficient}}>

        <div class="inputWithIcon">
            <input type="text" name="tier_3_autocomplete" class="form-control" id="tier_3_autocomplete" placeholder="Competitions name" autofocus>
            <i class="fas fa-search fa-lg fa-fw" aria-hidden="true"></i>
        </div>
        <ul id="t3_container" class="list-group list-group-flush mt-2">
            {% for competition in league_data.t3_list %}
            <li class="list-group-item d-flex competition_entry" data-tier_value="3" data-competition_id="{{competition.id}}" data-competition_name="{{competition.name}}" id="competition_{{competition.id}}">
                <p>{{competition.name}}</p>
                <button class="btn btn-outline-danger ml-auto" id="delete_{{competition.id}}" onclick="remove_competition('competition_{{competition.id}}')">&times;</button>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="form-group mb-5">
        <h3>Division 4</h3>
        <label for="t4_coefficient" class="form-control-label">Coefficient</label>
        <input class="form-control" type="number" id="t4_coefficient" min="0" max="1000" value={{league_data.t4_coefficient}}>

        <div class="inputWithIcon">
            <input type="text" name="tier_4_autocomplete" class="form-control" id="tier_4_autocomplete" placeholder="Competitions name" autofocus>
            <i class="fas fa-search fa-lg fa-fw" aria-hidden="true"></i>
        </div>
        <ul id="t4_container" class="list-group list-group-flush mt-2">
            {% for competition in league_data.t4_list %}
            <li class="list-group-item d-flex competition_entry" data-tier_value="4" data-competition_id="{{competition.id}}" data-competition_name="{{competition.name}}" id="competition_{{competition.id}}">
                <p>{{competition.name}}</p>
                <button class="btn btn-outline-danger ml-auto" id="delete_{{competition.id}}" onclick="remove_competition('competition_{{competition.id}}')">&times;</button>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="text-center mt-3">
        <button type="button" class="btn btn-outline-success"  id="sub_button" onclick="save_tier_settings('{{ csrf_token() }}')">Save</button>
    </div>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/vdg_admin.js') }}"></script>
{% endif %}
{% endblock content %}
