<div class="table-responsive mt-3">
    <table class="table table-dark table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col" class="text-left">Coach</th>
            <th scope="col" class="text-center">Points</th>
            <th scope="col" class="text-center">Matches</th>
            <th scope="col" class="text-center">Win</th>
            <th scope="col" class="text-center">Draw</th>
            <th scope="col" class="text-center">Loss</th>
        </tr>
        </thead>
        <tbody>
        {% for coach in standing%}
        <tr>
            <th scope="row">{{loop.index}}</th>
            <td class="text-left"><a href="/coach?coach_id={{ coach.coach_id }}&platform_id={{platform_id}}" class="link-white">{{ coach.coach_name }}</a></td>
            <td class="text-center">{{ coach.points }}</td>
            <td class="text-center">{{ coach.games_played }}</td>
            <td class="text-center">{{ coach.win }}</td>
            <td class="text-center">{{ coach.draw }}</td>
            <td class="text-center">{{ coach.loss }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>