<div class="d-flex justify-content-center mb-2">
    <div class="mr-2">
        <img src="{{ url_for('static', filename='spike_resources/img/flags/4x3/gb.svg') }}" style="height:15px">
        <a href="https://drive.google.com/file/d/1a2BkmFfzjlabHSWREf2bR52EdFlwGBE6/view?usp=sharing" class="link-white" target="_blank">Rules</a>
    </div>
    <div>
        <img src="{{ url_for('static', filename='spike_resources/img/flags/4x3/fr.svg') }}" style="height:15px">
        <a href="https://drive.google.com/file/d/18M3I3zf5jBxA0KKrPMuSAsGf6DRlrd5-/view?usp=sharing" class="link-white" target="_blank">Règlement</a>
    </div>
</div>

<div class="d-flex justify-content-center row w-100">
    {% for competition in active_competition %}
    <div class="media competition-media rounded bg-steel" style="max-width: 260px;">
        <img src="{{competition.logo}}" class="mr-2" style="height: 60px;" alt="{{competition.name}}">
        <div class="media-body">
            <a class="link-white" href="/competition?competition={{competition.id}}&platform={{competition.platform_id}}">
                <h5 class="link-white">{{competition.name}}</h5>
            </a>
            <p class="competition-info text-muted text-capitalize">{{ competition.label_format }}</p>
            {% if competition.format != "ladder" %}
            <p class="competition-info text-muted">Round: {{ competition.round }}/{{ competition.rounds_count }} </p>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>