{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <div class="d-flex justify-content-between mb-4">
        <h2>
            <img src="https://cdn.discordapp.com/icons/{{guild_data._id}}/{{guild_data.icon}}.png" alt="{{guild_data.name}}" style="height:70px">
            {{guild_data.name}}
        </h2>
    </div>
    <form method="POST" action="" onsubmit="">
        {{ form.csrf_token }}
        <input id="guild_id" name="guild_id" type="hidden" value="{{ form.guild_id }}">

        <fieldset class="form-group">
            <h3>General information</h3>
            <div class="form-row mt-1">
                <div class="col">
                    {{ form.lang.label(class="form-control-label mb-0") }}
                    {{ form.lang(class="form-control mt-1") }}
                </div>
                <div class="col">
                    {{ form.timezone.label(class="form-control-label mb-0") }}
                    {{ form.timezone(class="form-control mt-1") }}
                </div>
                <div class="col">
                    {{ form.league_platform.label(class="form-control-label mb-0") }}
                    {{ form.league_platform(class="form-control mt-1") }}
                </div>
            </div>

            <h3 class="mt-5">Administration</h3>

            <div class="form-row mt-2">
                <div class="col">
                    {{ form.admin_role.label(class="form-control-label mb-0") }}
                    {{ form.admin_role(class="form-control mt-1") }}
                </div>
                <div class="col">
                    <div class="form-check">
                        {{ form.enable_automatic_role(class="form-check-input") }}
                        {{ form.enable_automatic_role.label(class="form-check-label") }}
                    </div>
                    <div class="form-row mb-3">
                        <div class="col">
                            {{ form.new_user_role(class="form-control mt-1") }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-check">
                {{ form.enable_welcome_leave_message(class="form-check-input") }}
                {{ form.enable_welcome_leave_message.label(class="form-check-label") }}
            </div>

            <div class="form-row mb-3 mt-3">
                <div class="col">
                    {{ form.welcome_message_channel.label(class="form-control-label mb-0") }}
                    {{ form.welcome_message_channel(class="form-control mt-1") }}
                </div>
                <div class="col">
                    {{ form.leave_message_channel.label(class="form-control-label mb-0") }}
                    {{ form.leave_message_channel(class="form-control mt-1") }}
                </div>
                <div class="col">
                    {{ form.leave_welcome_role_notification.label(class="form-control-label mb-0") }}
                    {{ form.leave_welcome_role_notification(class="form-control mt-1") }}
                </div>
            </div>

            <div class="form-group">
                {{ form.welcome_message.label(class="form-control-label mb-0") }}
                {{ form.welcome_message(class="form-control mt-1", rows="10") }}
            </div>

            <div class="form-group">
                {{ form.leave_message.label(class="form-control-label mb-0") }}
                {{ form.leave_message(class="form-control mt-1", rows="3") }}
            </div>

            <h3 class="mt-5">Match report</h3>
            <div class="form-row mt-2">
                <div class="col">
                    <div class="form-check">
                        {{ form.compact_report(class="form-check-input") }}
                        {{ form.compact_report.label(class="form-check-label") }}
                    </div>
                </div>
                <div class="col">
                    <div class="form-check">
                        {{ form.display_impact_player(class="form-check-input") }}
                        {{ form.display_impact_player.label(class="form-check-label") }}
                    </div>
                </div>
            </div>

            {% if current_user.is_admin() %}
            <div class="form-group mb-4">
                <div class="form-check">
                    {{ form.enable_autoreg(class="form-check-input") }}
                    {{ form.enable_autoreg.label(class="form-check-label") }}
                </div>
                {{ form.autoreg_channel(class="form-control mt-1") }}
            </div>
            {% endif %}

            <h4 class="mt-5">Youtube and Twitch</h4>
            <div class="form-row mb-5 mt-2">
                <div class="col">
                    {{ form.live_channel.label(class="form-control-label mb-0") }}
                    {{ form.live_channel(class="form-control mt-1") }}
                </div>
                <div class="col">
                    {{ form.blood_bowl_video_channel.label(class="form-control-label mb-0") }}
                    {{ form.blood_bowl_video_channel(class="form-control mt-1") }}
                </div>
                <div class="col">
                    {{ form.other_video_channel.label(class="form-control-label mb-0") }}
                    {{ form.other_video_channel(class="form-control mt-1") }}
                </div>
                <div class="col">
                    {{ form.specific_channel.label(class="form-control-label mb-0") }}
                    {{ form.specific_channel(class="form-control mt-1") }}
                </div>
            </div>
            <div class="form-group">
                {{ form.video_keywords.label(class="form-control-label mb-0") }}
                {{ form.video_keywords(class="form-control mt-1", rows="3") }}
            </div>

            <h3 class="mt-5">Bounty</h3>

            <div class="form-row mt-2">
                <div class="col">
                    <div class="form-check">
                        {{ form.display_admin_bounty(class="form-check-input") }}
                        {{ form.display_admin_bounty.label(class="form-check-label") }}
                    </div>
                </div>
                <div class="col">
                    <div class="form-check">
                        {{ form.enable_bounty(class="form-check-input") }}
                        {{ form.enable_bounty.label(class="form-check-label") }}
                    </div>
                </div>
            </div>


        </fieldset>
        <div class="d-flex">
            {{ form.submit(class="btn btn-secondary ml-auto", id="sub_button") }}
        </div>
    </form>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/guild_admin.js') }}"></script>
{% endblock content %}
