<ul class="list-styled p-0 ml-0 mb-5">
    <h1 class="text-center mb-5">{{guild_data.name}}</h1>
    {% if display_admin %}
    <a href="/admin_guild?guild_id={{guild_data.discord_id}}" class="link-white">[Admin]</a>
    {% endif %}

    <div class="row justify-content-center">
        {% for league in league_data %}
        <li class="mb-2 mr-5">
            <a class="link-white font-weight-bold" href="/league?league={{league.id}}&platform={{league.platform_id}}">
                <img src="static/spike_resources/img/logos/Logo_{{league.logo}}.png" style="height:40px"> {{league.name}}
            </a>
            <ul class="list-styled p-0 ml-4">
                {% for competition in league.competitions %}
                <li>
                    <a class="link-white" href="/competition?competition={{competition.id}}&platform={{league.platform_id}}">
                        <img src="{{competition.logo}}" style="height:40px"> {{competition.name}}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </div>
</ul>