{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <div class="row justify-content-center mb-3">
        {% for guild in guilds %}
        <div style="height:85px; width:85px;" class="mr-2">
            <img class="discord_guild_menu" src="{{guild.icon}}" alt="{{guild.name}}" onclick="open_guild('{{guild.discord_id}}')">
        </div>
        {% endfor %}
    </div>

    <div id="guild_data"></div>
</div>

<script type="text/javascript">
function open_guild(guild_id) {
    //Fill guild data
    fetch('/get_guild_data/'+guild_id).then(response => response.text()).then(data => {
        let e = document.getElementById('guild_data');
        e.innerHTML=data;
    });
}

{% if guilds|length > 0 %}
$(document).ready(function(){
  open_guild('{{guilds[0].discord_id}}')
});
{% endif %}
</script>
{% endblock content %}
