{% for match in last_match %}
<div class="card text-center mb-3">
    <div class="card-header"><a class="link-white" href="/league?match_uuid={{ match._id }}">{{ match.league_name }}</a> -
        <a class="link-white" href="/competition?match_uuid={{ match._id }}">{{ match.competition_name }}</a>
    </div>
    <div class="card-body">
            <div class="row justify-content-center">
                <div class="media mr-1">
                    <div class="media-body mr-2 text-right">
                        <a href="/team?match_uuid={{match._id}}&display_team=home" class="link-white">{{ match.team_home.name }}</a>
                        <div class="text-muted">
                            <small>
                                <a href="/coach?match_uuid={{ match._id }}&display_coach=home" class="link">{{coaches_name[match.team_home.coach_id]}}</a>
                            </small>
                        </div>
                    </div>
                    <img src="static/spike_resources/img/logos/Logo_{{ match.team_home.logo }}.png" style="height:32px;"/>
                </div>

                <div><a class="link-white" href="/match?match_uuid={{match._id}}">{{ match.team_home.score }} - {{ match.team_away.score }}</a></div>

                <div class="media ml-1">
                    <img src="static/spike_resources/img/logos/Logo_{{ match.team_away.logo }}.png" style="height:32px;"/>
                    <div class="media-body ml-2 text-left">
                        <a href="/team?match_uuid={{match._id}}&display_team=away" class="link-white">{{ match.team_away.name }}</a>
                        <div class="text-muted"><small>
                            <a href="/coach?match_uuid={{ match._id }}&display_coach=away" class="link">{{coaches_name[match.team_away.coach_id]}}</a>
                        </small></div>
                    </div>
                </div>
            </div>
        </div>
    <div class="card-footer">
        <div class="d-flex">
            <div>{{match.date}}</div>
        </div>
    </div>
</div>
{% endfor %}