{% extends "layout.html" %}
{% block content %}

<!-- completion item -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.2.26/jquery.autocomplete.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/sort_table.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/search_autocomplete.css')}}">


<div class="content-section" id="spinner" style="display: none;">
    <div class="d-flex align-items-center">
        <strong id="loading_text"></strong>
        <div class="spinner-border ml-auto text-light" role="status"></div>
    </div>
</div>
<div class="content-section" id="coach_data">
    <div class="row">
        <div class="col" style="min-width: 250px; max-width: 100%">
            <div class="inputWithIcon">
                <input type="text" class="form-control" name="autocomplete" id="autocomplete" placeholder="Coach name" autofocus>
                <i class="fas fa-search fa-lg fa-fw" aria-hidden="true"></i>
            </div>
            <div class="card">
                <div class="card-header">
                    {% if user_linked and user_linked.avatar_url%}
                    <div class="d-flex justify-content-center">
                        <img src="{{user_linked.avatar_url}}" style="height:80px;">
                    </div>
                    {% endif %}
                    <div class="d-flex justify-content-center text-center">
                        <h2>{{coach_data.name}}</h2>
                    </div>
                    {% if user_linked and user_linked.user_name%}
                    <div class="text-muted text-center mb-3 discord-color">
                        <i class="fab fa-discord"></i> {{user_linked.user_name}}
                    </div>
                    {% endif %}


                    {% if user_linked %}
                    <div class="d-flex justify-content-center">
                        {% if user_linked.steam and  user_linked.steam.profile_url %}
                        <div>
                            <a class="link" href="{{user_linked.steam.profile_url}}" target="_blank">
                                <i class="fab fa-steam-square steam-color coach-media-ico mr-1"></i>
                            </a>
                        </div>
                        {% endif %}
                        {% if user_linked.youtube %}
                        <div>
                            <a class="link" href="https://www.youtube.com/channel/{{user_linked.youtube}}" target="_blank">
                                <i class="fab fa-youtube youtube-color coach-media-ico mr-1"></i>
                            </a>
                        </div>
                        {% endif %}
                        {% if user_linked.twitch %}
                        <div>
                            <a class="link" href="https://www.twitch.tv/{{user_linked.twitch}}" target="_blank">
                                <i class="fab fa-twitch twitch-color coach-media-ico"></i>
                            </a>
                        </div>
                        {% endif %}

                    </div>
                    {% endif %}
                </div>

                <div class="card-body">
                    <div class="d-flex justify-content-between ">
                        Platform
                        {% if coach_data.platform_id == 1 %}
                        <i class="fas fa-desktop desktop-color" data-toggle="tooltip" data-placement="bottom" title="Blood Bowl 2 Desktop"></i>
                        {% elif coach_data.platform_id == 2 %}
                        <i class="fab fa-playstation playstation-color" data-toggle="tooltip" data-placement="bottom" title="Blood Bowl 2 Playstation 4"></i>
                        {% elif coach_data.platform_id == 3 %}
                        <i class="fab fa-xbox xbox-color" data-toggle="tooltip" data-placement="bottom" title="Blood Bowl 2 Xbox one"></i>
                        {% endif %}
                    </div>

                    {% if user_linked and user_linked.country %}
                    <div class="d-flex justify-content-between ">
                        Country
                        <i class="flag-icon flag-icon-{{user_linked.country|lower}}"></i>
                    </div>
                    {% endif %}

                    {% if user_linked and user_linked.lang %}
                    <div class="d-flex justify-content-between mb-3">
                        Language
                        <div>
                            {% for language in user_linked.lang %}
                            <i class="flag-icon flag-icon-{{language|lower}}"></i>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}

                    {% if coach_stat %}
                    <div class="d-flex justify-content-between ">
                        Win rate
                        <div {% if coach_stat.win_rate > 50 %} class="text-success" {% else %} class="list-item text-danger" {% endif %}>{{coach_stat.win_rate}} %</div>
                    </div>
                    <div class="d-flex justify-content-between ">
                        Record
                        <div>{{coach_stat.nb_win}}-{{coach_stat.nb_draw}}-{{coach_stat.nb_loss}}</div>
                    </div>
                    <div class="d-flex justify-content-between ">
                        Games
                        <div>{{coach_stat.nb_match}}</div>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="list-group mb-3" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action text-white active" id="list-overall" data-toggle="list" href="#contentOverall" role="tab" aria-controls="contentOverall">
                    Overall
                </a>
                <a class="list-group-item list-group-item-action text-white" id="list-cclOverall" data-toggle="list" href="#cclOverall" role="tab" aria-controls="cclOverall">
                    CCL
                </a>
                <a class="list-group-item d-flex justify-content-between list-group-item-action text-white pl-5" id="list-topRanked" data-toggle="list" href="#topRanked" role="tab" aria-controls="topRanked">
                    Ladders
                    <span class="badge badge-primary badge-pill small" style="height: 20px;">
                        {{ranked_ladders|length}}
                    </span>
                </a>
                <a class="list-group-item d-flex justify-content-between list-group-item-action text-white pl-5" id="list-topRankedPo" data-toggle="list" href="#topRankedPo" role="tab" aria-controls="topRankedPo">
                    Playoffs
                    <span class="badge badge-primary badge-pill small" style="height: 20px;">
                        {{ranked_playoffs|length}}
                    </span>
                </a>

                <a class="list-group-item d-flex justify-content-between list-group-item-action text-white" id="list-topLeague" data-toggle="list" href="#topLeague" role="tab" aria-controls="topLeague">
                    Leagues
                    <span class="badge badge-primary badge-pill small" style="height: 20px;">
                        {{coach_lg_list|length}}
                    </span>
                </a>


                <a class="list-group-item d-flex justify-content-between list-group-item-action text-white" id="list-topCompetition" data-toggle="list" href="#topCompetition" role="tab" aria-controls="topCompetition">
                    Competitions
                    <span class="badge badge-primary badge-pill small" style="height: 20px;">
                        {{coach_cmp_list|length}}
                    </span>
                </a>

                <a class="list-group-item d-flex justify-content-between list-group-item-action text-white" id="list-lastMatch" data-toggle="list" href="#lastMatch" role="tab" aria-controls="lastMatch">
                    Last Matches
                    <span class="badge badge-primary badge-pill">50</span>
                </a>
            </div>
            <div class="custom-control custom-switch mb-5">
                <input type="checkbox" class="custom-control-input" id="switch_race_for_against">
                <label class="custom-control-label" for="switch_race_for_against">Race against</label>
            </div>
            {% if not user_linked %}
            <a href="/link_coach?coach_id={{coach_data.id}}&platform_id={{coach_data.platform_id}}" class="link-white ml-2">Link to my discord account</a>
            {% endif %}
        </div>
        <div class="col" style="min-width: 75%; max-width: 100%">
            <div class="tab-content" id="nav-tabContent">
                <!-- Overall -->
                <div class="tab-pane fade show active border-0 mt-2" id="contentOverall" role="tabpanel" aria-labelledby="list-overall">
                    <div class="d-flex justify-content-center">
                        <div id="overall_spinner" class="spinner-border text-light" role="status"></div>
                    </div>
                    <div id="overall_content"></div>
                </div>

                <!-- CCL -->
                <div class="tab-pane fade show border-0 mt-2" id="cclOverall" role="tabpanel" aria-labelledby="list-cclOverall">
                    <div class="d-flex justify-content-center">
                        <div id="ranked_spinner" class="spinner-border text-light" role="status"></div>
                    </div>
                    <div id="ranked_content"></div>
                </div>

                <!-- CCL ladder seasons -->
                <div class="tab-pane fade show border-0 mt-2" id="topRanked" role="tabpanel" aria-labelledby="list-topRanked">
                    <select class="form-control mb-3" id="ranked_ladder_select" onchange="load_ranked_ladder({{coach_data.platform_id}}, {{coach_data.id}}, true)">
                        {% for season in ranked_ladders %}
                        {% if season.active %}
                        <option value="{{loop.revindex}}" class="text-white">{{season.name}}</option>
                        {% else %}
                        <option value="{{loop.revindex}}" disabled class="text-muted">{{season.name}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <div id="ladder_spinner" style="display: none;">
                        <div class="d-flex align-items-center">
                            <strong id="ladder_loading_text"></strong>
                            <div class="spinner-border ml-auto text-light" role="status"></div>
                        </div>
                    </div>

                    <div id="ladder_content"></div>
                </div>

                <!-- CCL playoffs seasons -->
                <div class="tab-pane fade show border-0 mt-2" id="topRankedPo" role="tabpanel" aria-labelledby="list-topRankedPo">
                    <select class="form-control mb-3" id="ccl_po_season_select" onchange="load_ranked_playoffs({{coach_data.platform_id}}, {{coach_data.id}}, true)">
                        {% for season in ranked_playoffs %}
                        {% if season.active %}
                        <option value="{{loop.revindex}}" class="text-white">{{season.name}}</option>
                        {% else %}
                        <option value="{{loop.revindex}}" disabled class="text-muted">{{season.name}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <div id="playoff_spinner" style="display: none;">
                        <div class="d-flex align-items-center">
                            <strong id="playoff_loading_text"></strong>
                            <div class="spinner-border ml-auto text-light" role="status"></div>
                        </div>
                    </div>

                    <div id="playoff_content"></div>
                </div>

                <!-- Leagues -->

                <div class="tab-pane fade show border-0 mt-2" id="topLeague" role="tabpanel" aria-labelledby="list-topLeague">
                    <select class="form-control mb-3" id="league_select" onchange="load_league({{coach_data.platform_id}}, {{coach_data.id}}, true)">
                        {% for league in coach_lg_list %}
                        <option value="league_{{loop.index}}">{{league}}</option>
                        {% endfor %}
                    </select>
                    <div id="league_spinner" style="display: none;">
                        <div class="d-flex align-items-center">
                            <strong id="league_loading_text"></strong>
                            <div class="spinner-border ml-auto text-light" role="status"></div>
                        </div>
                    </div>
                    <div id="league_content"></div>
                </div>


                <!-- Competitions -->
                <div class="tab-pane fade show border-0 mt-2" id="topCompetition" role="tabpanel" aria-labelledby="list-topCompetition">
                    <select class="form-control mb-3" id="competition_select" onchange="load_competition({{coach_data.platform_id}}, {{coach_data.id}}, true)">
                        {% for competition in coach_cmp_list %}
                        <option value="competition_{{loop.index}}">{{competition}}</option>
                        {% endfor %}
                    </select>
                    <div id="competition_spinner" style="display: none;">
                        <div class="d-flex align-items-center">
                            <strong id="competition_loading_text"></strong>
                            <div class="spinner-border ml-auto text-light" role="status"></div>
                        </div>
                    </div>
                    <div id="competition_content"></div>
                </div>


                <!-- Last Match -->
                <div class="tab-pane fade show border-0 mt-2" id="lastMatch" role="tabpanel" aria-labelledby="list-lastMatch">
                    <div class="text-center">
                        <div class="text-muted"><small>Loading last match</small></div>
                        </br>
                        <div class="spinner-border ml-auto text-light" role="status"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/coach_view.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function(){
        //Fill last match div
        fetch('/platforms/{{coach_data.platform_id}}/coaches/{{coach_data.id}}/last_matches')
            .then(response => response.text()).then(data => {
            let e = document.getElementById('lastMatch');
            e.innerHTML=data;
        });

        load_overall({{coach_data.platform_id}}, {{coach_data.id}});
        load_ranked({{coach_data.platform_id}}, {{coach_data.id}});
        load_ranked_ladder({{coach_data.platform_id}}, {{coach_data.id}});
        load_ranked_playoffs({{coach_data.platform_id}}, {{coach_data.id}});
        load_league({{coach_data.platform_id}}, {{coach_data.id}});
        load_competition({{coach_data.platform_id}}, {{coach_data.id}}, true);
    });
</script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/coach_search.js') }}"></script>
{% endblock content %}
