{% extends "layout.html" %}
{% block content %}

<!-- completion item -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.2.26/jquery.autocomplete.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/search_autocomplete.css')}}">

<div class="content-section">
    <div class="inputWithIcon">
        <input type="text" class="form-control" name="autocomplete" id="autocomplete" placeholder="Coach name" autofocus>
        <i class="fas fa-search fa-lg fa-fw" aria-hidden="true"></i>
    </div>
</div>

<div class="content-section" id="spinner" style="display: none;">
    <div class="d-flex align-items-center">
        <strong id="loading_text"></strong>
        <div class="spinner-border ml-auto text-light" role="status"></div>
    </div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='scripts/coach_search.js') }}"></script>
{% endblock content %}
