<div class="ml-1">
    {% for tv_range in tv_range_title.keys() %}
    <h3>{{tv_range_title[tv_range]}}</h3>
    <div class="row text-info">
        <label class="col-sm-3">Time played:</label>
        <div class="col-sm-9">
            {% if (statistics[tv_range].overall.duration // 1440)|int > 0 %}
            {{(statistics[tv_range].overall.duration // 1440) | int}} days {{(statistics[tv_range].overall.duration % 60) | int}} hours
            {% else %}
            {{(statistics[tv_range].overall.duration // 60) | int}} hours {{(statistics[tv_range].overall.duration % 60) | int}} min
            {% endif %}
        </div>
    </div>
    <div class="row text-info">
        <label class="col-sm-3">Mean duration:</label>
        <div class="col-sm-9">
            {% if (statistics[tv_range].overall.mean_duration // 60)|int > 0 %}
            {{(statistics[tv_range].overall.mean_duration // 60)|int}} hour {{(statistics[tv_range].overall.mean_duration % 60)|int}} min by match
            {% else %}
            {{(statistics[tv_range].overall.mean_duration % 60)|int}}min by match
            {% endif %}
        </div>
    </div>
    {% if statistics[tv_range].overall.concession > 0 %}
    <div class="row text-info">
        <label class="col-sm-3">Concession:</label>
        <div class="col-sm-9">
            {{statistics[tv_range].overall.concession}} <i class="fas fa-arrow-right"></i> 1 each {{statistics[tv_range].overall.concession_rate|int}} games
        </div>
    </div>
    {% endif %}
    <div class="row text-info">
        <label class="col-sm-3">TD+ <i class="fas fa-grip-lines-vertical"></i> TD- <i class="fas fa-grip-lines-vertical"></i> TDD:</label>
        <div class="col-sm-9">
            {{statistics[tv_range].overall.td_for}} <i class="fas fa-grip-lines-vertical"></i> {{statistics[tv_range].overall.td_against}} <i class="fas fa-grip-lines-vertical"></i> {{statistics[tv_range].overall.td_for - statistics[tv_range].overall.td_against}}
        </div>
    </div>

    <span class="d-block p-2 information-block text-white mt-3">
        <ul class="list-inline text-center mb-0">
            <li class="list-inline-item text-info">Win rate: {{statistics[tv_range].overall.win_rate}}%</li>
            <li class="list-inline-item text-muted"><small>::</small></li>
            <li class="list-inline-item text-info">Record: {{statistics[tv_range].overall.win}}-{{statistics[tv_range].overall.draw}}-{{statistics[tv_range].overall.loss}}</li>
            <li class="list-inline-item text-muted"><small>::</small></li>
            <li class="list-inline-item text-info">Matches: {{statistics[tv_range].overall.games_played}}</li>
        </ul>
    </span>
    <div class="table-responsive race_for">
        <table id="overall_{{table_label}}_race_for_{{tv_range}}" class="table table-dark table-hover mb-5 p-0">
            <thead>
            <tr>
                <th onclick="sortTableString(0, 'overall_{{table_label}}_race_for_{{tv_range}}', 'th')" scope="col" class="table-sortable p-1 text-info">Race played</th>
                <th onclick="sortTableNumeric(0, 'overall_{{table_label}}_race_for_{{tv_range}}', 'td')" scope="col" class="text-right table-sortable p-1 text-info">Matches</th>
                <th onclick="sortTableNumeric(1, 'overall_{{table_label}}_race_for_{{tv_range}}', 'td')" scope="col" class="text-right table-sortable p-1 text-info">Win rate(%)</th>
                <th onclick="sortTableNumeric(2, 'overall_{{table_label}}_race_for_{{tv_range}}', 'td')" scope="col" class="text-right table-sortable p-1 text-info">Win</th>
                <th onclick="sortTableNumeric(3, 'overall_{{table_label}}_race_for_{{tv_range}}', 'td')" scope="col" class="text-right table-sortable p-1 text-info">Draw</th>
                <th onclick="sortTableNumeric(4, 'overall_{{table_label}}_race_for_{{tv_range}}', 'td')" scope="col" class="text-right table-sortable p-1 text-info">Loss</th>
            </tr>
            </thead>
            <tbody>
            {% for race in statistics[tv_range].overall.races_for %}
            <tr>
                <th scope="row" class="p-1">{{race.name}}</th>
                <td class="text-right p-1">{{race.games_played}}</td>
                <td {% if race.win_rate > 50 %} class="text-right p-1 text-success" {% else %} class="text-right p-1 text-danger" {% endif %} >{{race.win_rate}}</td>
                <td class="text-right p-1">{{race.win}}</td>
                <td class="text-right p-1">{{race.draw}}</td>
                <td class="text-right p-1">{{race.loss}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="table-responsive race_against">
        <table id="overall_{{table_label}}_races_against_{{tv_range}}" class="table table-dark table-hover mb-5 p-0">
            <thead>
            <tr>
                <th onclick="sortTableString(0, 'overall_{{table_label}}_races_against_{{tv_range}}', 'th')" scope="col" class="table-sortable p-1 text-info">Race against</th>
                <th onclick="sortTableNumeric(0, 'overall_{{table_label}}_races_against_{{tv_range}}', 'td')" scope="col" class="text-right table-sortable p-1 text-info">Matches</th>
                <th onclick="sortTableNumeric(1, 'overall_{{table_label}}_races_against_{{tv_range}}', 'td')" scope="col" class="text-right table-sortable p-1 text-info">Win rate(%)</th>
                <th onclick="sortTableNumeric(2, 'overall_{{table_label}}_races_against_{{tv_range}}', 'td')" scope="col" class="text-right table-sortable p-1 text-info">Win</th>
                <th onclick="sortTableNumeric(3, 'overall_{{table_label}}_races_against_{{tv_range}}', 'td')" scope="col" class="text-right table-sortable p-1 text-info">Draw</th>
                <th onclick="sortTableNumeric(4, 'overall_{{table_label}}_races_against_{{tv_range}}', 'td')" scope="col" class="text-right table-sortable p-1 text-info">Loss</th>
            </tr>
            </thead>
            <tbody>
            {% for race in statistics[tv_range].overall.races_against %}
            <tr>
                <th scope="row" class="p-1">{{race.name}}</th>
                <td class="text-right p-1">{{race.games_played}}</td>
                <td {% if race.win_rate > 50 %} class="text-right p-1 text-success" {% else %} class="text-right p-1 text-danger" {% endif %} >{{race.win_rate}}</td>
                <td class="text-right p-1">{{race.win}}</td>
                <td class="text-right p-1">{{race.draw}}</td>
                <td class="text-right p-1">{{race.loss}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endfor %}
</div>