{% extends "layout.html" %}
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="content-section">
    <div class="d-flex justify-content-between mb-4">
        <h2>
            <img src="{{competition_data.logo}}" class="align-self-center mr-3" style="max-height:70px;">
            {{competition_data.name}}
        </h2>
    </div>
    <form method="POST" action="" onsubmit="before_submit()">
        {{ form.csrf_token }}
        {{ form.competition_id }}
        {{ form.platform_id }}
        {% if competition_data.format in ["round_robin", "swiss"] %}
        {{ form.teams_id }}
        {% endif %}
        <div class="form-group" style="min-width:200px;">
            {{ form.status.label(class="form-control-label") }}
            {{ form.status(class="form-control") }}
        </div>
        {% if competition_data.format in ["round_robin", "swiss"] %}
        <div class="row mb-3">
            <div class="col form-group" style="min-width:200px;">
                {{ form.standing_source.label(class="form-control-label mb-0") }} <i class="fas fa-question-circle help_ico" data-toggle="modal" data-target="#modal_help_standing_source"></i>
                {{ form.standing_source(class="form-control form-control-lg mt-1") }}
            </div>
            <div class="col form-group" id="point_system_div" style="min-width:200px;">
                {{ form.point_system.label(class="form-control-label mb-0") }} <i class="fas fa-question-circle help_ico" data-toggle="modal" data-target="#modal_help_sorting_method"></i>
                {{ form.point_system(class="form-control form-control-lg mt-1") }}
            </div>
        </div>
        <div class="row mb-3" id="points_value">
            <div class="col form-group" style="min-width:200px;">
                {{ form.win_point.label(class="form-control-label mb-0") }}
                {{ form.win_point(class="form-control form-control-lg mt-1", type="number") }}
            </div>
            <div class="col form-group" style="min-width:200px;">
                {{ form.draw_point.label(class="form-control-label mb-0") }}
                {{ form.draw_point(class="form-control form-control-lg mt-1", type="number") }}
            </div>
            <div class="col form-group" style="min-width:200px;">
                {{ form.loss_point.label(class="form-control-label mb-0") }}
                {{ form.loss_point(class="form-control form-control-lg mt-1", type="number") }}
            </div>
        </div>
        <div class="row mb-3" id="tie_breaker">
            <div class="col form-group">
                {{ form.tie_breaker1.label(class="form-control-label mb-0") }} <i class="fas fa-question-circle help_ico" data-toggle="modal" data-target="#modal_help_tie_breakers"></i>
                {{ form.tie_breaker1(class="form-control form-control-lg mt-1") }}
            </div>
            <div class="col form-group">
                {{ form.tie_breaker2.label(class="form-control-label mb-0") }} <i class="fas fa-question-circle help_ico" data-toggle="modal" data-target="#modal_help_tie_breakers"></i>
                {{ form.tie_breaker2(class="form-control form-control-lg mt-1") }}
            </div>
            <div class="col form-group">
                {{ form.tie_breaker3.label(class="form-control-label mb-0") }} <i class="fas fa-question-circle help_ico" data-toggle="modal" data-target="#modal_help_tie_breakers"></i>
                {{ form.tie_breaker3(class="form-control form-control-lg mt-1") }}
            </div>
            <div class="col form-group">
                {{ form.tie_breaker4.label(class="form-control-label mb-0") }} <i class="fas fa-question-circle help_ico" data-toggle="modal" data-target="#modal_help_tie_breakers"></i>
                {{ form.tie_breaker4(class="form-control form-control-lg mt-1") }}
            </div>
            <div class="col form-group">
                {{ form.tie_breaker5.label(class="form-control-label mb-0") }} <i class="fas fa-question-circle help_ico" data-toggle="modal" data-target="#modal_help_tie_breakers"></i>
                {{ form.tie_breaker5(class="form-control form-control-lg mt-1") }}
            </div>
        </div>

        <div id="admin_standing">
            <h3>Admin standing</h3>
            <p>All values defined in this table are added/removed on final standing, you can't define total number of points, win, touchdown, etc but you can define a value to add or remove for each field.</p>
            <table class="table table-dark">
                <thead>
                <tr>
                    <th scope="col">Hide</th>
                    <th scope="col">Team</th>
                    <th scope="col">Points</th>
                    <th scope="col">Win</th>
                    <th scope="col">Draw</th>
                    <th scope="col">Loss</th>
                    <th scope="col">Td+</th>
                    <th scope="col">Td-</th>
                    <th scope="col">Cas+</th>
                    <th scope="col">Cas-</th>
                    <th scope="col">Ext.TieB</th>
                </tr>
                </thead>
                <tbody>
                {% for team in teams_form %}
                <tr>
                    <td scope="row">{{ team.hide_team(class="form-control form-control-lg w-50 p-3") }}</td>
                    <td>
                        <div class="media">
                            <img src="static/spike_resources/img/logos/Logo_{{team.team_logo}}.png" class="align-self-center mr-3" style="max-height:40px;">
                            <div class="media-body">
                                {{team.team_name}}
                                <div class="text-muted"><small>{{team.coach}}</small></div>
                            </div>
                        </div>
                    </td>
                    <td>{{ team.point(class="form-control form-control-lg p-1", type="number") }}</td>
                    <td>{{ team.win(class="form-control form-control-lg p-1", type="number") }}</td>
                    <td>{{ team.draw(class="form-control form-control-lg p-1", type="number") }}</td>
                    <td>{{ team.loss(class="form-control form-control-lg p-1", type="number") }}</td>
                    <td>{{ team.td_for(class="form-control form-control-lg p-1", type="number") }}</td>
                    <td>{{ team.td_against(class="form-control form-control-lg p-1", type="number") }}</td>
                    <td>{{ team.casualties_inflicted(class="form-control form-control-lg p-1", type="number") }}</td>
                    <td>{{ team.casualties_sustained(class="form-control form-control-lg p-1", type="number") }}</td>
                    <td>{{ team.external_tie_breaker(class="form-control form-control-lg p-1", type="number") }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        <div class="text-center mt-3">
            {{ form.submit(class="btn btn-outline-success", id="sub_button") }}
        </div>
    </form>


    {% if competition_data.format in ["round_robin", "swiss"] %}
    <!-- Help Modals -->
    <div class="modal fade" id="modal_help_standing_source" tabindex="-1" role="dialog" aria-labelledby="modal_help_standing_source_label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal_help_standing_source_label">Standing source</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Allow you to define the source of data used to compute the standing</p>
                    <dl class="row">
                        <dt class="col-sm-4">Spike</dt>
                        <dd class="col-sm-8">Use spike bot data to compute standing and get competitions fixtures</dd>
                        <dt class="col-sm-4">Blood Bowl 2</dt>
                        <dd class="col-sm-8">Use ingame standing without any modification</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal_help_sorting_method" tabindex="-1" role="dialog" aria-labelledby="modal_help_sorting_method_label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal_help_sorting_method_label">Standing source</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>The sorting method define how the standing will be calculated, based on points with tie breaker or cyanide rank.</p>
                    <dl class="row">
                        <dt class="col-sm-3">Custom</dt>
                        <dd class="col-sm-9">Define number of point for win, draw, loss and tie breakers you want.</dd>
                        <dt class="col-sm-3">Rank</dt>
                        <dd class="col-sm-9">Compute standing based on <a href="https://forums.focus-home.com/topic/466/the-champions-ladder-ranking-formula" class="link" target="_blank">cyanide rank</a> formula.</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal_help_tie_breakers" tabindex="-1" role="dialog" aria-labelledby="modal_help_tie_breakers_label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal_help_tie_breakers_label">Standing source</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Tie breakers are used from number 1 to 5 in order to compute teams rank</p>
                    <dl class="row">
                        <dt class="col-sm-5">Touchdown</dt>
                        <dd class="col-sm-7">Number of touchdown scored by a team.</dd>
                        <dt class="col-sm-5">Touchdown difference</dt>
                        <dd class="col-sm-7">Difference between touchdown for and against a team.</dd>
                        <dt class="col-sm-5">Casualties</dt>
                        <dd class="col-sm-7">Number of casualties inflicted by a team.</dd>
                        <dt class="col-sm-5">Casualties difference</dt>
                        <dd class="col-sm-7">Difference between casualties inflicted ans sustained.</dd>
                        <dt class="col-sm-5">Number of kills</dt>
                        <dd class="col-sm-7">Number of kills inflicted by a team.</dd>
                        <dt class="col-sm-5">Coleman Waldorf</dt>
                        <dd class="col-sm-7">Casualties inflicted / 2 + touchdown scored.</dd>
                        <dt class="col-sm-5">Coleman Waldorf 2</dt>
                        <dd class="col-sm-7">Casualties difference / 2 + touchdown difference.</dd>
                        <dt class="col-sm-5">Coleman Waldorf 3</dt>
                        <dd class="col-sm-7">Casualties difference + touchdown difference.</dd>
                        <dt class="col-sm-5">Number of wins</dt>
                        <dd class="col-sm-7">Number of match win by a team.</dd>
                        <dt class="col-sm-5">Head to head</dt>
                        <dd class="col-sm-7">Direct confrontation used to decide between two teams.</dd>
                        <dt class="col-sm-5">External tie breaker</dt>
                        <dd class="col-sm-7">The external tie breaker is define manually by admin in order to allow you to create your own tie breaker and apply it into spike</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>

{% if competition_data.format in ["round_robin", "swiss"] %}
<script type="text/javascript" src="{{ url_for('static', filename='scripts/competition_admin.js') }}"></script>
{% endif %}

<script>
function before_submit() {
    sub_button.disabled = true;
    return true;
}
</script>
{% endblock content %}
