{% extends "layout.html" %}
{% block content %}
<!-- completion item -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/competition.css') }}">

<div class="content-section">
    <div class="d-flex justify-content-center">
        <img src="{{competition_data.logo}}" style="height:70px">
    </div>
    <div class="d-flex justify-content-center text-center">
        <h2>{{competition_data.name}}</h2>
    </div>
    <div class="text-muted text-center mb-3">
        <a href="/league?league={{ league_data.id }}&platform={{ league_data.platform_id}}" class="link">{{league_data.name}}</a>
    </div>

    {% if not is_cabalvision %}
    <a href="/competition_stat?competition={{ competition_data.id }}&platform={{ league_data.platform_id}}" class="link-white"> {{competition_data.name}} Statistics</a>
    {% elif competition_data.format == 'ladder' %}
    <a href="/competition_top_races?competition={{ competition_data.id }}&platform={{ league_data.platform_id}}" class="link-white">Top 10 by races</a>
    <div class="d-flex justify-content-end mt-3">
        <div class="row">
            <div class="col" style="width:100px;">
                <label for="win" class="form-control-label">Win:</label>
                <input class="form-control" type="number" id="win" name="win" min="0" max="1000" value="0" onchange="compute_rank()">
            </div>
            <div class="col" style="width:100px;">
                <label for="draw" class="form-control-label">Draw:</label>
                <input class="form-control" type="number" id="draw" name="draw" min="0" max="1000" value="0" onchange="compute_rank()">
            </div>
            <div class="col " style="width:100px;">
                <label for="loss" class="form-control-label">Loss:</label>
                <input class="form-control" type="number" id="loss" name="loss" min="0" max="1000" value="0" onchange="compute_rank()">
            </div>
            <div class="col " style="width:100px;">
                <label for="rank" class="form-control-label">Rank</label>
                <p class="mt-2" id="rank">0</p>
            </div>
        </div>
    </div>
    {% endif %}
    <span class="d-block p-2 information-block mt-3">
        <ul class="list-inline text-center mb-0">
            <li class="list-inline-item">
                {% if competition_data.platform_id == 1 %}
                <i class="fas fa-desktop desktop-color" data-toggle="tooltip" data-placement="bottom" title="Blood Bowl 2 Desktop"></i>
                {% elif competition_data.platform_id == 2 %}
                <i class="fab fa-playstation playstation-color" data-toggle="tooltip" data-placement="bottom" title="Blood Bowl 2 Playstation 4"></i>
                {% elif competition_data.platform_id == 3 %}
                <i class="fab fa-xbox xbox-color" data-toggle="tooltip" data-placement="bottom" title="Blood Bowl 2 Xbox one"></i>
                {% endif %}
            </li>
            <li class="list-inline-item text-muted">::</li>

            <li class="list-inline-item text-info">Format: {{ competition_data.label_format }}</li>

            {% if competition_data.format != "ladder" %}
            <li class="list-inline-item text-muted">::</li>
            <li class="list-inline-item text-info">Round: {{ competition_data.round }}/{{ competition_data.rounds_count }}</li>
            <li class="list-inline-item text-muted">::</li>
            <li class="list-inline-item text-info">Teams: {{ competition_data.teams_count }}/{{ competition_data.teams_max }}</li>
            {% else %}
            <li class="list-inline-item text-muted">::</li>
            <li class="list-inline-item text-info">Teams: {{ competition_data.teams_count }}</li>
            {% endif %}

            {% if competition_data.turn_duration %}
            <li class="list-inline-item text-muted">::</li>
            <li class="list-inline-item text-info">Turn: {{ competition_data.turn_duration + 1}} min</li>
            {% endif %}

            {% if competition_data.format == "round_robin" or competition_data.format == "swiss" %}
            <li class="list-inline-item text-muted">::</li>
            <li class="list-inline-item text-info">Point system: {{ point_system }}</li>
            {% endif %}

            {% if display_admin %}
            <li class="list-inline-item text-muted">::</li>
            <li class="list-inline-item text-muted">
                <a href="/admin_competition?competition_id={{ competition_data.id }}&platform={{ competition_data.platform_id}}" class="link-white" data-toggle="tooltip" data-placement="bottom" title="League settings">
                    <i class="fas fa-cogs"></i>
                </a>
            </li>

            {% if is_cabalvision and competition_data.format == "ladder" %}
            <li class="list-inline-item text-muted">::</li>
            <li class="list-inline-item text-muted">
                <a href="/ranked_concede?competition_id={{ competition_data.id }}&platform={{ competition_data.platform_id}}" class="link-white" data-toggle="tooltip" data-placement="bottom" title="Concede list">
                    <i class="fas fa-ban"></i>
                </a>
            </li>
            {% endif %}

            {% endif %}
        </ul>
    </span>
    {% block competition_view %}{% endblock %}
</div>

{% endblock content %}
