{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <legend class="border-bottom mb-4">
        <div class="d-flex justify-content-between">
            <div class="media">
                <img src="{{competition_data.logo}}" class="align-self-center mr-3" style="max-height:70px;">
                <div class="media-body">
                    <div>
                        Hall of Fame
                    </div>
                    <div class="text-muted"><small>
                        <a href="/competition?competition={{ competition_data.id }}&platform={{ competition_data.platform_id}}" class="link">{{competition_data.name}}</a></small>
                    </div>
                </div>
            </div>
        </div>
    </legend>
    {% if impact_players %}
    <h3>Impact Players</h3>
    <table class="table table-dark table-hover">
        <thead>
        <tr>
            <th scope="col" class="text-center">#</th>
            <th scope="col">Name</th>
            <th scope="col">Team</th>
            <th scope="col">Points</th>
            <th scope="col">Blk</th>
            <th scope="col">Cas</th>
            <th scope="col">Kills</th>
            <th scope="col">Surf</th>
            <th scope="col">TD</th>
        </tr>
        </thead>
        <tbody>
        {% for player in impact_players %}
        <tr>
            <th scope="row" class="text-center">
                {% if loop.index == 1 %}
                <img class="p-0" src="static/spike_resources/img/misc/CabalGold.png" style="height:35px;"/>
                {% elif loop.index == 2 %}
                <img class="p-0" src="static/spike_resources/img/misc/CabalSilver.png" style="height:35px;"/>
                {% elif loop.index == 3 %}
                <img class="p-0" src="static/spike_resources/img/misc/CabalBronze.png" style="height:35px;"/>
                {% else %}
                {{ loop.index }}
                {% endif %}
            </th>
            <td>
                <div class="media">
                    <img src="static/spike_resources/img/pictos/{{player.race}}.png" class="align-self-center mr-3" style="max-height:40px;">
                    <div class="media-body">
                        {{ player.name }}
                        <div class="text-muted"><small>{{ player.type }}</small></div>
                    </div>
                </div>
            </td>
            <td>
                <div class="media">
                    <img src="static/spike_resources/img/logos/Logo_{{ player.team_logo}}.png" class="align-self-center mr-3" style="max-height:40px;">
                    <div class="media-body">
                        {{ player.team_name }}
                        <div class="text-muted"><small>{{ player.coach_name }}</small></div>
                    </div>
                </div>
            </td>
            <td>{{player.points}}</td>
            <td>{{player.data.Blocks}}</td>
            <td>{{player.data.Casualties}}</td>
            <td>{{player.data.Kills}}</td>
            <td>{{player.data.Surfs}}</td>
            <td>{{player.data.Touchdowns}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="mb-3"></div>
    {% endif %}


    {% if top_scorer %}
    <h3>Top Scorer</h3>
    <table class="table table-dark table-hover">
        <thead>
        <tr>
            <th scope="col" class="text-center">#</th>
            <th scope="col">Name</th>
            <th scope="col">Team</th>
            <th scope="col">Touchdowns</th>
        </tr>
        </thead>
        <tbody>
        {% for player in top_scorer %}
        <tr>
            <th scope="row" class="text-center">
                {% if loop.index == 1 %}
                <img class="p-0" src="static/spike_resources/img/misc/CabalGold.png" style="height:35px;"/>
                {% elif loop.index == 2 %}
                <img class="p-0" src="static/spike_resources/img/misc/CabalSilver.png" style="height:35px;"/>
                {% elif loop.index == 3 %}
                <img class="p-0" src="static/spike_resources/img/misc/CabalBronze.png" style="height:35px;"/>
                {% else %}
                {{ loop.index }}
                {% endif %}
            </th>
            <td>
                <div class="media">
                    <img src="static/spike_resources/img/pictos/{{player.race}}.png" class="align-self-center mr-3" style="max-height:40px;">
                    <div class="media-body">
                        {{ player.name }}
                        <div class="text-muted"><small>{{ player.type }}</small></div>
                    </div>
                </div>
            </td>
            <td>
                <div class="media">
                    <img src="static/spike_resources/img/logos/Logo_{{ player.team_logo}}.png" class="align-self-center mr-3" style="max-height:40px;">
                    <div class="media-body">
                        {{ player.team_name }}
                        <div class="text-muted"><small>{{ player.coach_name }}</small></div>
                    </div>
                </div>
            </td>
            <td>{{player.data.Touchdowns}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="mb-3"></div>
    {% endif %}

    {% if top_blocker %}
    <h3>Top Blocker</h3>
    <table class="table table-dark table-hover">
        <thead>
        <tr>
            <th scope="col" class="text-center">#</th>
            <th scope="col">Name</th>
            <th scope="col">Team</th>
            <th scope="col">Blocks</th>
        </tr>
        </thead>
        <tbody>
        {% for player in top_blocker %}
        <tr>
            <th scope="row" class="text-center">
                {% if loop.index == 1 %}
                <img class="p-0" src="static/spike_resources/img/misc/CabalGold.png" style="height:35px;"/>
                {% elif loop.index == 2 %}
                <img class="p-0" src="static/spike_resources/img/misc/CabalSilver.png" style="height:35px;"/>
                {% elif loop.index == 3 %}
                <img class="p-0" src="static/spike_resources/img/misc/CabalBronze.png" style="height:35px;"/>
                {% else %}
                {{ loop.index }}
                {% endif %}
            </th>
            <td>
                <div class="media">
                    <img src="static/spike_resources/img/pictos/{{player.race}}.png" class="align-self-center mr-3" style="max-height:40px;">
                    <div class="media-body">
                        {{ player.name }}
                        <div class="text-muted"><small>{{ player.type }}</small></div>
                    </div>
                </div>
            </td>
            <td>
                <div class="media">
                    <img src="static/spike_resources/img/logos/Logo_{{ player.team_logo}}.png" class="align-self-center mr-3" style="max-height:40px;">
                    <div class="media-body">
                        {{ player.team_name }}
                        <div class="text-muted"><small>{{ player.coach_name }}</small></div>
                    </div>
                </div>
            </td>
            <td>{{player.data.Blocks}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="mb-3"></div>
    {% endif %}

    {% if top_killer %}
    <h3>Top Killer</h3>
    <table class="table table-dark table-hover">
        <thead>
        <tr>
            <th scope="col" class="text-center">#</th>
            <th scope="col">Name</th>
            <th scope="col">Team</th>
            <th scope="col">Kills</th>
        </tr>
        </thead>
        <tbody>
        {% for player in top_killer %}
        <tr>
            <th scope="row" class="text-center">
                {% if loop.index == 1 %}
                <img class="p-0" src="static/spike_resources/img/misc/CabalGold.png" style="height:35px;"/>
                {% elif loop.index == 2 %}
                <img class="p-0" src="static/spike_resources/img/misc/CabalSilver.png" style="height:35px;"/>
                {% elif loop.index == 3 %}
                <img class="p-0" src="static/spike_resources/img/misc/CabalBronze.png" style="height:35px;"/>
                {% else %}
                {{ loop.index }}
                {% endif %}
            </th>
            <td>
                <div class="media">
                    <img src="static/spike_resources/img/pictos/{{player.race}}.png" class="align-self-center mr-3" style="max-height:40px;">
                    <div class="media-body">
                        {{ player.name }}
                        <div class="text-muted"><small>{{ player.type }}</small></div>
                    </div>
                </div>
            </td>
            <td>
                <div class="media">
                    <img src="static/spike_resources/img/logos/Logo_{{ player.team_logo}}.png" class="align-self-center mr-3" style="max-height:40px;">
                    <div class="media-body">
                        {{ player.team_name }}
                        <div class="text-muted"><small>{{ player.coach_name }}</small></div>
                    </div>
                </div>
            </td>
            <td>{{player.data.Kills}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="mb-3"></div>
    {% endif %}

    {% if most_violent %}
    <h3>Most violent</h3>
    <table class="table table-dark table-hover">
        <thead>
        <tr>
            <th scope="col" class="text-center">#</th>
            <th scope="col">Name</th>
            <th scope="col">Team</th>
            <th scope="col">Casualties</th>
        </tr>
        </thead>
        <tbody>
        {% for player in most_violent %}
        <tr>
            <th scope="row" class="text-center">
                {% if loop.index == 1 %}
                <img class="p-0" src="static/spike_resources/img/misc/CabalGold.png" style="height:35px;"/>
                {% elif loop.index == 2 %}
                <img class="p-0" src="static/spike_resources/img/misc/CabalSilver.png" style="height:35px;"/>
                {% elif loop.index == 3 %}
                <img class="p-0" src="static/spike_resources/img/misc/CabalBronze.png" style="height:35px;"/>
                {% else %}
                {{ loop.index }}
                {% endif %}
            </th>
            <td>
                <div class="media">
                    <img src="static/spike_resources/img/pictos/{{player.race}}.png" class="align-self-center mr-3" style="max-height:40px;">
                    <div class="media-body">
                        {{ player.name }}
                        <div class="text-muted"><small>{{ player.type }}</small></div>
                    </div>
                </div>
            </td>
            <td>
                <div class="media">
                    <img src="static/spike_resources/img/logos/Logo_{{ player.team_logo}}.png" class="align-self-center mr-3" style="max-height:40px;">
                    <div class="media-body">
                        {{ player.team_name }}
                        <div class="text-muted"><small>{{ player.coach_name }}</small></div>
                    </div>
                </div>
            </td>
            <td>{{player.data.Casualties}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="mb-3"></div>
    {% endif %}


    {% if top_surfer %}
    <h3>Top surfer</h3>
    <table class="table table-dark table-hover">
        <thead>
        <tr>
            <th scope="col" class="text-center">#</th>
            <th scope="col">Name</th>
            <th scope="col">Team</th>
            <th scope="col">Surfs</th>
        </tr>
        </thead>
        <tbody>
        {% for player in top_surfer %}
        <tr>
            <th scope="row" class="text-center">
                {% if loop.index == 1 %}
                <img class="p-0" src="static/spike_resources/img/misc/CabalGold.png" style="height:35px;"/>
                {% elif loop.index == 2 %}
                <img class="p-0" src="static/spike_resources/img/misc/CabalSilver.png" style="height:35px;"/>
                {% elif loop.index == 3 %}
                <img class="p-0" src="static/spike_resources/img/misc/CabalBronze.png" style="height:35px;"/>
                {% else %}
                {{ loop.index }}
                {% endif %}
            </th>
            <td>
                <div class="media">
                    <img src="static/spike_resources/img/pictos/{{player.race}}.png" class="align-self-center mr-3" style="max-height:40px;">
                    <div class="media-body">
                        {{ player.name }}
                        <div class="text-muted"><small>{{ player.type }}</small></div>
                    </div>
                </div>
            </td>
            <td>
                <div class="media">
                    <img src="static/spike_resources/img/logos/Logo_{{ player.team_logo}}.png" class="align-self-center mr-3" style="max-height:40px;">
                    <div class="media-body">
                        {{ player.team_name }}
                        <div class="text-muted"><small>{{ player.coach_name }}</small></div>
                    </div>
                </div>
            </td>
            <td>{{player.data.Surfs}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="mb-3"></div>
    {% endif %}

</div>
{% endblock content %}
