<div class="d-flex bd-highlight">
    <div class="d-flex flex-column bd-highlight flex-grow-1">
        <div class="bd-highlight">
            {% if contest_data.team_home.team_name != 'None' %}
            <div class="media ml-2">
                <img src="static/spike_resources/img/logos/Logo_{{ contest_data.team_home.team_logo }}.png" style="height: 50px">
                <div class="media-body ml-2">
                    <div class="mt-0">
                        <a href="/team?team_id={{contest_data.team_home.team_id}}&platform={{contest_data.platform_id}}"
                           class="link-white {% if 'score' in contest_data.team_home %} {% if contest_data.team_home.score > contest_data.team_away.score %} text-success font-weight-bold {% else %} text-danger {% endif %} {% endif %}">
                            {{ contest_data.team_home.team_name }}
                        </a>
                    </div>
                    <div>
                        <a href="/coach?coach_id={{ contest_data.team_home.coach_id}}&platform_id={{ contest_data.platform_id }}" class="link text-info text-capitalize">
                            {{ contest_data.team_home.coach_name }}
                        </a>
                    </div>
                    <div class="text-info">{{ contest_data.team_home.race }}</div>
                    <div class="text-info">{{ contest_data.team_home.team_value }}</div>
                </div>
            </div>
            {% else %}
            -
            {% endif %}
        </div>

        <div class="bd-highlight">
            <span class="d-block information-block text-white">
                <ul class="list-inline text-center">
                    {% if contest_data.date %}
                    <li class="list-inline-item"><i class="far fa-calendar-alt"></i> {{contest_data.date}}</li>
                    {% endif %}

                    {% if contest_data.caster %}
                    <li class="list-inline-item">::</li>
                    <li class="list-inline-item">
                        <a href="{{contest_data.caster}}" rel="noopener" target="_blank" class="link">
                            {% if 'twitch' in contest_data.caster %}
                            <i class="fab fa-twitch twitch-color"></i>
                            {% elif 'youtube' in contest_data.caster %}
                            <i class="fab fa-youtube youtube-color"></i>
                            {% else %}
                            <i class="fas fa-tv text-light"></i>
                            {% endif %}
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </span>
        </div>

        <div class="bd-highlight">
            {% if contest_data.team_away.team_name != 'None' %}
            <div class="media ml-2">
                <img src="static/spike_resources/img/logos/Logo_{{ contest_data.team_away.team_logo }}.png" style="height:50px;">
                <div class="media-body ml-2">
                    <div class="mt-0">
                        <a href="/team?team_id={{contest_data.team_away.team_id}}&platform={{contest_data.platform_id}}"
                           class="link-white {% if 'score' in contest_data.team_away %} {% if contest_data.team_away.score > contest_data.team_home.score %} text-success font-weight-bold {% else %} text-danger {% endif %} {% endif %}">
                            {{ contest_data.team_away.team_name }}
                        </a>
                    </div>
                    <div>
                        <a href="/coach?coach_id={{ contest_data.team_away.coach_id}}&platform_id={{ contest_data.platform_id }}" class="link text-info text-capitalize">{{ contest_data.team_away.coach_name }}</a>
                    </div>
                    <div class="text-info">{{ contest_data.team_away.race }}</div>
                    <div class="text-info">{{ contest_data.team_away.team_value }}</div>
                </div>
            </div>
            {% else %}
            -
            {% endif %}
        </div>
    </div>

    <div class="d-flex flex-column bd-highlight mr-1 ml-1" {% if contest_data.match_uuid %} onclick="location.href='/match?match_uuid={{contest_data.match_uuid[0]}}';" style="cursor: pointer;" {% endif %}>
        <div class="d-flex align-items-center h-100">
            {% if 'score' in contest_data.team_home %}
            <h1 class="{% if 'score' in contest_data.team_home %} {% if contest_data.team_home.score > contest_data.team_away.score %} text-success font-weight-bold {% else %} text-danger {% endif %} {% endif %}">
                {{  contest_data.team_home.score }}
            </h1>
            {% elif contest_data.odds and contest_data.odds.home_win and contest_data.team_home.team_logo %}
            <h1 class="text-info" data-toggle="tooltip" data-placement="bottom" title="Home win odds">
                {{contest_data.odds.home_win}}
            </h1>
            {% else %}
            -
            {% endif %}
        </div>

        {% if contest_data.odds and contest_data.format != 'single_elimination' %}
        <h1 class="text-info" data-toggle="tooltip" data-placement="bottom" title="Draw odds">
            {{contest_data.odds.draw}}
        </h1>
        {% endif %}

        <div class="d-flex align-items-center h-100">
            {% if 'score' in contest_data.team_away %}
            <h1 class="{% if 'score' in contest_data.team_away %} {% if contest_data.team_away.score > contest_data.team_home.score %} text-success font-weight-bold {% else %} text-danger {% endif %} {% endif %}">
                {{  contest_data.team_away.score }}
            </h1>
            {% elif contest_data.odds and contest_data.odds.away_win and contest_data.team_away.team_logo%}
            <h1 class="text-info" data-toggle="tooltip" data-placement="bottom" title="Away win odds">
                {{contest_data.odds.away_win}}
            </h1>
            {% else %}
            -
            {% endif %}
        </div>
    </div>
</div>
