{% extends "competitions/competition_layout.html" %}
{% block competition_view %}
<table class="table table-dark table-hover">
    <thead>
    <tr>
        <th scope="col" class="p-1">#</th>
        <th scope="col" class="p-1">Team</th>
        <th scope="col" class="p-1">Race</th>
        <th scope="col" class="p-1">Rank</th>
        {% if is_cabalvision %}
        <th scope="col" class="p-1 text-center" data-toggle="tooltip" data-placement="bottom" title="Win behind first in race">WBF</th>
        <th scope="col" class="p-1 text-center">TV</th>
        {% endif%}
        <th scope="col" class="p-1 text-center">Games</th>
        <th scope="col" class="p-1 text-center">W</th>
        <th scope="col" class="p-1 text-center">D</th>
        <th scope="col" class="p-1 text-center">L</th>

        {% if not is_cabalvision %}
        <th scope="col" class="p-1 text-center">TD+</th>
        <th scope="col" class="p-1 text-center">TD-</th>
        <th scope="col" class="p-1 text-center">TDD</th>

        <th scope="col" class="p-1 text-center">Cas+</th>
        <th scope="col" class="p-1 text-center">Cas-</th>
        <th scope="col" class="p-1 text-center">CasD</th>
        {% endif%}
    </tr>
    </thead>
    <tbody>
    {% for team in standing %}
    <tr>
        <th scope="row" class="p-1">{{team.rank}}</th>
        <td class="p-1">
            <div class="media">
                <img src="static/spike_resources/img/logos/Logo_{{team.logo}}.png" class="align-self-center mr-3" style="max-height:40px;">
                <div class="media-body">
                    {% if team.team_id and competition_data.platform_id %}
                    <a href="/team?team_id={{team.team_id}}&platform={{competition_data.platform_id}}" class="link-white">{{team.team_name}}</a>
                    {% else %}
                    {{team.team_name}}
                    {% endif %}
                    <div class="text-muted">
                        <small>
                            {% if team.coach_id and competition_data.platform_id %}
                            <a href="/coach?coach_id={{team.coach_id}}&platform_id={{competition_data.platform_id}}" class="link">{{ team.coach_name }}</a>
                            {% else %}
                            {{team.coach_name}}
                            {% endif %}
                        </small>
                    </div>
                </div>
            </div>
        </td>
        <td class="p-1"><img src="static/spike_resources/img/pictos/{{team.race}}.png" class="align-self-center mr-3" style="max-height:45px;" alt="{{team.race}}" data-toggle="tooltip" data-placement="bottom" title="{{team.race}}"></td>
        {%if is_cabalvision %}
        <td class="p-1" data-toggle="tooltip" data-placement="bottom" title="Win: {{ team.rank_win }}&#013;Draw: {{ team.rank_draw }}&#013;Loss: {{ team.rank_loss }}">{{team.sort}}</td>
        {% else %}
        <td class="p-1">{{team.sort}}</td>
        {% endif%}
        {% if is_cabalvision %}
        <td class="p-1 text-center">{{team.win_behind_first}}</td>
        <td class="p-1 text-center">{{team.value}}</td>
        {% endif%}
        <td class="p-1 text-center">{{team.games_played}}</td>
        <td class="p-1 text-center">{{team.win}}</td>
        <td class="p-1 text-center">{{team.draw}}</td>
        <td class="p-1 text-center">{{team.loss}}</td>

        {%if not is_cabalvision %}
        <td class="p-1 text-center">{{team.td_for}}</td>
        <td class="p-1 text-center">{{team.td_against}}</td>
        <td class="p-1 text-center">{{team.tdd}}</td>

        <td class="p-1 text-center">{{team.casualties_inflicted}}</td>
        <td class="p-1 text-center">{{team.casualties_sustained}}</td>
        <td class="p-1 text-center">{{team.casualties_inflicted|int - team.casualties_sustained|int}}</td>
        {% endif%}
    </tr>
    {% endfor %}
    </tbody>
</table>

<script type="text/javascript" src="{{ url_for('static', filename='scripts/competition.js') }}"></script>
{% endblock competition_view %}