{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <legend class="border-bottom mb-4">
        <div class="d-flex justify-content-between">
            <div class="media">
                <img src="{{competition_data.logo}}" class="align-self-center mr-3" style="max-height:70px;">
                <div class="media-body">
                    <div>
                        Concession list
                    </div>
                    <div class="text-muted"><small>
                        <a href="/competition?competition={{ competition_data.id }}&platform={{ competition_data.platform_id}}" class="link">{{competition_data.name}}</a></small>
                        <img src="static/spike_resources/img/platform/{{competition_data.platform}}.png" style="height:20px">
                    </div>
                </div>
            </div>
        </div>
    </legend>

    <h3>Active coach</h3>

    <table class="table table-sm table-dark">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Concede</th>
        </tr>
        </thead>
        <tbody>
        {% for coach in competition_data.active_ban %}
        <tr>
            <th scope="row">{{loop.index}}</th>
            <td>{{coach.coach_id}}</td>
            <td>{{coach.coach_name}}</td>
            <td>{{coach.number}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>ID list</h3>
    <p>
        {% for coach in competition_data.active_ban %}
        {{coach.coach_id}}{{ "," if not loop.last }}
        {% endfor %}
    </p>





</div>
{% endblock content %}
