{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <div class="d-flex justify-content-center">
        <img src="{{ url_for('static', filename='spike_resources/img/misc/ChampionCup.png')}}" class="align-self-center mr-3" style="max-height:70px;">
    </div>
    <h1 class="text-center">Champion cup prediction</h1>
    <div class="text-muted text-center mb-3">
        <a href="/competition?competition={{ competition_data.id }}&platform={{ competition_data.platform_id}}" class="link">{{competition_data.name}}</a>
    </div>

    <p class="mb-3 text-justify">Prediction for {{competition_data.name}} playoffs, the final list could be different as a coach can have multiple team qualified and not necessary pick his best
        ranked team or top in race. This is a prediction and not the official team list for playoffs.</p>

    <div class="table-responsive mt-3">
        <table class="table table-dark mb-5 p-0s">
            <thead>
            <tr>
                {% for race in race_breakdown %}
                <th scope="col" class="p-0 text-center"><img src="static/spike_resources/img/pictos/{{race.name}}.png" class="align-self-center" style="max-height:45px;" alt="{{race.name}}" data-toggle="tooltip" data-placement="bottom" title="{{race.name}}"></th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            <tr>
                {% for race in race_breakdown %}
                <th scope="col" class="p-0 pt-1 text-center">{{race.number}}</th>
                {% endfor %}
            </tr>
            <tr>
                {% for race in race_breakdown %}
                {% if race.number > 1 %}
                <th scope="col" class="p-0 pt-1 text-center">{{race.max_rank}}</th>
                {% else %}
                <th scope="col" class="p-0 pt-1 text-center align-middle" rowspan="2" >{{race.max_rank}}</th>
                {% endif %}
                {% endfor %}
            </tr>
            <tr>
                {% for race in race_breakdown %}
                {% if race.number > 1 %}
                <th scope="col" class="p-0 pt-1 text-center">{{race.min_rank}}</th>
                {% endif %}
                {% endfor %}
            </tr>
            </tbody>
        </table>
    </div>

    <div class="table-responsive">
        <table class="table table-dark table-hover mb-5">
            <thead>
            <tr>
                <th scope="col" class="p-1">#</th>
                <th scope="col" class="p-1">Team</th>
                <th scope="col" class="p-1">Race</th>
                <th scope="col" class="p-1">Rank</th>
                <th scope="col" class="p-1 text-center optional-element">TV</th>
                <th scope="col" class="p-1 text-center">Games</th>
                <th scope="col" class="p-1 text-center">W</th>
                <th scope="col" class="p-1 text-center">D</th>
                <th scope="col" class="p-1 text-center">L</th>
            </tr>
            </thead>
            <tbody>
            {% for team in team_list %}
            <tr>
                <th scope="row" class="p-1">{{loop.index}}</th>
                <td class="p-1">
                    <div class="media">
                        <img src="static/spike_resources/img/logos/Logo_{{team.logo}}.png" class="align-self-center mr-3 optional-element" style="max-height:40px;">
                        <div class="media-body">
                            <a href="/team?team_id={{team.team_id}}&platform={{competition_data.platform_id}}" class="link-white">{{team.team_name}}</a>
                            <div class="text-muted">
                                <small>
                                    <a href="/coach?coach_id={{team.coach_id}}&platform_id={{competition_data.platform_id}}" class="link">{{ team.coach_name }}</a>
                                </small>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="p-1"><img src="static/spike_resources/img/pictos/{{team.race}}.png" class="align-self-center mr-3" style="max-height:45px;" alt="{{team.race}}" data-toggle="tooltip" data-placement="bottom" title="{{team.race}}"></td>
                <td class="p-1" data-toggle="tooltip" data-placement="bottom" title="Win: {{ team.rank_win }}&#013;Draw: {{ team.rank_draw }}&#013;Loss: {{ team.rank_loss }}">{{team.sort}}</td>
                <td class="p-1 text-center optional-element">{{team.value}}</td>
                <td class="p-1 text-center">{{team.games_played}}</td>
                <td class="p-1 text-center">{{team.win}}</td>
                <td class="p-1 text-center">{{team.draw}}</td>
                <td class="p-1 text-center">{{team.loss}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}
