{% extends "competitions/competition_layout.html" %}
{% block competition_view %}
<script type="text/javascript" src="{{ url_for('static', filename='scripts/contest_info.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/contest_info.css')}}">
<div class="table-responsive">
    <table class="table table-dark table-hover">
        <thead>
        <tr>
            <th scope="col" class="p-1">#</th>
            <th scope="col" class="p-1">Team</th>
            <th scope="col" class="p-1">Race</th>
            {% if point_system == "rank" %}
            <th scope="col" class="p-1">Rank</th>
            {% else %}
            <th scope="col" class="p-1 text-center">Points</th>
            {% endif %}
            <th scope="col" class="p-1 text-center">Games</th>
            <th scope="col" class="p-1 text-center">W</th>
            <th scope="col" class="p-1 text-center">D</th>
            <th scope="col" class="p-1 text-center">L</th>

            {% if "TD" in point_system or "TDD" in point_system or "CW" in point_system %}
            <th scope="col" class="p-1 text-center">TD+</th>
            {% endif %}
            {% if "TDD" in point_system or "CW2" in point_system%}
            <th scope="col" class="p-1 text-center">TD-</th>
            <th scope="col" class="p-1 text-center">TDD</th>
            {% endif %}

            {% if "CAS" in point_system or "CASD" in point_system or "CW" in point_system %}
            <th scope="col" class="p-1 text-center">Cas+</th>
            {% endif %}

            {% if "CASD" in point_system or "CW2" in point_system %}
            <th scope="col" class="p-1 text-center">Cas-</th>
            <th scope="col" class="p-1 text-center">CasD</th>
            {% endif %}

            {% if "CW2" in point_system %}
            <th scope="col" class="p-1 text-center">CW2</th>
            {% elif "CW" in point_system %}
            <th scope="col" class="p-1 text-center">CW</th>
            {% endif %}

            {% if "KILL" in point_system %}
            <th scope="col" class="p-1 text-center">Kill</th>
            {% endif %}

            {% if "TBR" in point_system %}
            <th scope="col" class="p-1 text-center">Tie Br.</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for team in standing %}
        <tr>
            <th scope="col" class="p-1">{{team.rank}}</th>
            <td class="p-1">
                <div class="media">
                    <img src="static/spike_resources/img/logos/Logo_{{team.logo}}.png" class="align-self-center mr-3 optional-element" style="max-height:40px;">
                    <div class="media-body">
                        {% if team.team_id %}
                        <a href="/team?team_id={{team.team_id}}&platform={{competition_data.platform_id}}" class="link-white">{{team.team_name}}</a>
                        {% else %}
                        {{team.team_name}}
                        {% endif %}
                        <div class="text-muted"><small>
                            {% if team.coach_id %}
                            <a href="/coach?coach_id={{team.coach_id}}&platform_id={{competition_data.platform_id}}" class="link">{{team.coach_name}}</a>
                            {% else %}
                            {{team.coach_name}}
                            {% endif %}
                        </small></div>
                    </div>
                </div>
            </td>
            <td class="p-1"><img src="static/spike_resources/img/pictos/{{team.race}}.png" class="align-self-center mr-3" style="max-height:40px;"></td>
            {% if point_system == "rank" %}
            <td class="p-1">{{team.sort}}</td>
            {% else %}
            <td class="p-1 text-center">{{team.points}}</td>
            {% endif %}
            <td class="p-1 text-center">{{team.games_played}}</td>
            <td class="p-1 text-center">{{team.win}}</td>
            <td class="p-1 text-center">{{team.draw}}</td>
            <td class="p-1 text-center">{{team.loss}}</td>

            {% if "TD" in point_system or "TDD" in point_system or "CW" in point_system %}
            <td class="p-1 text-center">{{team.td_for}}</td>
            {% endif %}
            {% if "TDD" in point_system or "CW2" in point_system %}
            <td class="p-1 text-center">{{team.td_against}}</td>
            <td class="p-1 text-center">{{team.tdd}}</td>
            {% endif %}

            {% if "CAS" in point_system or "CASD" in point_system or "CW" in point_system %}
            <td class="p-1 text-center">{{team.casualties_inflicted}}</td>
            {% endif %}
            {% if "CASD" in point_system or "CW2" in point_system %}
            <td class="p-1 text-center">{{team.casualties_sustained}}</td>
            <td class="p-1 text-center">{{team.casualties_difference}}</td>
            {% endif %}

            {% if "CW2" in point_system %}
            <td class="p-1 text-center">{{team.coleman_waldorf_2}}</td>
            {% elif "CW" in point_system %}
            <td class="p-1 text-center">{{team.coleman_waldorf}}</td>
            {% endif %}

            {% if "KILL" in point_system %}
            <td class="p-1 text-center">{{team.kill}}</td>
            {% endif %}

            {% if "TBR" in point_system %}
            <td class="p-1 text-center">{{team.external_tie_breaker}}</td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% if contests and competition_data.round%}
<div id="matchDayCarousel" class="carousel slide" data-interval="false" data-ride="carousel">
    <ol class="carousel-indicators">
        {% for round in contests %}
        <li data-target="#matchDayCarousel" data-slide-to="{{loop.index - 1}}" {% if loop.index == competition_data.round %}class="active"{%endif%}></li>
        {% endfor %}
    </ol>
    <div class="carousel-inner">
        {% for round in contests %}
        <div {% if loop.index == competition_data.round %} class="carousel-item active" {% else %} class="carousel-item"{% endif %}>
            <div class="d-block w-100 text-center">
                <table class="table table-borderless w-80 text-white" style="padding-bottom: .6rem;">
                    <tbody>
                    <tr>
                        <th colspan="4"><h3>Match Day {{ loop.index }}</h3></th>
                    </tr>
                    {% for contest in round %}
                    <tr>
                        <th scope="row" class="text-right">
                            <div class="media">
                                <div class="media-body">
                                    <div class="team-name">
                                        {% if contest.team_home.team_name %}
                                        <a href="/team?team_id={{contest.team_home.team_id}}&platform={{contest.platform_id}}" class="link-white">{{ contest.team_home.team_name }}</a>
                                        {% else %}
                                        -
                                        {% endif %}
                                    </div>
                                    <div class="coach-name">
                                        {% if contest.team_home.coach_id%}
                                        <a href="/coach?coach_id={{contest.team_home.coach_id}}&platform_id={{contest.platform_id}}" class="link">{{ contest.team_home.coach_name }}</a>
                                        {% else %}
                                        -
                                        {% endif %}
                                    </div>
                                </div>
                                {% if contest.team_home.team_logo %}
                                <img src="static/spike_resources/img/logos/Logo_{{contest.team_home.team_logo}}.png" class="align-self-center ml-3 optional-element" style="max-height:40px;">
                                {% endif %}
                            </div>
                        </th>
                        {% if contest.status == 2 %}
                        <td class="text-center align-self-center">
                            <h4>
                                <a href="/match?match_uuid={{ contest.match_uuid[0] }}" class="link-white">{{ contest.team_home.score }} - {{ contest.team_away.score }}</a>
                            </h4>
                        </td>
                        {% elif contest._id %}
                        <td class="text-center align-self-center" style="cursor: pointer;" onclick="show_match_data('{{contest._id}}')">vs</td>
                        {% else %}
                        <td class="text-center align-self-center" style="cursor: pointer;">vs</td>
                        {% endif %}
                        <td class="text-left">
                            <div class="media">
                                {% if contest.team_away.team_logo %}
                                <img src="static/spike_resources/img/logos/Logo_{{ contest.team_away.team_logo }}.png" class="align-self-center mr-3 optional-element" style="max-height:40px;">
                                {% endif %}
                                <div class="media-body">
                                    <div class="team-name">
                                        {% if contest.team_away.team_name %}
                                        <a href="/team?team_id={{contest.team_away.team_id}}&platform={{contest.platform_id}}" class="link-white">{{ contest.team_away.team_name }}</a>
                                        {% else %}
                                        -
                                        {% endif %}
                                    </div>
                                    <div class="coach-name">
                                        {% if contest.team_away.coach_id %}
                                        <a href="/coach?coach_id={{contest.team_away.coach_id}}&platform_id={{contest.platform_id}}" class="link">{{ contest.team_away.coach_name }}</a>
                                        {% else %}
                                        -
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="mb-5"></div>
            </div>
        </div>
        {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#matchDayCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#matchDayCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">
    <div class="modal-content">
        <div class="d-flex justify-content-center">
            <div id="spinner" class="spinner-border text-light" role="status">
                <span class="sr-only">Loading match data...</span>
            </div>
        </div>
    </div>
    <!-- Modal content -->
    <div id="modal_content" class="modal-content">
    </div>
</div>
{% endif %}
{% endblock competition_view %}