{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <div class="d-flex justify-content-center">
        <img src="{{ url_for('static', filename='spike_resources/img/misc/ChampionCup.png')}}" class="align-self-center mr-3" style="max-height:70px;">
    </div>
    <h1 class="text-center">Ranked ladder</h1>
    <div class="text-muted text-center mb-3">
        <a href="/competition?competition={{ competition_data.id }}&platform={{ competition_data.platform_id}}" class="link">{{competition_data.name}}</a>
    </div>

    {% if formatted_top_race|length > 1 %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-dark">
            {% for race in formatted_top_race %}
            {% if loop.index == 1 %}
            <li class="breadcrumb-item active"><a href="#{{race}}" class="link-white">{{race}}</a></li>
            {% else %}
            <li class="breadcrumb-item"><a href="#{{race}}" class="link-white">{{race}}</a></li>
            {% endif %}
            {% endfor %}
        </ol>
    </nav>
    {% endif %}

    {% for race in formatted_top_race %}
    <h3 id="{{race}}">Top {{ formatted_top_race[race]|length }} {{race}}</h3>
    {% if formatted_top_race|length > 1 %}
    <div class="text-muted mb-2">
        <a href="/competition_top_races?competition={{ competition_data.id }}&platform={{ league_data.platform_id}}&race={{race}}&limit=50" class="link">Show more</a>
    </div>
    {% endif %}
    <div class="table-responsive">
        <table class="table table-dark table-hover">
            <thead>
            <tr>
                <th scope="col" class="p-1">#</th>
                <th scope="col" class="p-1">#</th>
                <th scope="col" class="p-1">Team</th>
                <th scope="col" class="p-1 optional-element">Race</th>
                <th scope="col" class="p-1">Rank</th>
                <th scope="col" class="p-1 text-center" data-toggle="tooltip" data-placement="bottom" title="Win behind first team">WBF</th>
                <th scope="col" class="p-1 text-center">TV</th>
                <th scope="col" class="p-1 text-center">Games</th>
                <th scope="col" class="p-1 text-center">W</th>
                <th scope="col" class="p-1 text-center">D</th>
                <th scope="col" class="p-1 text-center">L</th>
            </tr>
            </thead>
            <tbody>
            {% for team in formatted_top_race[race] %}
            <tr>
                <th scope="row" class="p-1">{{loop.index}}</th>
                <td class="p-1">{{team.rank}}</td>
                <td class="p-1">
                    <div class="media">
                        <img src="static/spike_resources/img/logos/Logo_{{team.logo}}.png" class="align-self-center mr-3" style="max-height:40px;">
                        <div class="media-body">
                            <a href="/team?team_id={{team.team_id}}&platform={{competition_data.platform_id}}" class="link-white">{{team.team_name}}</a>
                            <div class="text-muted">
                                <small>
                                    <a href="/coach?coach_id={{team.coach_id}}&platform_id={{competition_data.platform_id}}" class="link">{{ team.coach_name }}</a>
                                </small>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="p-1 optional-element"><img src="static/spike_resources/img/pictos/{{team.race}}.png" class="align-self-center mr-3" style="max-height:45px;" alt="{{team.race}}" data-toggle="tooltip" data-placement="bottom" title="{{team.race}}"></td>
                <td class="p-1" data-toggle="tooltip" data-placement="bottom" title="Win: {{ team.rank_win }}&#013;Draw: {{ team.rank_draw }}&#013;Loss: {{ team.rank_loss }}">{{team.sort}}</td>
                <td class="p-1 text-center">{{team.win_behind_first}}</td>
                <td class="p-1 text-center">{{team.value}}</td>
                <td class="p-1 text-center">{{team.games_played}}</td>
                <td class="p-1 text-center">{{team.win}}</td>
                <td class="p-1 text-center">{{team.draw}}</td>
                <td class="p-1 text-center">{{team.loss}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endfor %}
</div>
{% endblock content %}
