{% extends "competitions/competition_layout.html" %}
{% block competition_view %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/tournament_bracket.css')}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/contest_info.css')}}">
<script type="text/javascript" src="{{ url_for('static', filename='scripts/contest_info.js') }}"></script>

{% if contests %}
<div class="tournament-bracket tournament-bracket--rounded mt-3 mb-3">
    {% for round in contests %}
    <div class="tournament-bracket__round">
        <h3 class="round-title text-info">{{CommonUtils.get_round_label('single_elimination', loop.index, contests|length, 'en')}}</h3>
        <ul class="tournament-bracket__list">
            {% for contest in round %}
            <li class="tournament-bracket__item">
                <div class="tournament-bracket__match" tabindex="0" {% if contest._id %}onclick="show_match_data('{{contest._id}}')"{% endif %}>
                    <div class="d-flex bd-highlight">
                        <div class="d-flex flex-column bd-highlight flex-grow-1">
                            <div class="bd-highlight">
                                <div class="media">
                                    {% if contest.team_home.team_logo %}
                                    <img src="static/spike_resources/img/logos/Logo_{{ contest.team_home.team_logo }}.png"
                                         class="align-self-center mr-1" style="max-height:30px;"
                                         data-toggle="tooltip" data-placement="bottom" title="{{CommonUtils.convert_camel_case_to_readable(contest.team_home.race)}}">
                                    {% endif %}
                                    <div class="media-body mr-1 text-capitalize {% if 'score' in contest.team_home %} {% if contest.team_home.score > contest.team_away.score %} text-success font-weight-bold {% else %} text-danger {% endif %} {%else%} text-white {% endif %}"
                                         data-toggle="tooltip" data-placement="bottom" title="{{contest.team_home.team_name}}">
                                        {% if contest.team_home.coach_name and contest.team_home.coach_name != 'None'%}
                                        {{ contest.team_home.coach_name }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                            <div class="bd-highlight">
                                <div class="media">
                                    {% if contest.team_away.team_logo %}
                                    <img src="static/spike_resources/img/logos/Logo_{{ contest.team_away.team_logo }}.png"
                                         class="align-self-center mr-1" style="max-height:30px;"
                                         data-toggle="tooltip" data-placement="bottom" title="{{CommonUtils.convert_camel_case_to_readable(contest.team_away.race)}}">
                                    {% endif %}
                                    <div class="media-body mr-1 text-capitalize {% if 'score' in contest.team_home %} {% if contest.team_home.score < contest.team_away.score %} text-success font-weight-bold {% else %} text-danger {% endif %} {% else %} text-white {% endif %}"
                                         data-toggle="tooltip" data-placement="bottom" title="{{contest.team_away.team_name}}">
                                        {% if contest.team_away.coach_name and contest.team_away.coach_name != 'None' %}
                                        {{ contest.team_away.coach_name }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex flex-column bd-highlight mr-1">
                            <div class="d-flex align-items-center h-100">
                                {% if 'score' in contest.team_home %}
                                {% if contest.match_uuid %}
                                <p class="m-0 {% if 'score' in contest.team_home %} {% if contest.team_home.score > contest.team_away.score %} text-success font-weight-bold {% else %} text-danger {% endif %} {% endif %}">
                                    {{ contest.team_home.score }}
                                </p>
                                {% else %}
                                {{ contest.team_home.score }}
                                {% endif %}
                                {% elif contest.odds and contest.odds.home_win and contest.team_home.team_logo %}
                                <p class="m-0 text-info" data-toggle="tooltip" data-placement="bottom" title="Win odds">{{contest.odds.home_win}}</p>
                                {% else %}
                                -
                                {% endif %}
                            </div>

                            <div class="d-flex align-items-center h-100">
                                {% if 'score' in contest.team_away %}
                                {% if contest.match_uuid %}
                                <p class="m-0 {% if 'score' in contest.team_home %} {% if contest.team_home.score < contest.team_away.score %} text-success font-weight-bold {% else %} text-danger {% endif %} {% endif %}">
                                    {{ contest.team_away.score }}
                                </p>
                                {% else %}
                                {{ contest.team_away.score }}
                                {% endif %}
                                {% elif contest.odds and contest.odds.away_win and contest.team_away.team_logo%}
                                <p class="m-0 text-info" data-toggle="tooltip" data-placement="bottom" title="Win odds">{{contest.odds.away_win}}</p>
                                {% else %}
                                -
                                {% endif %}
                            </div>

                        </div>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
    <div class="tournament-bracket__round">
        <h3 class="round-title text-info">Winner</h3>
        <ul class="tournament-bracket__list">
            <li class="tournament-bracket__item">
                <div class="tournament-bracket__match" tabindex="0">
                    <div class="d-flex justify-content-center">
                        <i class="fas fa-trophy text-warning mt-1" style="font-size: 40px"></i>
                    </div>
                    <div class="d-flex justify-content-center text-center">
                        {% if winner %}
                        <h2><a href="/coach?coach_id={{winner.coach_id}}&platform_id={{competition_data.platform_id}}" class="link-white">{{ winner.coach_name }}</a></h2>
                        {% else %}
                        -
                        {% endif %}
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">
    <div class="modal-content">
        <div class="d-flex justify-content-center">
            <div id="spinner" class="spinner-border text-light" role="status">
                <span class="sr-only">Loading match data...</span>
            </div>
        </div>
    </div>
    <!-- Modal content -->
    <div id="modal_content" class="modal-content">
    </div>
</div>

{% else %}
<div class="d-flex justify-content-center">
    <img src="static/spike_resources/img/misc/WIP.png" style="height:100px;">
</div>
{% endif %}

{% endblock competition_view %}