<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="og:type" content="website">
    <meta name="og:title" content="{{coach_data.name}}">
    <meta name="og:url" content="https://spike.ovh/coach?coach_id={{coach_data.id}}&platform_id={{coach_data.platform_id}}">
    {% if coach_stat %}
    <meta name="og:site_name" content="Win rate: {{coach_stat.win_rate}} % :: Record: {{coach_stat.nb_win}}-{{coach_stat.nb_draw}}-{{coach_stat.nb_loss}} :: Games: {{coach_stat.nb_matches}}">
    {% endif %}
    {% if user_linked and user_linked.avatar_url %}
    <meta name="og:image" content="{{user_linked.avatar_url}}">
    {% endif %}
</head>
<body> </body>
</html>