<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="og:type" content="website">
    <meta name="og:site_name" content="{{league_data.name}}">
    <meta name="og:url" content="https://spike.ovh/competition?competition={{competition_data.id}}&platform={{competition_data.platform_id}}">
    {% if competition_data.format != "ladder" and competition_data.round and competition_data.rounds_count %}
    <meta name="og:title" content="{{competition_data.name}}  :: Round: {{competition_data.round}}/{{competition_data.rounds_count}}">
    {% else %}
    <meta name="og:title" content="{{competition_data.name}} ">
    {% endif %}
    <meta name="og:image" content="{{competition_data.logo}}">
</head>
<body> </body>
</html>