<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="og:type" content="game">
    <meta name="og:title" content="Spike!">
    <meta name="og:url" content="https://spike.ovh">
    <meta name="og:image" content="{{ url_for('static', filename='spike_resources/img/misc/spike.png') }}">
    <meta name="og:description" content="
    Spike is a Blood Bowl 2 discord bot, you can invite Spike on your server and join his discord server too.
    Spike can automatically generate match report for all your leagues/competitions, it allow you to display team overview and scheduled match directly in discord.
    If you want you can join the project, Spike bot is open source on Bitbucket feel free to fork, contribute or what you want.
    Spike was created by Poncho dlv and you can support the project on Patreon.">
</head>
<body> </body>
</html>