<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="og:type" content="website">
    <meta name="og:title" content="{{league_data.name}} :: {{league_data.platform|upper}}">
    <meta name="og:url" content="https://spike.ovh/league?league={{league_data.id}}&platform={{league_data.platform_id}}">
    {% if league_data.custom_logo %}
    <meta name="og:image" content="{{league_data.custom_logo}}">
    {% else %}
    <meta name="og:image" content="https://spike.ovh/static/spike_resources/img/logos/Logo_{{league_data.logo}}.png">
    {% endif %}
</head>
<body> </body>
</html>