<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="og:type" content="website">
    <meta name="og:site_name" content="{{match_model.get_league_name()}} :: {{match_model.get_competition_name()}}">
    <meta name="og:title" content="{{match_model.get_coach_home().get_name()}} {{match_model.get_score_home()}} - {{match_model.get_score_away()}} {{match_model.get_coach_away().get_name()}}">
    <meta name="og:url" content="https://spike.ovh/match?match_uuid={{match_model.get_uuid()}}">
    <meta name="og:description" content="{{match_model.get_team_home().get_name()}} vs {{match_model.get_team_away().get_name()}}">
    <meta name="og:image" content="https://cdn.discordapp.com/emojis/{{match_model.get_competition_logo()}}.png">
</head>
<body> </body>
</html>