<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="og:type" content="website">
    <meta name="og:site_name" content="List of discord league with Spike">
    <meta name="og:url" content="https://spike.ovh/servers">
    <meta name="og:image" content="{{ url_for('static', filename='spike_resources/img/misc/spike.png') }}">
</head>
<body> </body>
</html>