<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="og:type" content="game">
    <meta name="og:title" content="Spike Eur'Open">
    <meta name="og:url" content="https://spike.ovh/sbbl/spike_europen">
    <meta name="og:image" content="{{ url_for('static', filename='spike_resources/img/misc/sbbl.png') }}">
    <meta name="og:description" content="The Spike Eur’Open is a Blood Bowl 2 team competition, each team composed by 3 coach inspired by Eur’Open/EuroBowl rules.
Competition is resurrection mode in round swiss format with 5 round of 2 weeks and 3 minutes by turn, each coach in a team must play a different race, all coaches start each game with the same roster
and skills they registered before the tournament.">
</head>
<body> </body>
</html>