<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="og:type" content="game">
    <meta name="og:title" content="{{team.get_name()}} :: TV: {{team.get_team_value()}}">
    <meta name="og:site_name" content="{{ team.get_coach().get_name() }}">
    <meta name="og:url" content="https://spike.ovh/team?team_id={{team.get_id()}}&platform={{platform_id}}">
    <meta name="og:image" content="https://spike.ovh/static/spike_resources/img/logos/Logo_{{ team.get_logo()}}.png">
</head>
<body> </body>
</html>