<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="og:type" content="website">
    <meta name="og:title" content="{{tournament_data.name}}">
    <meta name="og:url" content="https://spike.ovh/tournaments/{{tournament_id}}">
    {% if tournament_data.logo %}
    <meta name="og:image" content="{{tournament_data.logo}}">
    {% else %}
    <meta name="og:image" content="https://spike.ovh/static/spike_resources/img/misc/naf.png">
    {% endif %}
</head>
<body> </body>
</html>