<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="og:type" content="game">
    <meta name="og:title" content="Spike Bowl Transfer List">
    <meta name="og:url" content="https://spike.ovh/sbbl/transfer_list">
    <meta name="og:image" content="{{ url_for('static', filename='spike_resources/img/misc/sbbl.png') }}">
    <meta name="og:description" content="List of all players available in the Spike Bowl transfer list.">
</head>
<body> </body>
</html>