{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <legend class="border-bottom mb-4">
        <div class="d-flex justify-content-between">
            <div class="media">
                <img src="{{competition_data.logo}}" class="align-self-center mr-3" style="max-height:70px;">
                <div class="media-body">
                    <div>
                        {{competition_data.name}}
                        <i class="fas fa-desktop desktop-color"></i>
                    </div>
                    <div class="text-muted"><small><a href="/league?league={{ league_data.id }}&platform={{ league_data.platform_id}}" class="link">{{league_data.name}}</a></small></div>
                </div>
            </div>
        </div>
    </legend>

    {% if display_statistics %}
    <a href="/competition_stat?competition={{ competition_data.id }}&platform={{ league_data.platform_id}}" class="link"> {{competition_data.name}} Statistics</a>
    {% endif %}
    <span class="d-block p-2 information-block text-white mt-3">
        <ul class="list-inline text-center mb-0">
            <li class="list-inline-item text-info">Format: {{ competition_data.label_format }}</li>
            <li class="list-inline-item text-muted"><small>::</small></li>
            <li class="list-inline-item text-info">Round: {{ competition_data.round }}/{{ competition_data.rounds_count }}</li>
            <li class="list-inline-item text-muted"><small>::</small></li>
            <li class="list-inline-item text-info">Teams: {{ competition_data.teams_count }}/{{ competition_data.teams_max }}</li>
            <li class="list-inline-item text-muted"><small>::</small></li>
            <li class="list-inline-item text-info">Teams: {{ competition_data.teams_count }}</li>
            <li class="list-inline-item text-muted"><small>::</small></li>
            <li class="list-inline-item text-info">Turn duration: {{ competition_data.turn_duration + 1}} min</li>
            <li class="list-inline-item text-muted"><small>::</small></li>
            <li class="list-inline-item text-info">Point system: {{ point_system }}</li>
        </ul>
    </span>
    <table class="table table-dark table-hover">
        <thead>
        <tr>
            <th scope="col" class="p-1">#</th>
            <th scope="col" class="p-1">Team</th>
            <th scope="col" class="p-1">Races</th>
            <th scope="col" class="p-1 text-center">Points</th>

            <th scope="col" class="p-1 text-center">Games</th>
            <th scope="col" class="p-1 text-center">W</th>
            <th scope="col" class="p-1 text-center">D</th>
            <th scope="col" class="p-1 text-center">L</th>

            <th scope="col" class="p-1 text-center">TD+</th>
            <th scope="col" class="p-1 text-center">TD-</th>
            <th scope="col" class="p-1 text-center">TDD</th>

            <th scope="col" class="p-1 text-center">Cas+</th>
            <th scope="col" class="p-1 text-center">Cas-</th>
            <th scope="col" class="p-1 text-center">CasD</th>

        </tr>
        </thead>
        <tbody>
        {% for team in standing %}
        <tr>
            <th scope="row" class="p-1">{{team.rank}}</th>
            <td class="p-1">
                <div class="media">
                    <div class="media-body">
                        {{team.team_name}}
                        <div class="text-muted"><small>
                            {% for coach_name in team.coach_names %}
                            {{coach_name}}
                            {% if loop.index < 3 %}
                            /
                            {%endif%}
                            {% endfor %}
                        </small></div>
                    </div>
                </div>
            </td>
            <td class="p-1">
                {% for race in team.races %}
                <img src="{{ url_for('static', filename='spike_resources/img/pictos/' + race + '.png') }}" class="align-self-center mr-3" style="max-height:40px;">
                {% endfor %}
            </td>
            <td class="p-1 text-center">{{team.points}}</td>
            <td class="p-1 text-center">{{team.games_played}}</td>
            <td class="p-1 text-center">{{team.win}}</td>
            <td class="p-1 text-center">{{team.draw}}</td>
            <td class="p-1 text-center">{{team.loss}}</td>

            <td class="p-1 text-center">{{team.td_for}}</td>
            <td class="p-1 text-center">{{team.td_against}}</td>
            <td class="p-1 text-center">{{team.tdd}}</td>


            <td class="p-1 text-center">{{team.casualties_inflicted}}</td>
            <td class="p-1 text-center">{{team.casualties_sustained}}</td>
            <td class="p-1 text-center">{{team.casualties_difference}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
