{% extends "layout.html" %}
{% block content %}
{% if current_user.is_authenticated and current_user.is_tournament_director() %}
<a href="/admin_tournaments?tournament_id={{tournament_id}}" class="link-white"><i class="far fa-arrow-alt-circle-left mt-2 mb-2 ml-2"></i> Tournaments</a>
{% endif %}
<div class="content-section">
    {% if current_user.is_authenticated and current_user.is_tournament_director() %}
    <div class="d-flex bd-highlight mb-3">
        {% if not published %}
        <a href="/admin_tournaments/{{tournament_id}}/rounds/{{round_index}}/publish_round" class="btn btn-success mt-3 mb-3 pt-1 pb-1 mr-2" role="button" aria-disabled="true">Publish</a>
        {% else %}
        <a href="/admin_tournaments/{{tournament_id}}/rounds/{{round_index}}/unpublish_round" class="btn btn-danger mt-3 mb-3 pt-1 pb-1 mr-2" role="button" aria-disabled="true">Unpublish</a>
        {% endif %}
        <a href="/admin_tournaments/{{tournament_id}}/rounds/{{round_index}}/create_competitions" class="ml-auto btn btn-primary mt-3 mb-3 pt-1 pb-1 mr-2" role="button" aria-disabled="true">Create competitions</a>
    </div>
    {% endif %}

    <div class="table-responsive">
        <table class="table table-dark table-hover">
            <tbody>
            {% for contest in contest_data.contests %}
            {% if (current_user.is_authenticated and current_user.is_tournament_director()) or contest.public %}
            <tr>
                <td class="p-1 text-left">
                    Table {{loop.index}}
                </td>
                <td class="p-1 text-right">
                    <div class="media">
                        <img src="{{ url_for('static', filename='spike_resources/img/pictos/' + contest.home_team_data.race + '.png') }}" class="align-self-center mr-3 optional-element" style="max-height:40px;">
                        <img src="{{ url_for('static', filename='spike_resources/img/logos/Logo_' + contest.home_team_data.logo + '.png') }}" class="align-self-center mr-3 optional-element" style="max-height:40px;">
                        <div class="media-body">
                            <a href="/team?team_id={{contest.home_team_data.id}}&platform={{contest.home_team_data.platform_id}}" class="link-white">{{contest.home_team_data.name}}</a>
                            <div class="text-muted"><small>
                                <a href="/coach?coach_id={{contest.home_team_data.coach_id}}&platform_id={{contest.home_team_data.platform_id}}" class="link">{{contest.home_team_data.coach_name}}</a>
                            </small></div>
                        </div>
                    </div>
                </td>
                <td class="p-1 text-center">{{contest.home_team.get('score', '-')}}</td>
                <td class="p-1 text-center">{{contest.away_team.get('score', '-')}}</td>
                <td class="p-1">
                    <div class="media">
                        <div class="media-body">
                            <a href="/team?team_id={{contest.away_team_data.id}}&platform={{contest.away_team_data.platform_id}}" class="link-white">{{contest.away_team_data.name}}</a>
                            <div class="text-muted"><small>
                                <a href="/coach?coach_id={{contest.away_team_data.coach_id}}&platform_id={{contest.away_team_data.platform_id}}" class="link">{{contest.away_team_data.coach_name}}</a>
                            </small></div>
                        </div>
                        <img src="{{ url_for('static', filename='spike_resources/img/logos/Logo_' + contest.away_team_data.logo + '.png') }}" class="align-self-center mr-3 optional-element" style="max-height:40px;">
                        <img src="{{ url_for('static', filename='spike_resources/img/pictos/' + contest.away_team_data.race + '.png') }}" class="align-self-center mr-3 optional-element" style="max-height:40px;">
                    </div>
                </td>
                {% if current_user.is_authenticated and current_user.is_tournament_director() %}
                <td class="text-center">
                    {% if contest.lock == True %}
                    <i class="fas fa-lock" data-toggle="tooltip" data-placement="bottom" title="Contest locked"></i>
                    {% else %}
                    <i class="fas fa-lock-open" data-toggle="tooltip" data-placement="bottom" title="Contest not locked"></i>
                    {% endif %}
                </td>
                <td class="text-center">
                    <a href="/admin_tournaments/{{tournament_id}}/rounds/{{round_index}}/contests/{{contest._id}}/update_contest" class="link-white"><i class="fas fa-cogs"></i></a>
                </td>
                {% endif %}
            </tr>
            {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}