{% extends "layout.html" %}
{% block content %}
<a href="/admin_tournaments?tournament_id={{tournament_id}}" class="link-white"><i class="far fa-arrow-alt-circle-left mt-2 mb-2 ml-2"></i> Tournaments</a>
<div class="content-section">

    <table class="table table-dark">
        <thead>
        <tr>
            <th scope="col">Team</th>
            <th scope="col">Score</th>
            <th scope="col">Cas</th>
            <th scope="col">Kill</th>
        </tr>
        </thead>
        <tbody>

        <tr>
            <td>
                <div class="media">
                    <img src="{{ url_for('static', filename='spike_resources/img/logos/Logo_' + contest.home_team_data.logo + '.png') }}" class="align-self-center mr-3" style="max-height:60px;">
                    <div class="media-body">
                        {{contest.home_team_data.name}}
                        <div><small>{{contest.home_team_data.coach_name}}</small></div>
                    </div>
                </div>
            </td>
            <td>
                <input type="number" class="form-control" id="home_score" min="0" max="1000" value="{{contest.home_team.get('score', 0)}}">
            </td>
            <td>
                <input type="number" class="form-control" id="home_cas" min="0" max="1000" value="{{contest.home_team.get('casualties', 0)}}">
            </td>
            <td>
                <input type="number" class="form-control" id="home_kill" min="0" max="1000" value="{{contest.home_team.get('kill', 0)}}">
            </td>
        </tr>

        <tr>
            <td>
                <div class="media">
                    <img src="{{ url_for('static', filename='spike_resources/img/logos/Logo_' + contest.away_team_data.logo + '.png') }}" class="align-self-center mr-3" style="max-height:60px;">
                    <div class="media-body">
                        {{contest.away_team_data.name}}
                        <div><small>{{contest.away_team_data.coach_name}}</small></div>
                    </div>
                </div>
            </td>
            <td>
                <input type="number" class="form-control" id="away_score" min="0" max="1000" value="{{contest.away_team.get('score', 0)}}">
            </td>
            <td>
                <input type="number" class="form-control" id="away_cas" min="0" max="1000" value="{{contest.away_team.get('casualties', 0)}}">
            </td>
            <td>
                <input type="number" class="form-control" id="away_kill" min="0" max="1000" value="{{contest.away_team.get('kill', 0)}}">
            </td>
        </tr>
        </tbody>
    </table>
    <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" {% if contest.lock and contest.lock == True %} checked{% endif %} id="lock_switch">
        <label class="custom-control-label" for="lock_switch">Lock result</label>
    </div>
    <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" {% if contest.naf and contest.naf != False %} checked{% endif %} id="naf_contest">
        <label class="custom-control-label" for="naf_contest">Naf rank</label>
    </div>


    <div class="text-center mt-3">
        <button type="button" class="btn btn-outline-success" id="sub_button" onclick="save_contest('{{tournament_id}}', '{{round_index}}', '{{contest._id}}', '{{ csrf_token() }}')">Save</button>
    </div>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/tournament_manager/contest_admin.js') }}"></script>
{% endblock content %}