{% extends "layout.html" %}
{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename='scripts/tournament_manager/create_tournament.js') }}"></script>
<div class="content-section">
    <h2 class="text-center mb-3">Tournament creator</h2>
    <div class="d-flex justify-content-center">
        <form method="POST" action="" onsubmit="before_submit()" style="width:60%;">
            {{ form.csrf_token }}
            <div class="form-group">
                {{ form.tournament_name.label(class="form-control-label") }}
                {{ form.tournament_name(class="form-control") }}
            </div>
            <div class="row">
                <div class="col form-group" style="min-width:200px;">
                    {{ form.format.label(class="form-control-label") }}
                    {{ form.format(class="form-control") }}
                </div>
                <div class="col form-group" style="min-width:200px;">
                    {{ form.platform.label(class="form-control-label") }}
                    {{ form.platform(class="form-control") }}
                </div>
            </div>
            <div class="row">
                <div class="col form-group" style="min-width:200px;">
                    {{ form.round_format.label(class="form-control-label") }}
                    {{ form.round_format(class="form-control") }}
                </div>
                <div class="col form-group" style="min-width:200px;">
                    {{ form.number_of_round.label(class="form-control-label") }}
                    {{ form.number_of_round(class="form-control", type="number") }}
                </div>
            </div>
            <div class="row mt-3">
                <div class="col form-group" style="min-width:100px;">
                    {{ form.win_value.label(class="form-control-label") }}
                    {{ form.win_value(class="form-control", type="number") }}
                </div>
                <div class="col form-group" style="min-width:100px;">
                    {{ form.draw_value.label(class="form-control-label") }}
                    {{ form.draw_value(class="form-control", type="number") }}
                </div>
                <div class="col form-group" style="min-width:100px;">
                    {{ form.loss_value.label(class="form-control-label") }}
                    {{ form.loss_value(class="form-control", type="number") }}
                </div>
            </div>
            <div class="row">
                <div class="col form-group" style="min-width:200px;">
                    {{ form.tie_breaker_1.label(class="form-control-label") }}
                    {{ form.tie_breaker_1(class="form-control") }}
                </div>
                <div class="col form-group" style="min-width:200px;">
                    {{ form.tie_breaker_2.label(class="form-control-label") }}
                    {{ form.tie_breaker_2(class="form-control") }}
                </div>
            </div>
            <div class="row">
                <div class="col form-group" style="min-width:200px;">
                    {{ form.tie_breaker_3.label(class="form-control-label") }}
                    {{ form.tie_breaker_3(class="form-control") }}
                </div>
                <div class="col form-group" style="min-width:200px;">
                    {{ form.tie_breaker_4.label(class="form-control-label") }}
                    {{ form.tie_breaker_4(class="form-control") }}
                </div>
            </div>
            <div class="text-center mt-3">
                {{ form.submit(class="btn btn-info w-50 font-weight-bold", id="sub_button") }}
            </div>
        </form>
    </div>
</div>
{% endblock content %}