{% extends "layout.html" %}
{% block content %}
{% macro tournament_view(tournament) -%}
<h2>{{tournament.name}}</h2>

<h4 class="text-info mt-3">General</h4>
<div class="row mt-3">
    <label class="col-sm-2">Status</label>
    <div class="col-sm-10">
        {% if tournament.status == 0 %}
        <span class="badge badge-pill badge-primary">Created</span>
        {% elif tournament.status == 1 %}
        <span class="badge badge-pill badge-success">Running</span>
        {% else %}
        <span class="badge badge-pill badge-info">Finished</span>
        {% endif %}
    </div>
</div>

<div class="row">
    <label class="col-sm-2">Format</label>
    <div class="col-sm-10">
        {{tournament.display_name.format}}
    </div>
</div>
<div class="row">
    <label class="col-sm-2">Platform</label>
    <div class="col-sm-10">
        {{tournament.display_name.platform}}
    </div>
</div>
<div class="row">
    <label class="col-sm-2">Round format</label>
    <div class="col-sm-10">
        {{tournament.display_name.round_format}}
    </div>
</div>
<div class="row">
    <label class="col-sm-2">Round</label>
    <div class="col-sm-10">
        {{tournament.current_round}}/{{tournament.number_of_round}}
    </div>
</div>

<h4 class="text-info mt-3">Standing</h4>
<div class="row">
    <label class="col-sm-2">Win</label>
    <div class="col-sm-10">
        {{tournament.win_value}}
    </div>
</div>
<div class="row">
    <label class="col-sm-2">Draw</label>
    <div class="col-sm-10">
        {{tournament.draw_value}}
    </div>
</div>
<div class="row">
    <label class="col-sm-2">Loss</label>
    <div class="col-sm-10">
        {{tournament.loss_value}}
    </div>
</div>

<div class="row">
    <label class="col-sm-2">Tie breakers</label>
    <div class="col-sm-10">
        {% for tb in tournament.tie_breakers %}
        {{tb}}
        {% endfor %}
    </div>
</div>

{% if tournament.current_round > 0 %}
<h4 class="text-info mt-3">Public Links</h4>
<div class="row">
    <div class="col-sm-2">
        <a href="/tournaments/{{tournament.tournament_id}}" class="link-white">Standing</a>
    </div>
    <div>
        <button class="btn btn-link pt-0 pb-0" onclick="copy_clipboard('copy_standing', '/tournaments/{{tournament.tournament_id}}')" data-toggle="tooltip" data-placement="bottom" title="Copy to clipboard">
            <i class="far fa-copy"></i>
        </button>
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <a href="/tournaments/{{tournament.tournament_id}}/teams" class="link-white">Teams</a>
    </div>
    <div>
        <button class="btn btn-link pt-0 pb-0" onclick="copy_clipboard('copy_teams', '/tournaments/{{tournament.tournament_id}}/teams')" data-toggle="tooltip" data-placement="bottom" title="Copy to clipboard">
            <i class="far fa-copy"></i>
        </button>
    </div></div>
<div class="row">
    <div class="col-sm-2">
        <a href="/tournaments/{{tournament.tournament_id}}/rounds/{{tournament.current_round}}" class="link-white">Round {{tournament.current_round}}</a>
    </div>
    <div>
        <button class="btn btn-link pt-0 pb-0" onclick="copy_clipboard('copy_contest', '/tournaments/{{tournament.tournament_id}}/rounds/{{tournament.current_round}}')"
                id="copy_contest" data-toggle="tooltip" data-placement="bottom" title="Copy to clipboard">
            <i class="far fa-copy"></i>
        </button>
    </div>
</div>
{% endif %}

<h4 class="text-info mt-3">Administration</h4>
{% for round in range(0, tournament.current_round) %}
<div class="row mb-3">
    <div class="col-sm-2">
        <a href="/admin_tournaments/{{tournament.tournament_id}}/rounds/{{loop.index}}/contests" class="link-white">Round {{loop.index}}</a>
    </div>
</div>
{% endfor %}
<div class="d-flex bd-highlight mb-3">
    {% if tournament.status == 0 %}
    <a href="/admin_tournaments/{{tournament.tournament_id}}/manage_leagues" class="btn btn-primary mt-3 mb-3 pt-1 pb-1 mr-2" role="button" aria-disabled="true">Manage leagues</a>
    {% if tournament.sign_up_competition %}
    <a href="/admin_tournaments/{{tournament.tournament_id}}/register_teams" class="btn btn-primary mt-3 mb-3 pt-1 pb-1 mr-2" role="button" aria-disabled="true">Register teams</a>
    <a href="/admin_tournaments/{{tournament.tournament_id}}/manage_teams" class="btn btn-primary mt-3 mb-3 pt-1 pb-1 mr-2" role="button" aria-disabled="true">Manage teams</a>
    {% else %}
    <a href="/admin_tournaments/{{tournament.tournament_id}}/create_sign_up" class="btn btn-primary mt-3 mb-3 pt-1 pb-1 mr-2" role="button" aria-disabled="true">Create SignUp</a>
    {% endif %}
    <a href="/admin_tournaments/{{tournament.tournament_id}}/start" class="btn btn-success mt-3 mb-3 pt-1 pb-1" role="button" aria-disabled="true">Start tournament</a>
    <a href="/admin_tournaments/{{tournament.tournament_id}}/delete" class="ml-auto btn btn-danger mt-3 mb-3 pt-1 pb-1" role="button" aria-disabled="true">Delete</a>
    {% elif tournament.status == 1 %}
    <a href="/admin_tournaments/{{tournament.tournament_id}}/manage_teams" class="btn btn-primary mt-3 mb-3 pt-1 pb-1 mr-2" role="button" aria-disabled="true">Manage teams</a>
    {% if tournament.current_round < tournament.number_of_round %}
    <a href="/admin_tournaments/{{tournament.tournament_id}}/rounds/{{tournament.current_round + 1}}/draw" class="btn btn-primary mt-3 mb-3 pt-1 pb-1" role="button" aria-disabled="true">Draw round {{tournament.current_round + 1}}</a>
    {% else %}
    <a href="/admin_tournaments/{{tournament.tournament_id}}/generate_xml" class="btn btn-success mt-3 mb-3 pt-1 pb-1 mr-2" role="button" aria-disabled="true">Generate xml</a>
    <a href="/admin_tournaments/{{tournament.tournament_id}}/close" class="btn btn-info mt-3 mb-3 pt-1 pb-1 mr-2" role="button" aria-disabled="true">Close tournament</a>
    {% endif %}
    {% endif %}
</div>
{%- endmacro %}

<div class="content-section">
    <div class="row">
        <div class="col" style="min-width: 250px; max-width: 100%">
            <div class="list-group" id="list-tab" role="tablist">
                {% for tournament in active_tournaments %}
                <a class="list-group-item list-group-item-action {% if (not current_tournament and loop.index == 1) or current_tournament == tournament.tournament_id %} active {% endif %} text-white" id="list_{{tournament.tournament_id}}" data-toggle="list" href="#data_{{tournament.tournament_id}}" role="tab" aria-controls="data_{{tournament.tournament_id}}">{{tournament.name}}</a>
                {% endfor %}
            </div>
            <a href="/create_tournament" class="btn btn-primary mt-3 mb-3 pt-1 pb-1" role="button" aria-disabled="true">Create tournament</a>
        </div>
        <div class="col" style="min-width: 75%; max-width: 100%">
            <div class="tab-content" id="nav-tabContent">
                {% for tournament in active_tournaments %}
                <div class="tab-pane fade border-0 mt-2 show {% if (not current_tournament and loop.index == 1) or current_tournament == tournament.tournament_id %} active {% endif %}" id="data_{{tournament.tournament_id}}" role="tabpanel" aria-labelledby="list_{{tournament.tournament_id}}">
                    {{ tournament_view(tournament) }}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/tournament_manager/main.js') }}"></script>
{% endblock content %}