{% extends "layout.html" %}
{% block content %}
<!-- completion item -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.2.26/jquery.autocomplete.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/search_autocomplete.css')}}">

<a href="/admin_tournaments?tournament_id={{tournament_data.id}}" class="link-white"><i class="far fa-arrow-alt-circle-left mt-2 mb-2 ml-2"></i> Tournaments</a>
<div class="content-section d-flex justify-content-center">
    <div class="w-75">
        <h2 class="text-center mb-3">{{tournament_data.name}}</h2>
        <div class="inputWithIcon">
            <input type="text" class="form-control" name="autocomplete" id="autocomplete" placeholder="League name" autofocus>
            <i class="fas fa-search fa-lg fa-fw" aria-hidden="true"></i>
        </div>
        <ul id="league_container" class="list-group list-group-flush mt-5">
            {% if tournament_data.leagues %}
            {% for league in tournament_data.leagues %}
            <li class="list-group-item d-flex league_entry" data-league_id="{{league.id}}" data-league_name="{{league.name}}" id="league_{{league.id}}">
                <p>{{league.name}}</p>
                <button class="btn btn-outline-danger ml-auto" id="delete_{{league.id}}" onclick="remove_league('league_{{league.id}}')">&times;</button>
            </li>
            {% endfor %}
            {% endif %}
        </ul>
        <div class="text-center mt-3">
            <button type="button" class="btn btn-info w-25 font-weight-bold" id="sub_button" onclick="register_leagues('{{tournament_data.id}}', '{{ csrf_token() }}')">Save</button>
        </div>
    </div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='scripts/tournament_manager/manage_leagues.js') }}"></script>
{% endblock content %}