{% extends "layout.html" %}
{% block content %}
<a href="/admin_tournaments?tournament_id={{tournament_id}}" class="link-white"><i class="far fa-arrow-alt-circle-left mt-2 mb-2 ml-2"></i> Tournaments</a>
<div class="content-section">
    <div class="row">
        <div class="col">
            <div class="media text-right">
                <div class="media-body">
                    {% if original_team.id %}
                    <a href="/team?team_id={{original_team.id}}&platform={{original_team.platform_id}}" class="link-white">{{original_team.name}}</a>
                    {% else %}
                    {{original_team.name}}
                    {% endif %}
                    <div class="text-muted"><small>
                        {% if original_team.coach_id %}
                        <a href="/coach?coach_id={{original_team.coach_id}}&platform_id={{original_team.platform_id}}" class="link">{{original_team.coach_name}}</a>
                        {% else %}
                        {{original_team.coach_name}}
                        {% endif %}
                    </small></div>
                </div>
                <img src="{{ url_for('static', filename='spike_resources/img/logos/Logo_' + original_team.logo + '.png') }}" class="align-self-center mr-3 optional-element" style="max-height:40px;">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="new_team_id">New team</label>
                <input type="number" class="form-control" id="new_team_id" aria-describedby="help" min="0" max="1000000000" value="0">
                <small id="help" class="form-text text-muted">Cyanide id of the team.</small>
            </div>
        </div>
    </div>

    <div class="text-center mt-3">
        <button type="button" class="btn btn-outline-success" id="sub_button" onclick="replace_team('{{tournament_id}}', '{{original_team._id}}', '{{ csrf_token() }}')">Replace</button>
    </div>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/tournament_manager/replace_team.js') }}"></script>
{% endblock content %}