{% extends "layout.html" %}
{% block content %}
{% if current_user.is_authenticated and current_user.is_tournament_director() %}
<a href="/admin_tournaments?tournament_id={{standing.tournament_id}}" class="link-white"><i class="far fa-arrow-alt-circle-left mt-2 mb-2 ml-2"></i> Tournaments</a>
{% endif %}
<div class="content-section d-flex justify-content-center">
    <div class="table-responsive">
        <table class="table table-dark table-hover">
            <thead>
            <tr>
                <th scope="col" class="p-1">#</th>
                <th scope="col" class="p-1">Team</th>
                <th scope="col" class="p-1 text-center">Points</th>
                <th scope="col" class="p-1 text-center">Games</th>
                <th scope="col" class="p-1 text-center">W</th>
                <th scope="col" class="p-1 text-center">D</th>
                <th scope="col" class="p-1 text-center">L</th>
                <th scope="col" class="p-1 text-center">TD+</th>
                <th scope="col" class="p-1 text-center">TD-</th>
                <th scope="col" class="p-1 text-center">TDD</th>
                <th scope="col" class="p-1 text-center">Cas+</th>
                <th scope="col" class="p-1 text-center">Cas-</th>
                <th scope="col" class="p-1 text-center">CasD</th>
            </tr>
            </thead>
            <tbody>
            {% for team in standing.standing %}
            <tr>
                <th scope="col" class="p-1">{{team.rank}}</th>
                <td class="p-1">
                    <div class="media">
                        <img src="{{ url_for('static', filename='spike_resources/img/pictos/' + bb_rsrc.get_race_label(team.race_id) + '.png') }}" class="align-self-center mr-3" style="max-height:40px;">
                        <img src="{{ url_for('static', filename='spike_resources/img/logos/Logo_' + team.logo + '.png') }}" class="align-self-center mr-3 optional-element" style="max-height:40px;">
                        <div class="media-body">
                            {% if team.team_id %}
                            <a href="/team?team_id={{team.team_id}}&platform={{team.platform_id}}" class="link-white">{{team.team_name}}</a>
                            {% else %}
                            {{team.team_name}}
                            {% endif %}
                            <div class="text-muted"><small>
                                {% if team.coach_id %}
                                <a href="/coach?coach_id={{team.coach_id}}&platform_id={{team.platform_id}}" class="link">{{team.coach_name}}</a>
                                {% else %}
                                {{team.coach_name}}
                                {% endif %}
                            </small></div>
                        </div>
                    </div>
                </td>
                <td class="p-1 text-center">{{team.points}}</td>
                <td class="p-1 text-center">{{team.games_played}}</td>
                <td class="p-1 text-center">{{team.win}}</td>
                <td class="p-1 text-center">{{team.draw}}</td>
                <td class="p-1 text-center">{{team.loss}}</td>
                <td class="p-1 text-center">{{team.touchdown_scored}}</td>
                <td class="p-1 text-center">{{team.touchdown_conceded}}</td>
                <td class="p-1 text-center">{{team.touchdown_difference}}</td>
                <td class="p-1 text-center">{{team.casualties_inflicted}}</td>
                <td class="p-1 text-center">{{team.casualties_sustained}}</td>
                <td class="p-1 text-center">{{team.casualties_difference}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}