{% extends "layout.html" %}
{% block content %}
{% if current_user.is_authenticated and current_user.is_tournament_director() %}
<a href="/admin_tournaments?tournament_id={{tournament_id}}" class="link-white"><i class="far fa-arrow-alt-circle-left mt-2 mb-2 ml-2"></i> Tournaments</a>
{% endif %}
<div class="content-section">
    <div class="d-flex justify-content-between">
        <h4 class="text-info">Active teams: {{teams|length}}</h4>
    </div>
    <div class="table-responsive mt-3">
        <table class="table table-dark table-hover">
            <thead>
            <tr>
                <th scope="col">Team</th>
                <th scope="col">Coach</th>
                <th scope="col" class="text-center">Naf</th>
                {% if current_user.is_authenticated and current_user.is_tournament_director() %}
                <th scope="col" class="text-right">Replace</th>
                <th scope="col" class="text-right">Remove</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for team in teams %}
            <tr>
                <th scope="row">
                    <img src="{{ url_for('static', filename='spike_resources/img/logos/Logo_' + team.logo + '.png') }}" class="optional-element" style="max-height:40px;">
                    <a href="/team?team_id={{team.id}}&platform={{team.platform_id}}" class="link-white {% if team.status == 1 %}text-danger{% endif %}">{{team.name}}</a>
                </th>
                <td>
                    <a href="/coach?coach_id={{team.coach_id}}&platform_id={{team.platform_id}}" class="link-white {% if team.status == 1 %}text-danger{% endif %}">{{team.coach_name}}</a>
                </td>
                <td class="text-center">
                    {% if team.naf_name and team.naf_number %}
                    <i class="fas fa-check-circle text-success text-center"></i>
                    {% else %}
                    <i class="fas fa-times-circle text-danger text-center"></i>
                    {% endif %}
                </td>
                {% if current_user.is_authenticated and current_user.is_tournament_director() %}
                {% if team.status == 0 %}
                <td class="text-right">
                    <a class="btn btn-outline-info" href="/admin_tournaments/{{tournament_id}}/teams/{{team._id}}/replace_team" role="button" data-toggle="tooltip" data-placement="bottom" title="Replace team">
                        <i class="fas fa-exchange-alt"></i>
                    </a>
                </td>
                <td class="text-right">
                    <a class="btn btn-outline-danger" href="/admin_tournaments/{{tournament_id}}/teams/{{team._id}}/unregister" role="button" data-toggle="tooltip" data-placement="bottom" title="Remove team">
                        <i class="fas fa-trash"></i></a>
                </td>
                {% else %}
                <td class="text-right"></td>
                <td class="text-right"></td>
                {% endif %}
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}