{% extends "layout.html" %}
{% block content %}

<div class="content-section">
    <div class="d-flex justify-content-center">
        <img src="{{league_data.logo}}" style="height:150px">
    </div>
    <div class="d-flex justify-content-center mb-5"><h2>The Spike Eur'Open 2</h2></div>

    <span class="d-block p-2 information-block text-white mt-3">
        <ul class="list-inline text-center mb-0">
            <li class="list-inline-item text-muted"><small><a href="/europen2/round/1" class="link">Round 1</a></small></li>
            <li class="list-inline-item text-muted"><small>::</small></li>
            <li class="list-inline-item text-muted"><small><a href="/europen2/round/2" class="link">Round 2</a></small></li>
            <li class="list-inline-item text-muted"><small>::</small></li>
            <li class="list-inline-item text-muted"><small><a href="/europen2/round/3" class="link">Round 3</a></small></li>
            <li class="list-inline-item text-muted"><small>::</small></li>
            <li class="list-inline-item text-muted"><small><a href="/europen2/round/4" class="link">Round 4</a></small></li>
            <li class="list-inline-item text-muted"><small>::</small></li>
            <li class="list-inline-item text-muted"><small><a href="/europen2/round/5" class="link">Round 5</a></small></li>
        </ul>
    </span>
    <div class="table-responsive">
        <table class="table table-dark table-hover">
            <thead>
            <tr>
                <th colspan="3" scope="colgroup"></th>
                <th colspan="5" scope="colgroup" class="p-1 text-center">Team</th>
                <th colspan="6" scope="colgroup" class="p-1 text-center text-info">Individual</th>
            </tr>
            <tr>
                <th scope="col" class="p-1">#</th>
                <th scope="col" class="p-1">Team Name</th>
                <th scope="col" class="p-1">Races</th>
                <th scope="col" class="p-1 text-center">Points</th>

                <th scope="col" class="p-1 text-center">Games</th>
                <th scope="col" class="p-1 text-center">W</th>
                <th scope="col" class="p-1 text-center">D</th>
                <th scope="col" class="p-1 text-center ">L</th>

                <th scope="col" class="p-1 text-center text-info">Points</th>
                <th scope="col" class="p-1 text-center text-info">Games</th>
                <th scope="col" class="p-1 text-center text-info">TCP</th>

                <th scope="col" class="p-1 text-center text-info">TDD</th>
                <th scope="col" class="p-1 text-center text-info">CasD</th>


                <th scope="col" class="p-1 text-center text-info">TDD+CASD</th>

            </tr>
            </thead>
            <tbody>
            {% for team in competition_data.standing %}
            <tr>
                <th scope="row" class="p-1">{{team.rank}}</th>
                <td class="p-1">
                    <div class="media">
                        <div class="media-body">
                            {{team.team_name}}
                            <div class="text-muted"><small>
                                {% for coach in team.members %}
                                <a href="/coach?coach_id={{coach.coach_id}}&platform_id={{league_data.platform_id}}" class="link">{{coach.coach_name}}</a>
                                {% if loop.index < 3 %}
                                /
                                {%endif%}
                                {% endfor %}
                            </small></div>
                        </div>
                    </div>
                </td>
                <td class="p-1">
                    {% for coach in team.members %}
                    {% if coach.race_name %}
                    <img src="{{ url_for('static', filename='spike_resources/img/pictos/' + coach.race_name + '.png') }}" class="align-self-center mr-3" style="max-height:40px;">
                    {%endif %}
                    {% endfor %}
                </td>

                <td class="p-1 text-center">{{team.points}}</td>
                <td class="p-1 text-center" data-toggle="tooltip" data-placement="bottom" title="{{ team.opponents_name|safe }}">{{team.games_played}}</td>
                <td class="p-1 text-center">{{team.win}}</td>
                <td class="p-1 text-center">{{team.draw}}</td>
                <td class="p-1 text-center">{{team.loss}}</td>

                <td class="p-1 text-center text-info">{{team.individual_points}}</td>
                <td class="p-1 text-center text-info">{{team.individual_games}}</td>
                <td class="p-1 text-center text-info">{{team.external_tie_breaker}}</td>

                <td class="p-1 text-center text-info">{{team.tdd}}</td>
                <td class="p-1 text-center text-info">{{team.casualties_difference}}</td>
                <td class="p-1 text-center text-info">{{team.coleman_waldorf_3}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}
