{% extends "layout.html" %}
{% block content %}
<div class="content-section" xmlns="http://www.w3.org/1999/html">
    <legend class="border-bottom mb-4">
        <div class="d-flex justify-content-between">
            <div class="media">
                <img src="{{competition_data.logo}}" class="align-self-center mr-3" style="max-height:70px;">
                <div class="media-body">
                    <div>
                        Pairing for round {{round_index}}
                    </div>
                    <div class="text-muted"><small><a href="/europen2" class="link">{{league_data.name}}</a></small></div>
                </div>
            </div>
        </div>
    </legend>

    {% if contests %}
    {% for contest in contests %}
    <div class="card text-center mb-3">
        <div class="card-header p-1">
            <div class="d-flex justify-content-between p-2">
                {% if loop.index < 19 %}
                <div class="text-left font-weight-bold text-primary">Spike EurOpen 2</div>
                <div class="text-left font-weight-bold text-primary">Table {{loop.index}}</div>
                <div class="text-left font-weight-bold text-primary">R{{round_index}}T{{loop.index}}</div>
                {% else %}
                <div class="text-left font-weight-bold text-success">Spike Eur'Open 2</div>
                <div class="text-left font-weight-bold text-success">Table {{loop.index}}</div>
                <div class="text-left font-weight-bold text-success">R{{round_index}}T{{loop.index}}</div>
                {% endif %}
            </div>
            <table class="table table-borderless text-white p-0 mb-0">
                <tbody>
                <tr>
                    <td class="text-right w-50"><h3>{{contest.home_team.team_name}}</h3></td>
                    <td style="width:50px;"><small class="text-muted">vs</small></td>
                    <td class="text-left"><h3>{{contest.away_team.team_name}}</h3></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="card-body p-0">
            <table class="table table-borderless text-white mb-3" style="padding-bottom: .6rem;">
                <tbody>
                {% for index in range(0,3) %}
                <tr>
                    <td class="text-right w-50">
                        <div class="media">
                            <div class="media-body">
                                {% if contest.home_team.members[index].team_name %}
                                <a href="/team?team_id={{contest.home_team.members[index].team_id}}&platform={{competition_data.platform_id}}" class="link-white">{{ contest.home_team.members[index].team_name }}</a>
                                {% else %}
                                Team name
                                {% endif %}
                                <div class="text-muted"><small>
                                    {% if contest.home_team.members[index].coach_id%}
                                    <a href="/coach?coach_id={{contest.home_team.members[index].coach_id}}&platform_id={{competition_data.platform_id}}" class="link">{{ contest.home_team.members[index].coach_name }}</a>
                                    {% else %}
                                    -
                                    {% endif %}
                                </small></div>
                            </div>
                            <img src="{{ url_for('static', filename='spike_resources/img/logos/Logo_' + contest.home_team.members[index].get('team_logo', 'Neutre_04') + '.png') }}" class="align-self-center ml-3" style="max-height:40px;">
                        </div>
                    </td>

                    <td class="text-center align-self-center" style="width:50px;">vs</td>

                    <td class="text-left">
                        <div class="media">
                            <img src="{{ url_for('static', filename='spike_resources/img/logos/Logo_' + contest.away_team.members[index].get('team_logo', 'Neutre_04') + '.png') }}" class="align-self-center mr-3" style="max-height:40px;">
                            <div class="media-body">
                                {% if contest.away_team.members[index].team_name %}
                                <a href="/team?team_id={{contest.away_team.members[index].team_id}}&platform={{competition_data.platform_id}}" class="link-white">{{ contest.away_team.members[index].team_name }}</a>
                                {% else %}
                                Team name
                                {% endif %}
                                <div class="text-muted"><small>
                                    {% if contest.away_team.members[index].coach_id%}
                                    <a href="/coach?coach_id={{contest.away_team.members[index].coach_id}}&platform_id={{competition_data.platform_id}}" class="link">{{ contest.away_team.members[index].coach_name }}</a>
                                    {% else %}
                                    -
                                    {% endif %}
                                </small></div>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="d-flex justify-content-start font-weight-bold text-info p-1">Administrator: {{ administrators[loop.index-1]}}</div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock content %}
