{% extends "layout.html" %}
{% block content %}
<div class="content-section" xmlns="http://www.w3.org/1999/html">
    <legend class="border-bottom mb-4">
        <div class="d-flex justify-content-between">
            <div class="media">
                <img src="{{competition_data.logo}}" class="align-self-center mr-3" style="max-height:70px;">
                <div class="media-body">
                    <div>
                        Registered Teams
                    </div>
                    <div class="text-muted"><small><a href="/europen2" class="link">{{league_data.name}}</a></small></div>
                </div>
            </div>
        </div>
    </legend>

    <div class="row ml-5">
        {% for team in team_list %}
        <div class="card text-center m-2" style="width: 400px;">
            <div class="card-header">
                {{ team.team_name }}
            </div>
            <div class="card-body p-2">
                <div class="row">
                    {% for member in team.members %}
                    <div class="col">
                        <a href="/coach?coach_id={{ member.coach_id }}&platform_id={{ league_data.platform_id}}" class="link-white">{{member.coach_name}}</a>
                        {% if member.team_id %}
                        </br>
                        <a href="/team?team_id={{ member.team_id }}&platform={{ league_data.platform_id}}" class="link">Team</a>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>


</div>
{% endblock content %}
