{% extends "tournaments/tournament.html" %}
{% block tournament_view %}
<h3 class="text-center mb-2 mt-2">Round {{round_index}}</h3>
<div class="table-responsive">
    <table class="table table-dark table-hover">
        <tbody>
        {% for contest in contest_data.contests %}
        <tr>
            <td class="p-1">Table {{loop.index}}</td>
            <td class="p-1 text-right">
                <div class="media">
                    <img src="{{ url_for('static', filename='spike_resources/img/pictos/' + contest.home_team_data.race + '.png') }}" class="align-self-center mr-3 optional-element" style="max-height:40px;">
                    <img src="{{ url_for('static', filename='spike_resources/img/logos/Logo_' + contest.home_team_data.logo + '.png') }}" class="align-self-center mr-3 optional-element" style="max-height:40px;">
                    <div class="media-body">
                        <a href="/team?team_id={{contest.home_team_data.id}}&platform={{contest.home_team_data.platform_id}}" class="link-white">{{contest.home_team_data.name}}</a>
                        <div class="text-muted"><small>
                            <a href="/coach?coach_id={{contest.home_team_data.coach_id}}&platform_id={{contest.home_team_data.platform_id}}" class="link">{{contest.home_team_data.coach_name}}</a>
                        </small></div>
                    </div>
                </div>
            </td>
            <td class="p-1 text-center">{{contest.home_team.get('score', '-')}}</td>
            <td class="p-1 text-center">{{contest.away_team.get('score', '-')}}</td>
            <td class="p-1">
                <div class="media">
                    <div class="media-body">
                        <a href="/team?team_id={{contest.away_team_data.id}}&platform={{contest.away_team_data.platform_id}}" class="link-white">{{contest.away_team_data.name}}</a>
                        <div class="text-muted"><small>
                            <a href="/coach?coach_id={{contest.away_team_data.coach_id}}&platform_id={{contest.away_team_data.platform_id}}" class="link">{{contest.away_team_data.coach_name}}</a>
                        </small></div>
                    </div>
                    <img src="{{ url_for('static', filename='spike_resources/img/logos/Logo_' + contest.away_team_data.logo + '.png') }}" class="align-self-center mr-3 optional-element" style="max-height:40px;">
                    <img src="{{ url_for('static', filename='spike_resources/img/pictos/' + contest.away_team_data.race + '.png') }}" class="align-self-center mr-3 optional-element" style="max-height:40px;">
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock tournament_view %}