{% extends "tournaments/tournament.html" %}
{% block tournament_view %}
<h3 class="text-center mb-2 mt-2">Teams</h3>
<div class="table-responsive mt-3">
    <table class="table table-dark table-hover">
        <thead>
        <tr>
            <th scope="col">Team</th>
            <th scope="col">Coach</th>
            <th scope="col" class="text-center">Naf</th>
        </tr>
        </thead>
        <tbody>
        {% for team in teams %}
        <tr>
            <th scope="row">
                <img src="{{ url_for('static', filename='spike_resources/img/logos/Logo_' + team.logo + '.png') }}" class="optional-element" style="max-height:40px;">
                <a href="/team?team_id={{team.id}}&platform={{team.platform_id}}" class="link-white">{{team.name}}</a>
            </th>
            <td>
                <a href="/coach?coach_id={{team.coach_id}}&platform_id={{team.platform_id}}" class="link-white">{{team.coach_name}}</a>
            </td>
            <td class="text-center">
                {% if team.naf_name and team.naf_number %}
                <i class="fas fa-check-circle text-success text-center"></i>
                {% else %}
                <i class="fas fa-times-circle text-danger text-center"></i>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock tournament_view %}