{% extends "layout.html" %}
{% block content %}
<!-- completion item -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/competition.css') }}">

<div class="content-section">
    <div class="d-flex justify-content-center">
        <img src="{{tournament_data.logo}}" style="height:90px">
    </div>
    <div class="d-flex justify-content-center text-center">
        <h2>{{tournament_data.name}}</h2>
    </div>

    <span class="d-block p-2 information-block mt-3">
        <ul class="list-inline text-center mb-0">
            <li class="list-inline-item text-info"><a href="/tournaments/{{tournament_id}}" class="link-white">Standing</a></li>
            <li class="list-inline-item text-muted">::</li>
            <li class="list-inline-item text-info"><a href="/tournaments/{{tournament_id}}/teams" class="link-white">Teams</a></li>

            {% for round in range(0, tournament_data.number_of_round) %}
            <li class="list-inline-item text-muted">::</li>
            <li class="list-inline-item text-info"><a href="/tournaments/{{tournament_id}}/rounds/{{loop.index}}" class="link-white">Round {{loop.index}}</a></li>
            {% endfor %}

        </ul>
    </span>
    {% block tournament_view %}{% endblock %}
</div>

{% endblock content %}
