<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Last results</title>
</head>
<body>
<marquee direction="right" height="50" width="800" style="font-size:24px; vertical-align: middle;">
    {% for match in last_match %}
    {{match.team_home.name}} <img src="{{ url_for('static', filename='spike_resources/img/logos/Logo_' + match.team_home.logo + '.png') }}" style="height:16px;"> {{match.team_home.score}} - {{match.team_away.score}} <img src="{{ url_for('static', filename='spike_resources/img/logos/Logo_' + match.team_away.logo + '.png') }}" style="height:16px;"> {{match.team_away.name}}
    {% if not loop.last %}
    ::
    {% endif %}
    {% endfor %}
</marquee>
</body>
</html>