<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Match announcement</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/bootstrap-4.3.1-dist/bootstrap.min.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/stream_views.css') }}">

</head>
<body>

<div style="position: absolute; top: 195px; left: 530px; width:900px; height:45px;">
    <div class="d-flex justify-content-center text-white">
        <h2>
            <img src="https://cdn.discordapp.com/emojis/{{contest.get_competition_logo()}}.png" style="height:50px;">
            {{contest.get_league_name()}} :: {{contest.get_competition_name()}}
            <img src="https://cdn.discordapp.com/emojis/{{contest.get_competition_logo()}}.png" style="height:50px;">
        </h2>
    </div>
</div>

<div style="position: absolute; top: 280px; left: 630px; width:700px; height:30px;">
    <div class="d-flex justify-content-center">
        <h2 class="text-light font-weight-bold">
            {{round_label}}
        </h2>
    </div>
</div>

<div style="position: absolute; top: 395px; left: 350px; width:350px; height:345px;">
    <div class="media mt-2 mb-5">
        <div class="media-body text-right">
            <h4 class="mt-1">{{ contest.data.team_home.team_name }}</h4>
            <h5>
                {% if contest.data.team_home.coach_name%}
                {{ contest.data.team_home.coach_name }}
                {% else %}
                AI
                {% endif %}
            </h5>
            {% if home_team %}
            <h6>{{home_team.get_team_value()}}</h6>
            {% endif %}
        </div>
        {% if contest.data.team_home.team_logo %}
        <img src="../../../static/spike_resources/img/logos/Logo_{{contest.data.team_home.team_logo}}.png" class="align-self-center ml-2" style="height:90px;">
        {% else %}
        <img src="../../../static/spike_resources/img/logos/Logo_Neutre_04.png" class="align-self-center ml-2" style="height:90px;">
        {% endif %}
    </div>
    <div class="d-flex justify-content-between mt-5">
        {% if home_sponsor %}
        <img src="../../../static/spike_resources/img/sponsors/{{home_sponsor}}.png" class="align-self-center" style="height:200px;">
        {% endif %}
        <img src="../../../static/spike_resources/img/pictos/{{contest.data.team_home.race}}.png" class="align-self-center" style="width:200px;">
    </div>
</div>

<div style="position: absolute; top: 395px; left: 1235px; width:350px; height:345px;">
    <div class="media mt-2 mb-5">
        {% if contest.data.team_away.team_logo %}
        <img src="../../../static/spike_resources/img/logos/Logo_{{contest.data.team_away.team_logo}}.png" class="align-self-center ml-2" style="height:90px;">
        {% else %}
        <img src="../../../static/spike_resources/img/logos/Logo_Neutre_04.png" class="align-self-center ml-2" style="height:90px;">
        {% endif %}
        <div class="media-body text-left">
            <h4>{{ contest.data.team_away.team_name }}</h4>
            <h5>
                {% if contest.data.team_away.coach_name%}
                {{ contest.data.team_away.coach_name }}
                {% else %}
                AI
                {% endif %}
            </h5>
            {% if away_team %}
            <h6>{{away_team.get_team_value()}}</h6>
            {% endif %}
        </div>
    </div>
    <div class="d-flex justify-content-between mt-5">
        <img src="../../../static/spike_resources/img/pictos/{{contest.data.team_away.race}}.png" class="align-self-center" style="height:200px;">
        {% if away_sponsor %}
        <img src="../../../static/spike_resources/img/sponsors/{{away_sponsor}}.png" class="align-self-center" style="width:200px;">
        {% endif %}
    </div>
</div>
<div style="position: absolute; top: 663px; left: 868px; width:200px; height:30px;">
    <span class="d-block p-2 text-white" style="background-color: #202225;">
        <ul class="list-inline text-center mb-0">
            <li class="list-inline-item text-info font-weight-bold">{{odds.home_odd}}</li>
            <li class="list-inline-item text-muted"><small>::</small></li>
            <li class="list-inline-item text-info font-weight-bold">{{odds.draw_odd}}</li>
            <li class="list-inline-item text-muted"><small>::</small></li>
            <li class="list-inline-item text-info font-weight-bold">{{odds.away_odd}}</li>
        </ul>
    </span>
</div>

{% if home_team %}
<div style="position: absolute; top: 710px; left: 892px; width:154px; height:105px;">
    <img src="../../../static/spike_resources/img/stadiums/{{home_team.get_stadium_type()}}.png" class="align-self-center" style="width:154px; height:105px;">
</div>
{% endif %}
{% if stadium_upgrade %}
<div style="position: absolute; top: 815px; left: 938px; width:68px; height:85px;">
    <img src="../../../static/spike_resources/img/stadiums/picto_{{stadium_upgrade}}.png" class="align-self-center" style="width:68px; height:85px;">
</div>
{% endif %}
</body>
</html>